Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

Fix string sorting function & formatMoney function to handle nulls and not format them as $0.00
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

WIP contracted work payment interim endpoint, sorting, tidy
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/namespace.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/components/common/DocumentTable.js
  services/dsrp-web/src/components/forms/InterimContractedWorkPaymentForm.js
  services/dsrp-web/src/components/modalContent/ContractedWorkPaymentModal.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/components/pages/PaymentDocumentTable.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/styles/overrides/antd-overrides.scss
Labels: 💾 Backend, 💻 Frontend

Contracted work payment status changes table, more endpoints, tidy datastructures, other
  migrations/sql/V2020.08.11.16.45__create_application_document_type_table.sql
  migrations/sql/V2020.08.12.14.17__create_contracted_work_payment_info_and_payment_status_tables.sql
  services/dsrp-api/app/api/application/namespace.py
  services/dsrp-api/app/api/contracted_work/models/__init__.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment_status_change.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment_type.py
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/response_models.py
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/common/FileUpload.js
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/components/forms/FinalContractedWorkPaymentForm.js
  services/dsrp-web/src/components/forms/InterimProgressReportForm.js
  services/dsrp-web/src/components/modalContent/ContractedWorkPaymentModal.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/forms.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/styles/generic/layout.scss
  services/dsrp-web/src/styles/overrides/filepond-overrides.scss
  services/dsrp-web/src/utils/helpers.js
Labels: 💾 Backend, 💻 Frontend

Tidy status descrption into component, make applicationSummary custom prop type
  services/dsrp-web/src/components/pages/ApplicationStatusCard.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
  services/dsrp-web/src/customPropTypes/application.js
  services/dsrp-web/src/customPropTypes/index.js
Labels: 💻 Frontend

Don't show document upload message when none were uploaded, add loading effect for doc submit button, improve styling
  services/dsrp-api/app/api/application/resources/application_document.py
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
Labels: 💾 Backend, 💻 Frontend

Fix formatMoney function
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

Fix "afterClose is not a function" error when props.props is provided but the function isn't
  services/dsrp-web/src/components/common/wrappers/ModalWrapper.js
Labels: 💻 Frontend

Update react, redux, ant design packages
  services/dsrp-web/package-lock.json
  services/dsrp-web/package.json
Labels: 💻 Frontend

Create interim progress report end points, create interim/final first submission dates, capture actual work end date in Final Payment form, rename var, date validation field function, other
  migrations/sql/V2020.08.12.14.17__create_contracted_work_payment_info_and_payment_status_tables.sql
  services/dsrp-api/app/api/application/namespace.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/response_models.py
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/components/forms/InterimProgressReportForm.js
  services/dsrp-web/src/components/pages/ApplicationStatusCard.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/forms.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/utils/validate.js
Labels: 💾 Backend, 💻 Frontend

Create interim progress report end points, create interim/final first submission dates, capture actual work end date in Final Payment form, rename var, date validation field function, other
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
Labels: 💻 Frontend

More placeholder/WIP certification text, linter
  services/dsrp-web/.eslintrc.js
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
Labels: 💻 Frontend

Indicate Interim Progress Report submission status in column, display overall progress for interim/final payments
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
Labels: 💻 Frontend

Remove UNDER_REVIEW contracted work payment status code
  migrations/sql/V2020.08.12.14.17__create_contracted_work_payment_info_and_payment_status_tables.sql
Labels: none

Move application status help text to be at bottom of page, other
  services/dsrp-web/src/components/pages/ApplicationStatusCard.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

Rename file/class, remove checkbox for Interim Progress Report
  services/dsrp-web/src/components/forms/InterimReportForm.js
  services/dsrp-web/src/components/modalContent/ContractedWorkPaymentModal.js
Labels: 💻 Frontend

Update antd progress text colour
  services/dsrp-web/src/styles/overrides/antd-overrides.scss
Labels: 💻 Frontend

Update certification checkbox for for interim/final EoC submission
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
Labels: 💻 Frontend

Remove admin auth from endpoint
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
Labels: 💾 Backend

Add TODOs to endpoints requiring(?) OTP protection, WIP endpoint for approved contracted work list resource
  services/dsrp-api/app/api/application/namespace.py
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
  services/dsrp-api/app/api/application/resources/application_document.py
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
Labels: 💾 Backend

fix application_document_guid having no pkey, more wip work on endpoint
  migrations/sql/V2020.08.11.16.45__create_application_document_type_table.sql
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
Labels: 💾 Backend

Fix migration syntax error
  migrations/sql/V2020.08.12.14.17__create_contracted_work_payment_info_and_payment_status_tables.sql
Labels: none

Remove line that is for testing locally only
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

Admin approved contracted work endpoint with sorting/filtering (WIP)
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
Labels: 💾 Backend

Update tusd, use verbose logging
  openshift/docker-images/tusd/init.sh
  openshift/templates/tusd.bc.json
  services/tusd/Dockerfile
Labels: 🏭 CI/CD

Fix app name in dev-config groovy?
  openshift/pipeline/config-dev.groovy
Labels: 🏭 CI/CD

Revert "Fix app name in dev-config groovy?"
  openshift/pipeline/config-dev.groovy
Labels: 🏭 CI/CD

Update tusd.dc.json
  openshift/templates/tusd.dc.json
Labels: 🏭 CI/CD

Set proxy_headers_hash_max_size 512 and proxy_headers_hash_bucket_size 128 in nginx.conf get rid of warning in terminal
  services/nginx/conf.d/proxy.params
Labels: none

Revert "Update tusd, use verbose logging"
  openshift/docker-images/tusd/init.sh
  openshift/templates/tusd.bc.json
  services/tusd/Dockerfile
Labels: 🏭 CI/CD

tusd verbose logging
  openshift/docker-images/tusd/init.sh
Labels: 🏭 CI/CD

Revert filepond version changes
  services/dsrp-web/package-lock.json
  services/dsrp-web/package.json
Labels: 💻 Frontend

TEST PATCH resource
  services/dsrp-api/app/api/application/namespace.py
  services/dsrp-api/app/api/application/resources/application.py
Labels: 💾 Backend

Move pagination to helper function
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
  services/dsrp-api/app/api/utils/helpers.py
Labels: 💾 Backend

TUSD change ID prefix in development environment
  openshift/docker-images/tusd/init.sh
  openshift/pipeline/config-dev.groovy
  openshift/templates/tusd.dc.json
Labels: 🏭 CI/CD

Negate logic
  openshift/docker-images/tusd/init.sh
Labels: 🏭 CI/CD

Add extra bracket
  openshift/docker-images/tusd/init.sh
Labels: 🏭 CI/CD

Remove extra change ID in TUSD url for frontend
  openshift/pipeline/config-dev.groovy
Labels: 🏭 CI/CD

Revert "Revert filepond version changes"
  services/dsrp-web/package-lock.json
  services/dsrp-web/package.json
Labels: 💻 Frontend

Update tusd
  openshift/templates/tusd.bc.json
  services/tusd/Dockerfile
Labels: 🏭 CI/CD

Remove test endpoint
  services/dsrp-api/app/api/application/namespace.py
  services/dsrp-api/app/api/application/resources/application.py
Labels: 💾 Backend
