Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

Create V2021.02.24.10.23__update_company_payment_info_qualified_receiver_name.sql
  migrations/sql/V2021.02.24.10.23__update_company_payment_info_qualified_receiver_name.sql
Labels: none

Put WANs in PRFs
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/services/email_service.py
  services/dsrp-api/app/templates/payment_request_form.xlsx
Labels: 💾 Backend

Modify PRF formatting
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/services/email_service.py
  services/dsrp-api/app/templates/payment_request_form.xlsx
Labels: 💾 Backend

WIP warning for idential interim and final EOC totals
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
Labels: 💻 Frontend

Add null check
  services/dsrp-api/app/api/application/models/payment_document.py
Labels: 💾 Backend

Change status filtering for CWPs, move if check
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
Labels: 💾 Backend

Update R__work_info_view.sql
  migrations/sql/R__work_info_view.sql
Labels: none

Reset the selected CWP items on PRF generation
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/admin/ReviewApprovedContractedWorkInfo.js
Labels: 💻 Frontend

Create function for rendering these alerts, add alert if final EoC total is greater than interim EoC total
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
Labels: 💻 Frontend

Update language
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
Labels: 💻 Frontend

Increase metabase deadline
  openshift/templates/tools/metabase.bc.json
Labels: 🏭 CI/CD

Add lifecycle preStop for database containers
  openshift/templates/postgresql.dc.json
  openshift/templates/tools/metabase-postgres.dc.json
Labels: 🏭 CI/CD

Create V2021.03.03.12.27__update_application_after_insert_work_id_trigger.sql
  migrations/sql/V2021.03.03.12.27__update_application_after_insert_work_id_trigger.sql
Labels: none

Create V2021.03.03.15.18__update_company_payment_info_record.sql
  migrations/sql/V2021.03.03.15.18__update_company_payment_info_record.sql
Labels: none

Update "closed to applications" message
  services/dsrp-web/src/components/pages/LandingPage.js
Labels: 💻 Frontend

Add Indigenous participation bullet to list
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
  services/dsrp-web/src/components/pages/ApplicationSuccessPage.js
Labels: 💻 Frontend

Company search on approved work view is "contains" and not "exact" filter
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Update contains method
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Set application_date for Shared Cost Agreement letter
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Update Shared Cost Agreement template to new version
  services/dsrp-api/app/templates/shared_cost_agreement.docx
Labels: 💾 Backend

Remove validation on approved amounts (allow 0, negatives, etc.)
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💾 Backend, 💻 Frontend

Let $0.00 be the default
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

Create V2021.03.11.12.45__insert_application_statuses.sql
  migrations/sql/V2021.03.11.12.45__insert_application_statuses.sql
Labels: none

WIP amendment docx
  services/dsrp-api/app/templates/shared_cost_agreement_amendment.docx
Labels: 💾 Backend

WIP work for generating/emailing SCAA doc
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/application_status_change.py
  services/dsrp-api/app/api/services/application_status_change_actions.py
  services/dsrp-api/app/api/services/document_generator_service.py
  services/dsrp-api/app/api/services/email_service.py
  services/dsrp-api/app/config.py
Labels: 💾 Backend

Add amendment email secrets to template
  openshift/templates/_python36.dc.json
Labels: 🏭 CI/CD

Allow user to upload the signed SCAA
  services/dsrp-api/app/api/application/resources/application_document.py
Labels: 💾 Backend

Update amendment status/email flow
  openshift/templates/_python36.dc.json
  services/dsrp-api/app/api/application/models/application_status_change.py
  services/dsrp-api/app/api/services/application_status_change_actions.py
  services/dsrp-api/app/api/services/email_service.py
  services/dsrp-api/app/config.py
  services/dsrp-web/src/components/pages/ApplicationStatusCard.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

Allow admins to edit permit holder
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💾 Backend, 💻 Frontend

Create V2021.03.06.16.28__update_company_payment_info_record.sql
  migrations/sql/V2021.03.06.16.28__update_company_payment_info_record.sql
Labels: none

Add initial company payment info response and resources for api
  services/dsrp-api/app/api/company_payment_info/resources/company_payment_info.py
  services/dsrp-api/app/api/company_payment_info/response_models.py
Labels: 💾 Backend

Setup company payment info admin nav, route and test markup for table component
  services/dsrp-web/src/components/admin/ManageCompanyPaymentInfo.js
  services/dsrp-web/src/components/layout/HeaderDropdown.js
  services/dsrp-web/src/components/pages/ReviewCompanyPaymentInfoPage.js
  services/dsrp-web/src/constants/routes.js
  services/dsrp-web/src/routes/Routes.js
Labels: 💻 Frontend

Create V2021.03.08.10.32__add_application_json_backup.sql
  migrations/sql/V2021.03.08.10.32__add_application_json_backup.sql
Labels: none

Append edit notes
  services/dsrp-api/app/api/application/resources/application.py
Labels: 💾 Backend

Admin can edit company/indig fields
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💾 Backend, 💻 Frontend

Update shared_cost_agreement_amendment.docx
  services/dsrp-api/app/templates/shared_cost_agreement_amendment.docx
Labels: 💾 Backend

Add original agreement date to amendment
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Fix date conversion
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Render different Supporting Docs list for AMENDMENT_STARTED application code, change status descriptive text
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
  services/dsrp-web/src/components/pages/ApplicationStatusCard.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

Update Final Report
  services/dsrp-web/src/assets/downloads/Dormant Sites Reclamation Program - Final Report.docx
  services/dsrp-web/src/assets/downloads/Dormant Sites Reclamation Program - Final Report.pdf
  services/dsrp-web/src/constants/assets.js
Labels: 💻 Frontend

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*
