Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

Change metadata title of PDF
  services/dsrp-web/src/assets/downloads/Dormant Sites Reclamation Program - Final Report.pdf
Labels: 💻 Frontend

Create V2020.06.01.00.00__create_work_info_view.sql
  migrations/sql/V2020.06.01.00.00__create_work_info_view.sql
Labels: none

Mounting table component and fetch being called
  services/dsrp-web/src/actionCreators/CPIActionCreator.js
  services/dsrp-web/src/actions/CPIActions.js
  services/dsrp-web/src/components/admin/CompanyPaymentInfoTable.js
  services/dsrp-web/src/components/admin/ManageCompanyPaymentInfo.js
  services/dsrp-web/src/components/pages/ReviewCompanyPaymentInfoPage.js
  services/dsrp-web/src/constants/actionTypes.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/reducers/CPIReducer.js
  services/dsrp-web/src/selectors/CPISelectors.js
Labels: 💻 Frontend

Implement company-payment-info backend resource and register it
  services/dsrp-api/app/__init__.py
  services/dsrp-api/app/api/company_payment_info/models/company_payment_info.py
  services/dsrp-api/app/api/company_payment_info/namespace.py
  services/dsrp-api/app/api/company_payment_info/resources/company_payment_info.py
  services/dsrp-api/app/api/company_payment_info/response_models.py
Labels: 💾 Backend

Correct company address field in api resource
  services/dsrp-api/app/api/company_payment_info/resources/company_payment_info.py
  services/dsrp-api/app/api/company_payment_info/response_models.py
Labels: 💾 Backend

Refactor cpi reducers and register them in the frontend
  services/dsrp-web/src/reducers.js
  services/dsrp-web/src/reducers/CPIReducer.js
  services/dsrp-web/src/reducers/rootReducer.js
Labels: 💻 Frontend

Refactor cpi page and add edit button placeholders
  services/dsrp-web/src/components/admin/CompanyPaymentInfoTable.js
  services/dsrp-web/src/components/admin/ManageCompanyPaymentInfo.js
  services/dsrp-web/src/components/pages/ReviewCompanyPaymentInfoPage.js
Labels: 💻 Frontend

Add signature image to SCAA
  services/dsrp-api/app/templates/shared_cost_agreement_amendment.docx
Labels: 💾 Backend

Add permit holder/operator ID hybrid properties and show them in agreement letters
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Remove additional validation so amounts can be $0
  services/dsrp-api/app/api/application/models/payment_document.py
Labels: 💾 Backend

Fix showing WANs for first PRFs with no CWPs
  services/dsrp-api/app/api/application/models/payment_document.py
Labels: 💾 Backend

Implement cpi edit modal
  services/dsrp-web/src/components/admin/CompanyPaymentInfoTable.js
  services/dsrp-web/src/components/admin/ManageCompanyPaymentInfo.js
  services/dsrp-web/src/components/forms/AdminEditCompanyPaymentInfoForm.js
  services/dsrp-web/src/components/modalContent/AdminEditCompanyPaymentInfoModal.js
  services/dsrp-web/src/components/modalContent/config.js
  services/dsrp-web/src/constants/forms.js
Labels: 💻 Frontend

Setup default values for cpi edit form
  services/dsrp-web/src/components/forms/AdminEditCompanyPaymentInfoForm.js
  services/dsrp-web/src/components/modalContent/AdminEditCompanyPaymentInfoModal.js
Labels: 💻 Frontend

Cleanup fields and add submit and cancel buttons
  services/dsrp-web/src/components/forms/AdminEditCompanyPaymentInfoForm.js
Labels: 💻 Frontend

Implement add cpi flow and cleanup modal config
  services/dsrp-web/src/components/admin/CompanyPaymentInfoTable.js
  services/dsrp-web/src/components/forms/AdminEditCompanyPaymentInfoForm.js
  services/dsrp-web/src/components/modalContent/config.js
  services/dsrp-web/src/components/pages/ReviewCompanyPaymentInfoPage.js
Labels: 💻 Frontend

Create R__work_subcontractor_info_view.sql
  migrations/sql/R__work_subcontractor_info_view.sql
Labels: none

Fix cpi kwarg mapping issue and update frontend apis for cpi
  services/dsrp-api/app/api/company_payment_info/resources/company_payment_info.py
  services/dsrp-web/src/actionCreators/CPIActionCreator.js
  services/dsrp-web/src/components/admin/CompanyPaymentInfoTable.js
  services/dsrp-web/src/components/admin/ManageCompanyPaymentInfo.js
  services/dsrp-web/src/components/forms/AdminEditCompanyPaymentInfoForm.js
  services/dsrp-web/src/constants/api.js
Labels: 💾 Backend, 💻 Frontend

WIP implementation of form fields
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/customPropTypes/application.js
Labels: 💾 Backend, 💻 Frontend

More WIP work collect subcontractor info
  migrations/sql/V2021.03.25.14.05__add_subcontractors_to_contracted_work_payment.sql
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/response_models.py
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/components/modalContent/ContractedWorkPaymentModal.js
Labels: 💾 Backend, 💻 Frontend

Move cpi post verb to base endpoint
  services/dsrp-api/app/api/company_payment_info/resources/company_payment_info.py
Labels: 💾 Backend

Implement handlers for new state after cpi changes
  services/dsrp-web/src/actionCreators/CPIActionCreator.js
  services/dsrp-web/src/components/admin/CompanyPaymentInfoTable.js
  services/dsrp-web/src/components/admin/ManageCompanyPaymentInfo.js
  services/dsrp-web/src/reducers/CPIReducer.js
Labels: 💻 Frontend

Double deadlines in backend build configs
  openshift/templates/_python36.bc.json
Labels: 🏭 CI/CD

Double frontend build config deadlines
  openshift/templates/_nodejs.bc.json
Labels: 🏭 CI/CD

Remove unused table sorter
  services/dsrp-web/src/components/admin/CompanyPaymentInfoTable.js
Labels: 💻 Frontend

Remove unused imports in company payment info api resource
  services/dsrp-api/app/api/company_payment_info/resources/company_payment_info.py
Labels: 💾 Backend

Remove unused imports, members and funcs for company payment info components
  services/dsrp-web/src/actionCreators/CPIActionCreator.js
  services/dsrp-web/src/actions/CPIActions.js
  services/dsrp-web/src/components/admin/ManageCompanyPaymentInfo.js
  services/dsrp-web/src/components/forms/AdminEditCompanyPaymentInfoForm.js
  services/dsrp-web/src/components/pages/ReviewCompanyPaymentInfoPage.js
  services/dsrp-web/src/constants/actionTypes.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/constants/routes.js
  services/dsrp-web/src/reducers/CPIReducer.js
  services/dsrp-web/src/selectors/CPISelectors.js
Labels: 💻 Frontend

unnest company payment info in post verb
  services/dsrp-api/app/api/company_payment_info/resources/company_payment_info.py
Labels: 💾 Backend

Refactor CPI to FQDN CompanyPaymentInfo in frontend src
  services/dsrp-web/src/actionCreators/CompanyPaymentInfoActionCreator.js
  services/dsrp-web/src/actions/CompanyPaymentInfoActions.js
  services/dsrp-web/src/components/admin/CompanyPaymentInfoTable.js
  services/dsrp-web/src/components/admin/ManageCompanyPaymentInfo.js
  services/dsrp-web/src/components/modalContent/AdminEditCompanyPaymentInfoModal.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/reducers.js
  services/dsrp-web/src/reducers/CPIReducer.js
  services/dsrp-web/src/reducers/CompanyPaymentInfoReducer.js
  services/dsrp-web/src/reducers/rootReducer.js
  services/dsrp-web/src/selectors/CPISelectors.js
  services/dsrp-web/src/selectors/CompanyPaymentInfoSelectors.js
Labels: 💻 Frontend

Correct cpi instances to proper naming convention
  services/dsrp-web/src/actionCreators/CompanyPaymentInfoActionCreator.js
  services/dsrp-web/src/reducers.js
  services/dsrp-web/src/reducers/rootReducer.js
Labels: 💻 Frontend

Correct cpi imports and filenames to camelcase, address requested changes
  services/dsrp-web/src/actionCreators/companyPaymentInfoActionCreator.js
  services/dsrp-web/src/actions/companyPaymentInfoActions.js
  services/dsrp-web/src/components/admin/ManageCompanyPaymentInfo.js
  services/dsrp-web/src/components/modalContent/AdminEditCompanyPaymentInfoModal.js
  services/dsrp-web/src/reducers.js
  services/dsrp-web/src/reducers/companyPaymentInfoReducer.js
  services/dsrp-web/src/selectors/CompanyPaymentInfoSelectors.js
  services/dsrp-web/src/selectors/companyPaymentInfoSelectors.js
Labels: 💻 Frontend

Update shared_cost_agreement_amendment.docx
  services/dsrp-api/app/templates/shared_cost_agreement_amendment.docx
Labels: 💾 Backend

Only sum up actual dollar fields (not booleans!)
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💻 Frontend

Add "A certificate of insurance" line back in
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
Labels: 💻 Frontend

Remove "Indigenous Subcontractor" boolean field
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
Labels: 💻 Frontend

Fix wrong prop name
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
Labels: 💻 Frontend

Adjust formatting/styling on Company Payment Info page
  services/dsrp-web/src/components/admin/CompanyPaymentInfoTable.js
Labels: 💻 Frontend

Update language
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
Labels: 💻 Frontend

Only set subcontractors if it exists, indig does not exist anymore
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
Labels: 💾 Backend

Subcontractors can be set to null
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
Labels: 💾 Backend

Show subcontractor info in admin final report modal
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
Labels: 💻 Frontend
