Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

Hours worked accepts decimals (not just integer)
  migrations/sql/V2021.01.25.10.23__alter_contracted_work_payment_hours_worked_column.sql
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/response_models.py
Labels: 💾 Backend

Fix issue with trailing slash for env var URL
  services/dsrp-api/.env-example
  services/dsrp-api/app/config.py
Labels: 💾 Backend

Update precision/scale for hours worked
  migrations/sql/V2021.01.25.10.23__alter_contracted_work_payment_hours_worked_column.sql
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/response_models.py
Labels: 💾 Backend

Create number mask for hours worked
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

Rename var
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

Remove new number mask
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

Trim whitespace from indig communities fields and don't allow empty strings, fix issue where costSum could be a [] and fail ! checks
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Feature/mds 3269 nominated only sites (#143)
  migrations/sql/V2021.01.25.13.31__nominated_well_site.sql
  services/dsrp-api/app/__init__.py
  services/dsrp-api/app/api/nominated_well_site/models/__init__.py
  services/dsrp-api/app/api/nominated_well_site/models/nominated_well_site.py
  services/dsrp-api/app/api/nominated_well_site/namespace.py
  services/dsrp-api/app/api/nominated_well_site/resources/nominated_well_site.py
  services/dsrp-api/app/api/nominated_well_site/response_models.py
  services/dsrp-web/src/constants/api.js
Labels: 💾 Backend, 💻 Frontend

Point to bcgov repository for CD
  Jenkinsfile
Labels: none

Trigger change
  README.md
Labels: none

Fix issue where custom error prop was not getting rendered for fields
  services/dsrp-web/src/components/common/RenderAutoSizeField.js
  services/dsrp-web/src/components/common/RenderCheckbox.js
  services/dsrp-web/src/components/common/RenderField.js
  services/dsrp-web/src/components/common/RenderMultiSelect.js
  services/dsrp-web/src/components/common/RenderSelect.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Fix how totals are being calculated
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Update wording
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Add two new final reporting questions for abandonment
  migrations/sql/V2021.01.26.14.21__add_new_final_report_columns_to_contracted_work_payment.sql
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/response_models.py
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
Labels: 💾 Backend, 💻 Frontend

Update wording
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
Labels: 💻 Frontend

Update Dormant Sites Reclamation Program - Final Report.docx
  services/dsrp-web/src/assets/downloads/Dormant Sites Reclamation Program - Final Report.docx
Labels: 💻 Frontend

Update wording
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
Labels: 💻 Frontend

MDS-3328: add well location to payment submission view
  migrations/sql/V2021.01.26.12.36__set_owner_on_niminated_well_site_table.sql
  migrations/sql/V2021.01.26.12.37__nominated_well_site_data.sql
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-web/src/actionCreators/OGCActionCreator.js
  services/dsrp-web/src/actions/OGCActions.js
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/WellField.js
  services/dsrp-web/src/components/modalContent/AdminReviewContractedWorkPaymentModal.js
  services/dsrp-web/src/constants/actionTypes.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/reducers/OGCReducer.js
  services/dsrp-web/src/selectors/OGCSelectors.js
Labels: 💾 Backend, 💻 Frontend

Tidy, improve empty check, improve form data quality
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

MDS-3328: add well location to payment submission view (#44)
  migrations/sql/V2021.01.26.12.36__set_owner_on_niminated_well_site_table.sql
  migrations/sql/V2021.01.26.12.37__nominated_well_site_data.sql
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-web/src/actionCreators/OGCActionCreator.js
  services/dsrp-web/src/actions/OGCActions.js
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/WellField.js
  services/dsrp-web/src/components/modalContent/AdminReviewContractedWorkPaymentModal.js
  services/dsrp-web/src/constants/actionTypes.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/reducers/OGCReducer.js
  services/dsrp-web/src/selectors/OGCSelectors.js
Labels: 💾 Backend, 💻 Frontend

added phase column on Review Approved Contracted Work
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
Labels: 💾 Backend, 💻 Frontend

added index on phase column
  migrations/sql/V2021.01.27.13.49__add_phase_code_index_to_application.sql
Labels: none

Merge branch develop into feature/MDS-3328-add-well-location-to-payment-submission-view
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
Labels: 💻 Frontend

Feature/mds 3328 (#45)
  migrations/sql/V2021.01.27.13.49__add_phase_code_index_to_application.sql
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
Labels: 💾 Backend, 💻 Frontend

fix for location on application page
  services/dsrp-api/app/api/nominated_well_site/models/nominated_well_site.py
  services/dsrp-api/app/api/nominated_well_site/resources/nominated_well_site.py
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💾 Backend, 💻 Frontend

fix for location on application page (#46)
  services/dsrp-api/app/api/nominated_well_site/models/nominated_well_site.py
  services/dsrp-api/app/api/nominated_well_site/resources/nominated_well_site.py
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💾 Backend, 💻 Frontend

Add TAC 2 for nomination applications
  services/dsrp-web/src/assets/downloads/Dormant Sites Reclamation Program - General Terms 2.pdf
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/constants/assets.js
Labels: 💻 Frontend

Merge branch develop into master
  README.md
  migrations/sql/V2021.01.26.12.36__set_owner_on_niminated_well_site_table.sql
  migrations/sql/V2021.01.26.12.37__nominated_well_site_data.sql
  migrations/sql/V2021.01.26.14.21__add_new_final_report_columns_to_contracted_work_payment.sql
  migrations/sql/V2021.01.27.13.49__add_phase_code_index_to_application.sql
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/response_models.py
  services/dsrp-api/app/api/nominated_well_site/models/nominated_well_site.py
  services/dsrp-api/app/api/nominated_well_site/resources/nominated_well_site.py
  services/dsrp-web/src/actionCreators/OGCActionCreator.js
  services/dsrp-web/src/actions/OGCActions.js
  services/dsrp-web/src/assets/downloads/Dormant Sites Reclamation Program - Final Report.docx
  services/dsrp-web/src/assets/downloads/Dormant Sites Reclamation Program - General Terms 2.pdf
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/components/common/RenderAutoSizeField.js
  services/dsrp-web/src/components/common/RenderCheckbox.js
  services/dsrp-web/src/components/common/RenderField.js
  services/dsrp-web/src/components/common/RenderMultiSelect.js
  services/dsrp-web/src/components/common/RenderSelect.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/components/forms/WellField.js
  services/dsrp-web/src/components/modalContent/AdminReviewContractedWorkPaymentModal.js
  services/dsrp-web/src/constants/actionTypes.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/assets.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/reducers/OGCReducer.js
  services/dsrp-web/src/selectors/OGCSelectors.js
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💾 Backend, 💻 Frontend

Changes to landing page
  services/dsrp-web/src/components/pages/LandingPage.js
Labels: 💻 Frontend

First letter of postal code must be "V", update tooltip text
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

Use new earliest start date value for validation
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/constants/strings.js
Labels: 💻 Frontend

Subcontractors have partnership options
  services/dsrp-api/app/api/application/constants.py
  services/dsrp-web/src/constants/strings.js
Labels: 💾 Backend, 💻 Frontend

Update wording, hide "look up well" link, fix responsiveneses for subcontractor cards
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Update wording
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
Labels: 💻 Frontend

Update Dormant Sites Reclamation Program - General Terms 2.pdf
  services/dsrp-web/src/assets/downloads/Dormant Sites Reclamation Program - General Terms 2.pdf
Labels: 💻 Frontend

Adjust responsiveness for subcontractor cards
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Revert error message
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Remove getPopupContainer from select inputs
  services/dsrp-web/src/components/common/RenderMultiSelect.js
  services/dsrp-web/src/components/common/RenderSelect.js
Labels: 💻 Frontend

Create V2021.02.18.14.14__update_company_payment_info_record.sql
  migrations/sql/V2021.02.18.14.14__update_company_payment_info_record.sql
Labels: none

Create V2021.02.19.10.47__update_nominated_well_site.sql
  migrations/sql/V2021.02.19.10.47__update_nominated_well_site.sql
Labels: none
