Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

first try at be/sql
  migrations/sql/V2020.05.22.16.50__application_status_change.sql
  services/dsrp-api/app/api/application/models/__init__.py
  services/dsrp-api/app/api/application/models/application_status_change.py
  services/dsrp-api/app/api/application/namespace.py
  services/dsrp-api/app/api/application/resources/application_document.py
  services/dsrp-api/app/api/application/resources/application_status.py
Labels: 💾 Backend

Create V2020.05.22.17.45__add_permit_holders.sql
  migrations/sql/V2020.05.22.17.45__add_permit_holders.sql
Labels: none

added modal to FE to change status
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/components/forms/ApplicationStatusForm.js
  services/dsrp-web/src/components/modalContent/ApplicationStatusModal.js
  services/dsrp-web/src/components/modalContent/config.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

Text change and URI nginx change
  openshift/pipeline/config-dev.groovy
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend, 🏭 CI/CD

combined changes and separate sql
  migrations/sql/V2020.05.22.16.50__application_status_change.sql
  migrations/sql/V2020.05.22.16.51__new_application_status.sql
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/application_status.py
  services/dsrp-api/app/api/application/resources/application_document.py
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-web/src/constants/api.js
Labels: 💾 Backend, 💻 Frontend

updated
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/reducerTypes.js
Labels: 💻 Frontend

Buncha proxy headers
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
  services/nginx/conf.d/tusd.conf.tmpl
Labels: 🏭 CI/CD

Remove docman migration references
  migrations/sql/afterMigrate__98__create_schema_users.sql.tmpl
  migrations/sql/afterMigrate__99__assign_permissions.sql
Labels: none

updated payload
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/components/modalContent/ApplicationStatusModal.js
Labels: 💻 Frontend

permissions
  services/dsrp-api/app/api/application/resources/application_document.py
  services/dsrp-api/app/api/application/resources/application_status.py
Labels: 💾 Backend

Proxy header optimization
  services/nginx/conf.d/tusd.conf.tmpl
Labels: none

Log the docmanurl
  services/dsrp-web/src/components/common/FileUpload.js
Labels: 💻 Frontend

Trim excess headers
  services/nginx/conf.d/tusd.conf.tmpl
Labels: none

Remove log
  services/dsrp-web/src/components/common/FileUpload.js
Labels: 💻 Frontend

Tusd deployment in test, prod
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

Adding old docman proxy configuration nginx
  services/nginx/conf.d/tusd.conf.tmpl
Labels: none

Adding trailing slashes to tusd urls
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

application info display in confirmation email wip
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-api/requirements.txt
Labels: 💾 Backend

fix indentation size
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

added checkbox to documents status view
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
  services/dsrp-web/src/components/pages/ApplicationStatusCard.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

Adding files suffix to tusd nginx route
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

Change /upload to /files
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
  services/nginx/conf.d/tusd.conf.tmpl
Labels: 🏭 CI/CD

More wip work
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Barebones tusd nginx conf
  services/nginx/conf.d/tusd.conf.tmpl
Labels: none

Flag extra hyphen
  openshift/docker-images/tusd/init.sh
  services/nginx/conf.d/tusd.conf.tmpl
Labels: 🏭 CI/CD

Hailmary version downgrade
  openshift/templates/tusd.bc.json
Labels: 🏭 CI/CD

Changing prefix of tusd Dockerhub tag
  openshift/templates/tusd.bc.json
Labels: 🏭 CI/CD

More work on application HTML generation for email
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/resources/application.py
Labels: 💾 Backend

revert
  services/dsrp-api/app/api/application/resources/application.py
Labels: 💾 Backend

Remove Forwarded For
  services/nginx/conf.d/tusd.conf.tmpl
Labels: none

Go back to using JSON shape instead of "nicer to read" namedtuple version.
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/resources/application.py
Labels: 💾 Backend

Debugging if Forwarded-For header is being set
  services/nginx/conf.d/proxy.params
Labels: none

Even more explicit removal of forwarded for
  services/nginx/conf.d/tusd.conf.tmpl
Labels: none

Remove Forwarded *and* X-Forwarded
  openshift/docker-images/tusd/init.sh
  services/nginx/conf.d/proxy.params
  services/nginx/conf.d/tusd.conf.tmpl
Labels: 🏭 CI/CD

Change from hostname to servername
  services/nginx/conf.d/tusd.conf.tmpl
Labels: none

Explicit https
  services/nginx/conf.d/tusd.conf.tmpl
Labels: none

Extra comma
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

Adding test site banner
  services/dsrp-web/src/components/layout/Header.js
Labels: 💻 Frontend

Fix for test banner
  services/dsrp-web/src/components/layout/Header.js
Labels: 💻 Frontend

Download document env variables
  openshift/templates/_python36.dc.json
Labels: 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*
