Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

use antd collapse fot step 2
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Configuration fixes for Test deployment (#29)
  bin/delete-pr.sh
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

Change Jenkinsfile
  Jenkinsfile
Labels: none

fixed execution permission issue.
  migrations/scripts/run_migrations.sh
Labels: none

Adding symbolic links and appropriate execute permission
  openshift/docker-images/nodejs-10/package-lock.json
  openshift/docker-images/nodejs-10/package.json
  openshift/docker-images/python-36-docman/requirements.txt
  openshift/docker-images/python-36/requirements.txt
  openshift/pipeline/gradlew
  openshift/pipeline/gradlew.bat
  package-lock.json
  services/document-manager/backend/app.sh
  services/dsrp-api/app.sh
Labels: 💾 Backend, 🏭 CI/CD

Readding delete-pr.sh script
  bin/delete-pr.sh
Labels: none

additional changes
  Jenkinsfile
  bin/delete-pr.sh
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
  package-lock.json
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend, 🏭 CI/CD

More fullsome cleanup of namespaces
  bin/delete-pr.sh
  openshift/pipeline/src/groovy/Clean.groovy
Labels: 🏭 CI/CD

Add Content
  services/dsrp-web/src/components/pages/LandingPage.js
  services/dsrp-web/src/styles/components/LandingPage.scss
Labels: 💻 Frontend

Update test and prod hostnames
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

orgbook search wip
  services/dsrp-api/app/__init__.py
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/constants/routes.js
Labels: 💾 Backend, 💻 Frontend

orgbook search wip
  services/dsrp-api/app/api/services/orgbook_service.py
  services/dsrp-web/src/components/common/OrgBookSearch.js
Labels: 💾 Backend, 💻 Frontend

Adding suffix to route variable in pipeline for Test deployment
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

Remove references to Grant
  services/dsrp-web/src/components/pages/LandingPage.js
Labels: 💻 Frontend

orgbook search wip
  services/dsrp-web/src/components/common/OrgBookSearch.js
Labels: 💻 Frontend

First test
  openshift/templates/_python36.dc.json
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-api/app/config.py
Labels: 💾 Backend, 🏭 CI/CD

missed new service file
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

with needs instance
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

Add credentials variable
  openshift/templates/_python36.dc.json
Labels: 🏭 CI/CD

orgbook search improvement/minimize for app
  services/dsrp-web/src/components/common/OrgBookSearch.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

form step 2 work
  services/dsrp-web/src/components/common/OrgBookSearch.js
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
Labels: 💻 Frontend

Add Permit Holder Selection
  services/dsrp-web/package-lock.json
  services/dsrp-web/src/actionCreators/OGCActionCreator.js
  services/dsrp-web/src/actions/OGCActions.js
  services/dsrp-web/src/components/common/RenderSelect.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/PermitHolderSelect.js
  services/dsrp-web/src/constants/actionTypes.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/reducers.js
  services/dsrp-web/src/reducers/OGCReducer.js
  services/dsrp-web/src/reducers/rootReducer.js
  services/dsrp-web/src/selectors/OGCSelectors.js
Labels: 💻 Frontend

Update ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

fix merge resolution
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

more form work
  services/dsrp-web/package-lock.json
  services/dsrp-web/package.json
  services/dsrp-web/src/App.js
  services/dsrp-web/src/components/common/RenderCheckbox.js
  services/dsrp-web/src/components/common/RenderSelect.js
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/tests/components/landingPage/__snapshots__/LandingPage.spec.js.snap
  services/dsrp-web/src/tests/routes/__snapshots__/Routes.spec.js.snap
Labels: 💻 Frontend

put initial form step back to normal
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

email that has been submitted for creation
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

secret typp
  openshift/templates/_python36.dc.json
Labels: 🏭 CI/CD

variable typo and logging
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

updated props
  services/dsrp-web/package-lock.json
  services/dsrp-web/src/actionCreators/authenticationActionCreator.js
  services/dsrp-web/src/actions/authenticationActions.js
  services/dsrp-web/src/components/admin/AdminLogin.js
  services/dsrp-web/src/components/common/wrappers/AuthorizationWrapper.js
  services/dsrp-web/src/components/layout/Footer.js
  services/dsrp-web/src/components/layout/HeaderDropdown.js
  services/dsrp-web/src/components/pages/ReviewApplicationsPage.js
  services/dsrp-web/src/hoc/AuthenticationGuard.js
  services/dsrp-web/src/hoc/AuthorizationGuard.js
  services/dsrp-web/src/reducers/authenticationReducer.js
  services/dsrp-web/src/selectors/authenticationSelectors.js
  services/dsrp-web/src/styles/overrides/antd-overrides.scss
Labels: 💻 Frontend

updated tests
  services/dsrp-web/src/tests/hoc/__snapshots__/authenticationGuard.spec.js.snap
  services/dsrp-web/src/tests/selectors/authenticationSelectors.spec.js
Labels: 💻 Frontend

most stats, better control flow, fake email content
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

dont email unless successful save
  services/dsrp-api/app/api/application/resources/application.py
Labels: 💾 Backend

typo
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

html body this time
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

wip math work
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

updated eslint errors
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/components/pages/ReviewApplicationsPage.js
Labels: 💻 Frontend

line breaks
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

models own their own templates
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

check empty email first
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend
