Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

Reset form functionality, minor other changes
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationFormReset.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/ViewOnlyApplicationForm.js
  services/dsrp-web/src/components/layout/HeaderDropdown.js
  services/dsrp-web/src/components/pages/LandingPage.js
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
  services/dsrp-web/src/constants/strings.js
Labels: 💻 Frontend

remove debug code
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

Fix issue with long horizontal scroll bars on our pages
  services/dsrp-web/src/components/pages/LandingPage.js
  services/dsrp-web/src/components/pages/ReviewApplicationsPage.js
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

Fix some bugs with form, backtop colour
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/ViewOnlyApplicationForm.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
  services/dsrp-web/src/styles/settings/theme.scss
Labels: 💻 Frontend

Contracted work section planned start/end dates cannot be outside of valid range, and start not greater than end and end not less than start
  services/dsrp-web/src/components/common/RenderDate.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/constants/strings.js
Labels: 💻 Frontend

Create and use a common Application Form Tooltip component (used in 3 places for now)
  services/dsrp-web/src/components/common/ApplicationFormTooltip.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Fix a Steps colour from a weird undefined color
  services/dsrp-web/src/styles/overrides/antd-overrides.scss
Labels: 💻 Frontend

Adjust heading sizes throughout the form to be hierarchical
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/styles/generic/helpers.scss
Labels: 💻 Frontend

Better display of totals for contract work sections
  services/dsrp-web/src/components/common/RenderField.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

wip confirmation page
  services/dsrp-web/src/components/pages/ApplicationSuccessPage.js
  services/dsrp-web/src/constants/routes.js
  services/dsrp-web/src/routes/Routes.js
Labels: 💻 Frontend

Estimated cost summary display for each well and section
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Cleanup some render fields
  services/dsrp-web/src/components/common/RenderDate.js
  services/dsrp-web/src/components/common/RenderField.js
  services/dsrp-web/src/components/common/RenderFieldWithDropdown.js
Labels: 💻 Frontend

Display actuall well names if available in headers/totals
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/WellField.js
Labels: 💻 Frontend

Remove unneeded boolean expression, remove gutter that makes horizontal scrollbar, only show tooltips in edit mode
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/pages/ApplicationSuccessPage.js
Labels: 💻 Frontend

Workaround for known bug in redux forms regarding validation on untouched form
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Need even less code to fix this bug, just need to call getFormValues
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
Labels: 💻 Frontend

Fix some prop errors, always fetch if necessary to display OrgBook entity info on application
  services/dsrp-web/src/components/common/ApplicationFormTooltip.js
  services/dsrp-web/src/components/common/OrgBookSearch.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

scroll to error on next; adjust form spacing and header font size;
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/styles/generic/layout.scss
  services/dsrp-web/src/styles/settings/theme.scss
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

Fix debouncing of OrgBook search so it actually works
  services/dsrp-web/src/components/common/OrgBookSearch.js
Labels: 💻 Frontend

Decrease OrgBook search debounce time
  services/dsrp-web/src/components/common/OrgBookSearch.js
Labels: 💻 Frontend

Don't provide initial values to "review" form in step 3
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ViewOnlyApplicationForm.js
Labels: 💻 Frontend

Properly reset form data upon successful submission
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

Prevent display of previous submission's OrgBook entity details after submit on a new application
  services/dsrp-web/src/components/common/OrgBookSearch.js
Labels: 💻 Frontend

Dispatch call not predictable in callback of setState?
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

Validate well sites to notify user that there must be at least one
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Change collapse panel icon types and remove well site button
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/ViewApplicationStatusForm.js
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

updated data on nested table
  .vscode/settings.json
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/selectors/applicationSelectors.js
  services/dsrp-web/src/styles/components/Tables.scss
Labels: 💻 Frontend

updated description of view
  services/dsrp-web/src/components/pages/ReviewApplicationsPage.js
Labels: 💻 Frontend

removed all FE tests
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/selectors/applicationSelectors.js
  services/dsrp-web/src/tests/actionCreators/authenticationActionCreator.spec.js
  services/dsrp-web/src/tests/actions/genericActions.spec.js
  services/dsrp-web/src/tests/components/ReturnPage.spec.js
  services/dsrp-web/src/tests/components/__snapshots__/ReturnPage.spec.js.snap
  services/dsrp-web/src/tests/components/common/DocumentTable.spec.js
  services/dsrp-web/src/tests/components/common/Loading.spec.js
  services/dsrp-web/src/tests/components/common/NullScreen.spec.js
  services/dsrp-web/src/tests/components/common/__snapshots__/DocumentTable.spec.js.snap
  services/dsrp-web/src/tests/components/common/__snapshots__/Loading.spec.js.snap
  services/dsrp-web/src/tests/components/common/__snapshots__/NullScreen.spec.js.snap
  services/dsrp-web/src/tests/components/common/wrappers/LoadingWrapper.spec.js
  services/dsrp-web/src/tests/components/common/wrappers/ModalWrapper.spec.js
  services/dsrp-web/src/tests/components/common/wrappers/__snapshots__/LoadingWrapper.spec.js.snap
  services/dsrp-web/src/tests/components/common/wrappers/__snapshots__/ModalWrapper.spec.js.snap
  services/dsrp-web/src/tests/components/landingPage/LandingPage.spec.js
  services/dsrp-web/src/tests/components/landingPage/__snapshots__/LandingPage.spec.js.snap
  services/dsrp-web/src/tests/components/layout/HeaderDropdown.js
  services/dsrp-web/src/tests/hoc/__snapshots__/authenticationGuard.spec.js.snap
  services/dsrp-web/src/tests/hoc/authenticationGuard.spec.js
  services/dsrp-web/src/tests/mocks/dataMocks.js
  services/dsrp-web/src/tests/reducers/networkReducer.spec.js
  services/dsrp-web/src/tests/routes/Routes.spec.js
  services/dsrp-web/src/tests/routes/__snapshots__/Routes.spec.js.snap
  services/dsrp-web/src/tests/selectors/authenticationSelectors.spec.js
  services/dsrp-web/src/tests/store/configureStore.spec.js
  services/dsrp-web/src/tests/utils/authenticationHelpers.spec.js
Labels: 💻 Frontend

added ogc status column to nested table
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💻 Frontend

paginated table
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/reducers/applicationReducer.js
  services/dsrp-web/src/selectors/applicationSelectors.js
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

updated dataIndex
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

updated column names
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

updated className
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

Change delete button for contract work and add PopConfirm yes/no confirmation
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

removed all mineSpace staticContent
  services/dsrp-web/src/reducers/staticContentReducer.js
  services/dsrp-web/src/selectors/staticContentSelectors.js
Labels: 💻 Frontend

Create V2020.05.19.09.12__create_work_type_statuses_and_alter_application_statuses.sql
  migrations/sql/V2020.05.19.09.12__create_work_type_statuses_and_alter_application_statuses.sql
Labels: none

Adding strange env variables for dbbackup
  openshift/templates/dbbackup.dc.json
Labels: 🏭 CI/CD

added null check to site_conditions
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💻 Frontend

added additional null check
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💻 Frontend
