Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

small tweaks
  services/dsrp-api/app/api/permit_holder/resources/permit_holder.py
  services/dsrp-web/src/App.js
  services/dsrp-web/src/components/common/wrappers/ScrollToTopWrapper.js
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/WellField.js
Labels: 💾 Backend, 💻 Frontend

updated notes
  services/dsrp-web/src/components/forms/WellField.js
  services/dsrp-web/src/components/layout/HeaderDropdown.js
  services/dsrp-web/src/components/pages/LandingPage.js
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

Add required fields, more validation, improved responsiveness, etc to Step 1
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

Testing redirect on dev
  services/nginx/conf.d/redirect.conf.tmpl
Labels: none

Remove excluded subsection from step 2
  services/dsrp-web/src/constants/contract_work_sections.js
Labels: 💻 Frontend

Missed backup verification PVC size in test
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

Upping PVC verification size
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

show form in step 3
  .vscode/settings.json
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ViewOnlyApplicationForm.js
Labels: 💻 Frontend

some formatting
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
Labels: 💻 Frontend

formatting/rendering of review form in step 3
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
Labels: 💻 Frontend

Nesting nginx confs to deal with envsubst issue
  services/nginx/conf.d/redirect.conf.tmpl
  services/nginx/conf.d/sub_redirect.conf
Labels: none

Reverting for other solution
  services/nginx/conf.d/redirect.conf.tmpl
  services/nginx/conf.d/sub_redirect.conf
Labels: none

Changing s2i to only envsubst env variables.
  services/nginx/.s2i/bin/run
Labels: none

layout change, etc
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
Labels: 💻 Frontend

Condense into one liner
  services/nginx/.s2i/bin/run
Labels: none

Setting nginx variables and if compare
  services/nginx/conf.d/redirect.conf.tmpl
Labels: none

Missed semi-colon
  services/nginx/conf.d/redirect.conf.tmpl
Labels: none

fix submit button disabled state
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
Labels: 💻 Frontend

fax aint required
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

Remove quotes
  services/nginx/conf.d/redirect.conf.tmpl
Labels: none

Change to rewrite
  services/nginx/conf.d/redirect.conf.tmpl
Labels: none

add fields and adjust autosize behaviour
  .vscode/settings.json
  services/dsrp-web/src/components/common/RenderAutoSizeField.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

Add header and rewrite fix
  services/nginx/conf.d/redirect.conf.tmpl
Labels: none

Fix bug (the display of the form needs to be outside of this class which has reduxForm(), better next step validation/disabled button states, onClick only needed in above functions
  services/dsrp-web/.eslintrc.js
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Fax is optional
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

bind to formstate instead of component state
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

Flip bypass bit
  services/nginx/conf.d/redirect.conf.tmpl
Labels: none

Switch back to prod env for redirect
  services/nginx/conf.d/redirect.conf.tmpl
Labels: none

Add default/proptypes
  services/dsrp-web/src/components/forms/ViewOnlyApplicationForm.js
Labels: 💻 Frontend

only left bar
  .vscode/settings.json
Labels: none

Remove good standing report upload code
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

Some redis template changes
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
  openshift/templates/config/smtp-credentials.yaml
  openshift/templates/redis.dc.json
Labels: 🏭 CI/CD

Adding suffix parameter
  openshift/templates/redis.dc.json
Labels: 🏭 CI/CD

sites not site, dsiabled flag on new field
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/layout/Header.js
Labels: 💻 Frontend

fix step 3 company details not pop
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

remove props print out
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Add disabled logic
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

fix step 3 bugs with viewing an app then going back to submit app, other tweaks
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/styles/generic/layout.scss
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

rearrange teh buttons
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

rename work start/end to planned start/end dates, other
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend
