Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

Remove "#" from well site name
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

What the last commit said
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Enforce that there is always at least one well site
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Less-indented way of previous commit for ensuring 1 well site
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Remove number validation from well auth number (it can have leading 0s)
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Reverting IDE changes
  .vscode/settings.json
Labels: none

Remove placeholder on readonly
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

added shared cost estimate, updated table sizing/alignment
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/selectors/applicationSelectors.js
  services/dsrp-web/src/styles/overrides/antd-overrides.scss
Labels: 💻 Frontend

Splitting SQL migrations
  migrations/sql/V2020.05.19.09.11__application_status_codes.sql
  migrations/sql/V2020.05.19.09.12__create_work_type_statuses_and_alter_application_statuses.sql
  migrations/sql/V2020.05.19.09.12__work_statuses_and_application_ddl.sql
  migrations/sql/V2020.05.19.09.13__work_statuses_and_application_dml.sql
Labels: none

updated pagination per page limit
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

removed hide on single page pagniation flag
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

default settings saved for reference, live file is not versioned
  .gitignore
  .vscode/settings.json.default
Labels: none

settings.json ugh
  .vscode/settings.json
Labels: none

restrict well auth number to 5 digits (0-9)
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

Prevent automatic Test deploy
  Jenkinsfile
Labels: none

Fixing database backup env variable
  openshift/templates/dbbackup.dc.json
Labels: 🏭 CI/CD

Revert "Merge remote-tracking branch 'origin/develop' into feature/s3-docs"
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

Enforce that there is always one well (proper implementation!)
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

add liability application_guid param
  services/dsrp-api/app/api/liability/resources/liability.py
  services/dsrp-api/app/api/services/ogc_data_service.py
Labels: 💾 Backend

file upload field
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

fetch liabilites
  services/dsrp-web/src/actionCreators/OGCActionCreator.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/styles/overrides/antd-overrides.scss
Labels: 💻 Frontend

add correct email address
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/constants/strings.js
Labels: 💻 Frontend

add application_guid param to well api
  services/dsrp-api/app/api/services/ogc_data_service.py
  services/dsrp-api/app/api/well/resources/well.py
Labels: 💾 Backend

Make Paragraph keys unique to prevent console warning
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

WIP well validation
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

added wells/liabilites fetch
  services/dsrp-web/src/actionCreators/OGCActionCreator.js
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/reducers/OGCReducer.js
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💻 Frontend

Remove document token util
  services/dsrp-web/src/utils/actionlessNetworkCalls.js
Labels: 💻 Frontend

Remove document token references
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/utils/actionlessNetworkCalls.js
Labels: 💻 Frontend

Not implemented error on doc download
  services/dsrp-web/src/utils/actionlessNetworkCalls.js
Labels: 💻 Frontend

added liabilities
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💻 Frontend

updated
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💻 Frontend

Add uuid creator
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

updated content on review application page
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/pages/ApplicationStatusCard.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

create file guid prop
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

Changing env variable reference
  services/dsrp-web/src/components/common/FileUpload.js
Labels: 💻 Frontend

Env template update
  services/dsrp-web/.env-example
Labels: 💻 Frontend

table create and read, just ledger
  services/dsrp-api/app/api/application/models/application_document.py
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-api/requirements.txt
Labels: 💾 Backend

get file from s3
  services/dsrp-api/.env-example
  services/dsrp-api/app/api/application/models/application_document.py
  services/dsrp-api/app/api/application/namespace.py
  services/dsrp-api/app/api/application/resources/application_document.py
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-api/app/config.py
Labels: 💾 Backend

new files
  migrations/sql/V2020.05.20.14.15__obj_store_documents.sql
  services/dsrp-api/app/api/services/object_store_storage_service.py
Labels: 💾 Backend

WIP push
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend
