Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

Create constants
  services/dsrp-api/app/api/application/constants.py
  services/dsrp-web/src/constants/strings.js
Labels: 💾 Backend, 💻 Frontend

Adjust email template to consider new indig fields for phase 2
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Undo tmp changes to priority criteria
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Adjust for use of constants
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

added ability to fetch business number from credential.topic_id
  services/dsrp-api/app/api/orgbook/resources/orgbook_resources.py
  services/dsrp-api/app/api/services/orgbook_service.py
  services/dsrp-web/src/components/common/OrgBookSearch.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💾 Backend, 💻 Frontend

bands --> communities/peoples
  services/dsrp-api/app/api/application/constants.py
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/constants/strings.js
Labels: 💾 Backend, 💻 Frontend

updated
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

Update constants order and wording
  services/dsrp-api/app/api/application/constants.py
  services/dsrp-web/src/constants/strings.js
Labels: 💾 Backend, 💻 Frontend

Subcontractor card css
  services/dsrp-web/src/styles/overrides/antd-overrides.scss
Labels: 💻 Frontend

Adjust ordering again
  services/dsrp-api/app/api/application/constants.py
  services/dsrp-web/src/constants/strings.js
Labels: 💾 Backend, 💻 Frontend

updated
  services/dsrp-api/app/api/orgbook/resources/orgbook_resources.py
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💾 Backend, 💻 Frontend

required --> requiredList
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

WIP work for section two of form
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Remove console.logs, change error message
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Remove fragment
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Formatting
  services/dsrp-api/app/api/application/constants.py
Labels: 💾 Backend

Feature/mds 3265 eligibility criteria (#139)
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/reducers/staticContentReducer.js
  services/dsrp-web/src/selectors/staticContentSelectors.js
Labels: 💾 Backend, 💻 Frontend

Don't update this for existing application
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

Adjust resource to use try/catch etc
  services/dsrp-api/app/api/orgbook/resources/orgbook_resources.py
Labels: 💾 Backend

Typo
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

Update logic
  services/dsrp-api/app/api/orgbook/resources/orgbook_resources.py
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💾 Backend, 💻 Frontend

application is passed in, don't get from store
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

Tidy json
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

Fix logic
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

Remove selector
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

Remove console.log
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

Update logic
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

Don't render subcontractors in view/non edit mode if empty
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Update resource to not return bad gateway if bus num request fails
  services/dsrp-api/app/api/orgbook/resources/orgbook_resources.py
Labels: 💾 Backend

Update application.py
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Remove unused imports
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

Remove empty subcontractors from json
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

Validate no empty subcontractors
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Remove unused files
  services/dsrp-web/src/components/common/ContactCard.js
  services/dsrp-web/src/components/common/FilePicker.js
  services/dsrp-web/src/components/common/Map.js
  services/dsrp-web/src/components/common/NotFoundNotice.js
  services/dsrp-web/src/components/common/RenderCascader.js
  services/dsrp-web/src/components/common/RenderFieldWithDropdown.js
  services/dsrp-web/src/components/common/RenderGroupedSelect.js
  services/dsrp-web/src/components/common/RenderLargeSelect.js
  services/dsrp-web/src/components/common/RenderRadioButtons.js
  services/dsrp-web/src/components/common/RenderScrollField.js
  services/dsrp-web/src/components/common/RenderTime.js
  services/dsrp-web/src/components/common/RenderYear.js
  services/dsrp-web/src/components/common/TableSummaryCard.js
  services/dsrp-web/src/components/common/config.js
  services/dsrp-web/src/styles/components/ContactCard.scss
  services/dsrp-web/src/styles/components/TableSummaryCard.scss
  services/dsrp-web/src/styles/index.scss
Labels: 💻 Frontend

Show field errors on submit fail as well in case component isn't rendered
  services/dsrp-web/src/components/common/OrgBookSearch.js
  services/dsrp-web/src/components/common/RenderAutoSizeField.js
  services/dsrp-web/src/components/common/RenderCheckbox.js
  services/dsrp-web/src/components/common/RenderDate.js
  services/dsrp-web/src/components/common/RenderField.js
  services/dsrp-web/src/components/common/RenderMultiSelect.js
  services/dsrp-web/src/components/common/RenderSelect.js
Labels: 💻 Frontend

Don't render indig communities if affiliation is null
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

Detect errors for unrendered subcontractor fields
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Styling
  services/dsrp-web/src/styles/generic/layout.scss
  services/dsrp-web/src/styles/overrides/antd-overrides.scss
Labels: 💻 Frontend

Improve display of disabled multiselect field
  services/dsrp-web/src/styles/overrides/antd-overrides.scss
Labels: 💻 Frontend

Remove leaflet
  services/dsrp-web/package-lock.json
  services/dsrp-web/package.json
Labels: 💻 Frontend
