Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

Form step 2: contract work sections
  services/dsrp-web/src/components/common/RenderDate.js
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/contract_work_sections.js
Labels: 💻 Frontend

working well search
  services/dsrp-api/app/api/services/ogc_data_constants.py
  services/dsrp-api/app/api/services/ogc_data_service.py
  services/dsrp-api/app/api/well/resources/well.py
  services/dsrp-web/src/actionCreators/OGCActionCreator.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/WellField.js
Labels: 💾 Backend, 💻 Frontend

Move stuff
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/constants/contract_work_sections.js
Labels: 💻 Frontend

Update ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

coimmitting
  services/dsrp-web/src/App.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/components/common/OrgBookSearch.js
  services/dsrp-web/src/components/common/RenderCheckbox.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/PermitHolderSelect.js
  services/dsrp-web/src/components/forms/ViewOnlyApplicationForm.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
  services/dsrp-web/src/styles/overrides/antd-overrides.scss
Labels: 💻 Frontend

Works
  .vscode/extensions.json
  .vscode/settings.json
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/actions/applicationActions.js
  services/dsrp-web/src/components/forms/ViewApplicationStatusForm.js
  services/dsrp-web/src/components/pages/ApplicationStatusCard.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
  services/dsrp-web/src/constants/actionTypes.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/reducers/applicationReducer.js
Labels: 💾 Backend, 💻 Frontend

mask and formatting
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/components/forms/ViewApplicationStatusForm.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

Minor changes to match submit page
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ViewOnlyApplicationForm.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
Labels: 💻 Frontend

Only show "Search on OrgBook..." link when isEditable
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

add formatted data
  services/dsrp-web/src/components/pages/ApplicationStatusCard.js
Labels: 💻 Frontend

Fix merge master URI location
  Jenkinsfile
Labels: none

Remove duplicate display of Well Site Details
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

settings
  .vscode/settings.json
  services/dsrp-web/package.json
Labels: 💻 Frontend

workspace settings
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

Removing Flyway components
  openshift/templates/dbbackup.dc.json
Labels: 🏭 CI/CD

prop
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
  services/dsrp-web/src/constants/reducerTypes.js
Labels: 💾 Backend, 💻 Frontend

Adding build script for dbbackup
  openshift/pipeline/config-build.groovy
Labels: 🏭 CI/CD

updated
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
Labels: 💻 Frontend

Remove recreate params
  openshift/templates/dbbackup.dc.json
Labels: 🏭 CI/CD

SAVE THE FORM! and some wip/backup of filepond init file code
  .vscode/settings.json
  services/dsrp-web/src/components/common/FileUpload.js
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
Labels: 💻 Frontend

Tidy, revert wip/back FilePond init state changes, other
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/components/common/FileUpload.js
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

Add save message, save on unmount, tidy, other
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/styles/generic/layout.scss
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

working well site details
  services/dsrp-web/package-lock.json
  services/dsrp-web/package.json
  services/dsrp-web/src/actionCreators/OGCActionCreator.js
  services/dsrp-web/src/actions/OGCActions.js
  services/dsrp-web/src/components/common/RenderField.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/WellField.js
  services/dsrp-web/src/constants/actionTypes.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/reducers/OGCReducer.js
  services/dsrp-web/src/selectors/OGCSelectors.js
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

Update antd to latest V3 version and hot loader packages
  services/dsrp-web/package.json
Labels: 💻 Frontend

Update package-lock.json
  services/dsrp-web/package-lock.json
Labels: 💻 Frontend

Adding metabase to dev
  openshift/pipeline/config-dev.groovy
Labels: 🏭 CI/CD

Splitting metabase config, downgrading pg version to last known good
  openshift/pipeline/config-build.groovy
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
  openshift/templates/tools/metabase-postgres.bc.json
  openshift/templates/tools/metabase-postgres.dc.json
  openshift/templates/tools/metabase.bc.json
  openshift/templates/tools/metabase.dc.json
Labels: 🏭 CI/CD

Missed variable rename
  openshift/templates/tools/metabase-postgres.bc.json
Labels: 🏭 CI/CD

Extra closing bracket
  openshift/templates/dbbackup.dc.json
Labels: 🏭 CI/CD

updated permissions on apply/status view
  .vscode/settings.json
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/components/layout/HeaderDropdown.js
Labels: 💻 Frontend

Missed brackets in template
  openshift/templates/dbbackup.dc.json
Labels: 🏭 CI/CD

Adding memory and compute variables for dbbackup
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

Redirect configuration for prod
  services/nginx/conf.d/redirect.conf.tmpl
  services/nginx/nginx.conf
Labels: none

Adding correct PV ids to pipeline
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

Fix some navbar/dropdown styling + responsiveness with title, add some validation to step 1 fields
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/layout/Header.js
  services/dsrp-web/src/components/layout/HeaderDropdown.js
Labels: 💻 Frontend

updated authentication to authenticate the entire app, updated permissions to allow us to continue development
  services/dsrp-web/src/components/admin/AdminLogin.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/components/common/wrappers/AuthorizationWrapper.js
  services/dsrp-web/src/components/layout/HeaderDropdown.js
  services/dsrp-web/src/components/pages/LandingPage.js
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
  services/dsrp-web/src/hoc/AuthenticationGuard.js
  services/dsrp-web/src/hoc/AuthorizationGuard.js
  services/dsrp-web/src/reducers/authenticationReducer.js
  services/dsrp-web/src/selectors/authenticationSelectors.js
Labels: 💻 Frontend

Better colours
  .vscode/settings.json
Labels: none

updated
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

Extension field is 6 digits
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
Labels: 💻 Frontend

Commenting out metabase and dbbackup in dev
  openshift/pipeline/config-dev.groovy
Labels: 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*
