Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

three step form broken up into sep files
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
  tmp/core-web-src/components/common/RenderDate.js
Labels: 💻 Frontend

three step form broken up into sep files 2
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Remove NRIS and Docgen from deployments
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

Remove NRIS and Docgen references from templates
  openshift/templates/_nginx.dc.json
  openshift/templates/_python36.dc.json
  openshift/templates/docgen/docgen.bc.json
  openshift/templates/docgen/docgen.dc.json
  openshift/templates/document-manager/docman.dc.json
Labels: 🏭 CI/CD

More NRIS and Docgen reference removals
  openshift/templates/_python36.dc.json
  openshift/templates/postgresql.dc.json
  openshift/templates/sonar.pod.json
Labels: 🏭 CI/CD

fix auth header creation in FE
  services/dsrp-web/src/utils/RequestHeaders.js
  services/dsrp-web/src/utils/requestHeaders.js
Labels: 💻 Frontend

unused client
  services/dsrp-web/.env-example
  services/dsrp-web/src/constants/environment.js
Labels: 💻 Frontend

Remove FDW references and update postgres image
  openshift/templates/postgresql.bc.json
  openshift/templates/postgresql.dc.json
Labels: 🏭 CI/CD

Update realm export
  settings/keycloak/keycloak-test-realm-export.json
Labels: none

Removing elastic references
  openshift/pipeline/config-build.groovy
  openshift/templates/_python36.dc.json
  openshift/templates/document-manager/docman.dc.json
Labels: 🏭 CI/CD

Removing elastic reference in dev deploy stage
  openshift/pipeline/config-dev.groovy
Labels: 🏭 CI/CD

Nginx updates
  services/dsrp-api/requirements.txt
  services/nginx/conf.d/api.drsp.conf.tmpl
  services/nginx/conf.d/api.nris.conf.tmpl
  services/nginx/conf.d/frontend.drsp.conf.tmpl
  services/nginx/conf.d/frontend.minespace.conf.tmpl
  services/nginx/nginx.conf
Labels: 💾 Backend

copy existing input fields with updated core versions, other
  services/dsrp-web/src/components/common/RenderAutoSizeField.js
  services/dsrp-web/src/components/common/RenderDate.js
  services/dsrp-web/src/components/common/RenderYear.js
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/styles/generic/layout.scss
  tmp/core-web-src/components/common/RenderDate.js
Labels: 💻 Frontend

More elastic references removed
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
  services/document-manager/backend/.env-dev-local-keycloak
  services/document-manager/backend/.env-example
  services/document-manager/backend/requirements.txt
  services/dsrp-api/.env-dev-local-keycloak
  services/dsrp-api/.env-example
Labels: 💾 Backend, 🏭 CI/CD

fix header
  services/dsrp-web/src/components/layout/HeaderDropdown.js
Labels: 💻 Frontend

Removing non-relevant keycloak configuration
  settings/keycloak/keycloak-local-realm.json
  settings/keycloak/keycloak-local-user.sh
  settings/keycloak/keycloak-prod-realm-export.json
  settings/keycloak/keycloak-test-realm-export.json
Labels: none

Go back to 9.6 Postgres image
  openshift/templates/postgresql.bc.json
Labels: 🏭 CI/CD

Template secrets
  openshift/templates/_python36.dc.json
  openshift/templates/config/template.dsrp-metabase-key.yaml
  openshift/templates/config/template.dsrp-postgresql-secret.yaml
  openshift/templates/config/template.dsrp-redis-secret.yaml
Labels: 🏭 CI/CD

Updating template project references
  openshift/templates/config/template.dsrp-metabase-key.yaml
  openshift/templates/config/template.dsrp-postgresql-secret.yaml
  openshift/templates/config/template.dsrp-redis-secret.yaml
Labels: 🏭 CI/CD

Remove additional python backend env variables
  openshift/templates/_python36.dc.json
Labels: 🏭 CI/CD

Specify domain in nginx config
  services/nginx/conf.d/frontend.drsp.conf.tmpl
Labels: none

Explictly reference nginx configs
  services/nginx/conf.d/api.dsrp.conf.tmpl
  services/nginx/conf.d/frontend.dsrp.conf.tmpl
  services/nginx/nginx.conf
Labels: none

fix form step using redux form wizard pattern
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

add submit button disabled logic
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
Labels: 💻 Frontend

Remove document generator url
  openshift/templates/_python36.dc.json
Labels: 🏭 CI/CD

Add executable bit to app.sh files
  services/document-manager/backend/app.sh
  services/dsrp-api/app.sh
Labels: 💾 Backend

Updating route name
  Jenkinsfile
  openshift/pipeline/config-dev.groovy
  openshift/templates/_nginx.dc.json
  tmp/core-web-src/components/navigation/NavBar.js
Labels: 🏭 CI/CD

Readding keycloak export
  settings/keycloak/keycloak-test-realm-export.json
Labels: none

Rejigging keycloak export
  settings/keycloak/keycloak-test-realm-export.json
Labels: none

Fix/dev deploy (#23)
  Jenkinsfile
  openshift/pipeline/config-build.groovy
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
  openshift/templates/_nginx.dc.json
  openshift/templates/_python36.dc.json
  openshift/templates/config/template.dsrp-metabase-key.yaml
  openshift/templates/config/template.dsrp-postgresql-secret.yaml
  openshift/templates/config/template.dsrp-redis-secret.yaml
  openshift/templates/docgen/docgen.bc.json
  openshift/templates/docgen/docgen.dc.json
  openshift/templates/document-manager/docman.dc.json
  openshift/templates/postgresql.bc.json
  openshift/templates/postgresql.dc.json
  openshift/templates/sonar.pod.json
  services/document-manager/backend/.env-dev-local-keycloak
  services/document-manager/backend/.env-example
  services/document-manager/backend/app.sh
  services/document-manager/backend/requirements.txt
  services/dsrp-api/.env-dev-local-keycloak
  services/dsrp-api/.env-example
  services/dsrp-api/app.sh
  services/dsrp-api/requirements.txt
  services/nginx/conf.d/api.dsrp.conf.tmpl
  services/nginx/conf.d/api.nris.conf.tmpl
  services/nginx/conf.d/frontend.dsrp.conf.tmpl
  services/nginx/conf.d/frontend.minespace.conf.tmpl
  services/nginx/nginx.conf
  settings/keycloak/keycloak-local-realm.json
  settings/keycloak/keycloak-local-user.sh
  settings/keycloak/keycloak-prod-realm-export.json
  tmp/core-web-src/components/navigation/NavBar.js
Labels: 💾 Backend, 🏭 CI/CD

Added script to ease non-cleaned up PR deletion
  bin/delete-pr.sh
Labels: none

Removing digdag, schemaspy
  bin/delete-pr.sh
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

form step 1 work still wip
  services/dsrp-web/src/components/common/config.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

form step 1, not all fields required for now
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

Create OGC data service + Permit Holder, Well, and Liability endpoints
  services/dsrp-api/app/__init__.py
  services/dsrp-api/app/api/constants.py
  services/dsrp-api/app/api/liability/namespace.py
  services/dsrp-api/app/api/liability/resources/liability.py
  services/dsrp-api/app/api/liability/response_models.py
  services/dsrp-api/app/api/permit_holder/namespace.py
  services/dsrp-api/app/api/permit_holder/resources/permit_holder.py
  services/dsrp-api/app/api/permit_holder/response_models.py
  services/dsrp-api/app/api/services/document_manager_service.py
  services/dsrp-api/app/api/services/ogc_data_service.py
  services/dsrp-api/app/api/well/namespace.py
  services/dsrp-api/app/api/well/resources/well.py
  services/dsrp-api/app/api/well/response_models.py
  services/dsrp-api/requirements.txt
Labels: 💾 Backend

create and use some input masks (for postal code and phone number)
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

Improve OGC data service
  services/dsrp-api/app/api/constants.py
  services/dsrp-api/app/api/liability/response_models.py
  services/dsrp-api/app/api/permit_holder/response_models.py
  services/dsrp-api/app/api/services/ogc_data_service.py
  services/dsrp-api/app/api/well/response_models.py
  services/dsrp-api/app/config.py
Labels: 💾 Backend

create logic for adding and removing multiple ducks dynamically
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

put initial form step back to 0 (was 1 for testing)
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

formatting and postal code fix
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend
