Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

WIP push
  services/dsrp-api/app/api/application/models/application_status_change.py
  services/dsrp-api/app/api/application/resources/application_status.py
  services/dsrp-api/app/api/company/models/__init__.py
  services/dsrp-api/app/api/company/models/company.py
  services/dsrp-api/app/api/services/application_status_change_actions.py
Labels: 💾 Backend

WIP work
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/services/application_status_change_actions.py
Labels: 💾 Backend

Update V2020.07.27.14.56__create_application_history_table.sql
  migrations/sql/V2020.07.27.14.56__create_application_history_table.sql
Labels: none

Make existing code use new well_sites hybrid property which contains review data
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

site_conditions does not exist at that level
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Use already calculated sum
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Add documentation, tidy, rename vars
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/application_status_change.py
  services/dsrp-api/app/api/documents/resources/download.py
Labels: 💾 Backend

WIP push
  services/dsrp-api/app/api/services/application_status_change_actions.py
Labels: 💾 Backend

MDS-2950: payment document tables and backend
  migrations/sql/V2020.07.30.10.44__create_payment_document_structure_and_seed_data.sql
  services/dsrp-api/app/api/application/models/__init__.py
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/application/models/payment_document_type.py
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-api/app/api/exports/static_content/resources/static_content_resource.py
  services/dsrp-api/app/api/utils/setup_marshmallow.py
  services/dsrp-web/src/components/pages/PaymentDocumentTable.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
  services/dsrp-web/src/components/pages/ViewPaymentRequestsPage.js
  services/dsrp-web/src/customPropTypes/index.js
  services/dsrp-web/src/customPropTypes/paymentDocuments.js
Labels: 💾 Backend, 💻 Frontend

Fix syntax error
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Update application_status_change_actions.py
  services/dsrp-api/app/api/services/application_status_change_actions.py
Labels: 💾 Backend

Tidy, add documentation
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Function to calculate PRF phase 1 amount, tidy
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Create function for generating an application's Agreement Number
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

MDS-2948: implement soft_delete on backend, filtering for payment document types on frontend
  services/dsrp-api/app/api/application/models/application_document.py
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/application/resources/application_document.py
  services/dsrp-api/app/api/application/resources/application_payment_document.py
  services/dsrp-api/app/api/utils/models_mixins.py
  services/dsrp-web/src/components/pages/PaymentDocumentTable.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
  services/dsrp-web/src/components/pages/ViewPaymentRequestDocuments.js
  services/dsrp-web/src/constants/paymentDocumentTypes.js
Labels: 💾 Backend, 💻 Frontend

Create functions to get Invoice Numbers and Unique IDs used in PRF documents
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Fix syntax error, tidy
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/services/application_status_change_actions.py
Labels: 💾 Backend

Add Qualified Receiver Name and Expense Authority Name to company table, rename company table
  migrations/sql/V2020.07.29.10.24__create_company_table.sql
  services/dsrp-api/app/api/company/models/__init__.py
  services/dsrp-api/app/api/company_payment_info/models/__init__.py
  services/dsrp-api/app/api/company_payment_info/models/company_payment_info.py
  services/dsrp-api/app/api/services/application_status_change_actions.py
Labels: 💾 Backend

MDS-2948: fixed deletion
  services/dsrp-api/app/api/utils/models_mixins.py
Labels: 💾 Backend

MDS-2950: implemented delete functionality, backend and frontend, fixed some eslint errors
  services/dsrp-api/app/api/application/namespace.py
  services/dsrp-api/app/api/application/resources/application_payment_document.py
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/components/pages/PaymentDocumentTable.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
  services/dsrp-web/src/components/pages/ViewPaymentDocuments.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/reducerTypes.js
Labels: 💾 Backend, 💻 Frontend

Update boto3
  services/dsrp-api/requirements.txt
Labels: 💾 Backend

Stream file downloads (borrow from MDS), tidy
  services/dsrp-api/app/api/services/object_store_storage_service.py
Labels: 💾 Backend

Generate PRF Phase One file and save to object store, tidy
  services/dsrp-api/.env-example
  services/dsrp-api/app/api/services/application_status_change_actions.py
  services/dsrp-api/app/api/services/object_store_storage_service.py
  services/dsrp-api/app/config.py
Labels: 💾 Backend

Change doc type codes
  migrations/sql/V2020.07.30.10.44__create_payment_document_structure_and_seed_data.sql
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

What happened to our (my?) formatting settings :(
  services/dsrp-api/app/api/services/object_store_storage_service.py
Labels: 💾 Backend

Get how many PRF documents have been generated for this application for Invoice Number
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Upload PRF to object store, create payment document record, tidy/WIP
  services/dsrp-api/app/api/services/application_status_change_actions.py
Labels: 💾 Backend

Rename frontend payment doc type codes
  services/dsrp-web/src/components/pages/ViewPaymentDocuments.js
  services/dsrp-web/src/constants/paymentDocumentTypes.js
Labels: 💻 Frontend

Use same vscode settings as MDS
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

MDS-2950: download functionality; added filtering of deleted PRFS
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/documents/namespace.py
  services/dsrp-api/app/api/documents/resources/download.py
  services/dsrp-web/src/components/pages/PaymentDocumentTable.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/utils/actionlessNetworkCalls.js
Labels: 💾 Backend, 💻 Frontend

Formatting
  services/dsrp-api/app/api/application/models/application_status_change.py
  services/dsrp-api/app/api/application/resources/application_status.py
  services/dsrp-api/app/api/services/application_status_change_actions.py
  services/dsrp-api/app/api/services/object_store_storage_service.py
Labels: 💾 Backend

Formatting
  services/dsrp-api/app/api/application/resources/application_status.py
Labels: 💾 Backend

Don't create emailservice if not enabled, tidy
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

Update email_service.py
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

Formatting/tidy/consistent Not Found messages, move constants/function for templates to document manager service
  services/dsrp-api/app/api/application/models/application_status_change.py
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-api/app/api/application/resources/application_document.py
  services/dsrp-api/app/api/application/resources/application_payment_document.py
  services/dsrp-api/app/api/application/resources/application_status.py
  services/dsrp-api/app/api/application/resources/application_summary.py
  services/dsrp-api/app/api/application/resources/gen_application_docs.py
  services/dsrp-api/app/api/documents/resources/download.py
  services/dsrp-api/app/api/dsrp_settings/resources/dsrp_settings.py
  services/dsrp-api/app/api/orgbook/resources/orgbook_resources.py
  services/dsrp-api/app/api/services/document_generator_service.py
Labels: 💾 Backend

Remove references/uses of document manager in app--it doesn't exist. Remove unused code
  migrations/sql/V2020.07.30.10.44__create_payment_document_structure_and_seed_data.sql
  openshift/templates/_nodejs.dc.json
  services/dsrp-api/app/api/application/models/application_document.py
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-web/src/components/common/DocumentTable.js
  services/dsrp-web/src/components/common/UploadedDocumentsTable.js
  services/dsrp-web/src/utils/actionlessNetworkCalls.js
Labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

Remove LoadingBar from app (it's not being used)
  package-lock.json
  services/dsrp-web/package-lock.json
  services/dsrp-web/package.json
  services/dsrp-web/src/actionCreators/OGCActionCreator.js
  services/dsrp-web/src/actionCreators/appSettingsActionCreator.js
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/actionCreators/authenticationActionCreator.js
  services/dsrp-web/src/actionCreators/orgbookActionCreator.js
  services/dsrp-web/src/actionCreators/uploadDocumentsActionCreator.js
  services/dsrp-web/src/components/common/wrappers/ModalWrapper.js
  services/dsrp-web/src/reducers/rootReducer.js
  services/dsrp-web/src/store/configureStore.js
Labels: 💻 Frontend

Add invoice_number to response models
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-web/src/customPropTypes/paymentDocuments.js
Labels: 💾 Backend, 💻 Frontend

Pass invoice_number to PaymentDocument creation
  services/dsrp-api/app/api/services/application_status_change_actions.py
Labels: 💾 Backend

Invoice number is unique
  migrations/sql/V2020.07.30.10.44__create_payment_document_structure_and_seed_data.sql
Labels: none

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*
