Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

Update prod nfs volume spec
  openshift/pipeline/config-prod.groovy
Labels: 🏭 CI/CD

Get static content working!
  migrations/sql/V2020.05.19.09.12__create_work_type_statuses_and_alter_application_statuses.sql
  services/dsrp-api/app/__init__.py
  services/dsrp-api/app/api/application/models/__init__.py
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-api/app/api/constants.py
  services/dsrp-api/app/api/exports/namespace.py
  services/dsrp-api/app/api/exports/response_models.py
  services/dsrp-api/app/api/exports/static_content/resources/static_content_resource.py
  services/dsrp-web/src/App.js
  services/dsrp-web/src/actionCreators/staticContentActionCreator.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/reducers/staticContentReducer.js
Labels: 💾 Backend, 💻 Frontend

Create Contracted Work Status table/models & add to static content
  migrations/sql/V2020.05.19.09.12__create_work_type_statuses_and_alter_application_statuses.sql
  services/dsrp-api/app/api/contracted_work/models/__init__.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_status.py
  services/dsrp-api/app/api/contracted_work/response_models.py
  services/dsrp-api/app/api/exports/response_models.py
  services/dsrp-api/app/api/exports/static_content/resources/static_content_resource.py
Labels: 💾 Backend

Adding dropdown/hash selectors for application & contracted work statuses
  services/dsrp-web/src/reducers/staticContentReducer.js
  services/dsrp-web/src/selectors/staticContentSelectors.js
Labels: 💻 Frontend

console.log
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💻 Frontend

Adding tusd image
  docker-compose.yml
  services/dsrp-web/src/constants/api.js
  services/tusd/Dockerfile
  services/tusd/init.sh
Labels: 💻 Frontend

Fix missing import
  services/dsrp-web/src/selectors/staticContentSelectors.js
Labels: 💻 Frontend

Removing gatekeeper conf
  services/tusd/Dockerfile
  services/tusd/init.sh
Labels: none

Adding template file
  services/tusd/.env-template
Labels: none

Remove document manager references
  docker-compose.yml
Labels: none

Center align table headers (req. by Brian)
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

updated table
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/selectors/staticContentSelectors.js
Labels: 💻 Frontend

Update V2020.05.19.09.12__create_work_type_statuses_and_alter_application_statuses.sql
  migrations/sql/V2020.05.19.09.12__create_work_type_statuses_and_alter_application_statuses.sql
Labels: none

Condensing components into fragment to satisfy props
  services/dsrp-web/src/components/layout/HeaderDropdown.js
Labels: 💻 Frontend

Define closure for Menu.Item onItemHover
  services/dsrp-web/src/components/layout/HeaderDropdown.js
Labels: 💻 Frontend

updated null checks
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💻 Frontend

Actually throw errors in action creators so the "then" block doesn't get entered when it shouldn't (when the form is submitted, it would wipe the form on error)
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
Labels: 💻 Frontend

This needs to be "will mount" to calculate and display the totals in step 3
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

email link to status page
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
  openshift/templates/_python36.dc.json
  services/document-manager/backend/app/config.py
  services/dsrp-api/.env-example
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/config.py
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
  services/dsrp-web/src/constants/routes.js
  services/dsrp-web/src/routes/Routes.js
Labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

email template
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Adding UserLoading reducer
  services/dsrp-web/src/hoc/AuthenticationGuard.js
  services/dsrp-web/src/reducers/authenticationReducer.js
  services/dsrp-web/src/reducers/networkReducer.js
  services/dsrp-web/src/reducers/rootReducer.js
  services/dsrp-web/src/selectors/authenticationSelectors.js
Labels: 💻 Frontend

flow works
  services/dsrp-api/app/api/application/namespace.py
  services/dsrp-api/app/api/application/resources/gen_application_docs.py
  services/dsrp-api/app/api/services/document_generator_service.py
  services/dsrp-api/app/config.py
  services/dsrp-api/app/templates/shared_cost_agreement_template.docx
Labels: 💾 Backend

Extra prop
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

Create PUT endpoint for application "review" data only (admin)
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/namespace.py
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-api/app/api/application/response_models.py
Labels: 💾 Backend

address formatting
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/resources/gen_application_docs.py
  services/dsrp-api/app/templates/.~lock.shared_cost_agreement_template.docx#
  services/dsrp-api/app/templates/shared_cost_agreement_template.docx
Labels: 💾 Backend

updated
  .vscode/settings.json
Labels: none

Improve legibility of disabled fields
  services/dsrp-web/src/styles/overrides/antd-overrides.scss
Labels: 💻 Frontend

Removing minWidth on ApplicationForm
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

Reduce heading sizes
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/ViewOnlyApplicationForm.js
Labels: 💻 Frontend

updated dropdown
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
Labels: 💻 Frontend

Remove marshal for now
  services/dsrp-api/app/api/application/resources/application.py
Labels: 💾 Backend

simple inserts of wel number and contact
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/services/document_generator_service.py
  services/dsrp-api/app/templates/.~lock.shared_cost_agreement_template.docx#
  services/dsrp-api/app/templates/shared_cost_agreement_template.docx
Labels: 💾 Backend

delete tmp file
  services/dsrp-api/app/templates/.~lock.shared_cost_agreement_template.docx#
Labels: 💾 Backend

updated put
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
Labels: 💾 Backend, 💻 Frontend

clean up view submission and email template
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-web/src/components/pages/ApplicationStatusCard.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💾 Backend, 💻 Frontend

Stop the clicks on the dropdown menu from progogating and opening/closing the expanded table
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

WIP work on updating contracted work status
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/reducerTypes.js
Labels: 💻 Frontend

Users can now edit status of contracted work sections for each well site in an application
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💻 Frontend

Re-add permission to PUT endpoint
  services/dsrp-api/app/api/application/resources/application.py
Labels: 💾 Backend

Fix an issue where async validation wasn't performed due to loading of initial values and form was considered "pristine"
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend
