Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

Initial commit
  README.md
Labels: none

Boilerplate
  CONTRIBUTING.md
  LICENSE
  README.md
Labels: none

maths &orgbook search bug fix
  services/dsrp-web/src/components/common/OrgBookSearch.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Update metabase to latest.
  openshift/docker-images/metabase/Dockerfile
Labels: 🏭 CI/CD

orgbooks stuff
  services/dsrp-web/src/components/common/OrgBookSearch.js
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/constants/routes.js
Labels: 💻 Frontend

quick wip fix cuz permit holder not working
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

updated linting
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/actions/applicationActions.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/components/pages/ReviewApplicationsPage.js
  services/dsrp-web/src/constants/actionTypes.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/reducers.js
  services/dsrp-web/src/reducers/applicationReducer.js
  services/dsrp-web/src/reducers/rootReducer.js
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💻 Frontend

add react fragment, doesn"t work
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

stub email service for local
  services/dsrp-api/app/api/services/email_service.py
  services/dsrp-api/app/config.py
Labels: 💾 Backend

avoid attaching twice
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

sign p tag
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

better config setup
  bin/delete-pr.sh
  services/dsrp-api/app/api/services/email_service.py
  services/dsrp-api/app/config.py
Labels: 💾 Backend

SMTP_enabled flag on send
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

dirty flag looks good, but prompt never comes up
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

form step 1 BC static value, minor other
  services/dsrp-web/src/components/common/RenderSelect.js
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Form step 2: Estimated Expense Summary area WIP
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

fix bug/step 3 placeholder field
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

fix application_document table and add marshmallow
  migrations/sql/V2020.05.13.13.02__create_application_document.sql
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/application_document.py
  services/dsrp-api/app/api/application/namespace.py
  services/dsrp-api/app/api/application/resources/application_document.py
  services/dsrp-api/app/api/services/document_manager_service.py
  services/dsrp-api/app/api/utils/setup_marshmallow.py
  services/dsrp-api/app/config.py
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
Labels: 💾 Backend, 💻 Frontend

updated liniting
  services/dsrp-web/src/components/admin/AdminLogin.js
  services/dsrp-web/src/components/layout/Footer.js
Labels: 💻 Frontend

Adding dbbackup templates
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

updated json
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-web/src/components/admin/AdminLogin.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
Labels: 💾 Backend, 💻 Frontend

updated application table
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/constants/strings.js
Labels: 💻 Frontend

Sorting, filtering, and pagination for Applications GET
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-api/app/api/constants.py
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💾 Backend, 💻 Frontend

added a link
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
Labels: 💻 Frontend

Fix bug in Applications GET
  services/dsrp-api/app/api/application/resources/application.py
Labels: 💾 Backend

updated link
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
Labels: 💻 Frontend

Adding dbbackup templates and rocketchat integration
  openshift/templates/config/template.dsrp-rocket-chat-integrations.yaml
  openshift/templates/dbbackup.bc.json
  openshift/templates/dbbackup.dc.json
  services/dsrp-api/app/api/services/ogc_data_service.py
  settings/rocketchat/rocket.chat.integration.js
Labels: 💾 Backend, 🏭 CI/CD

move functions back to where they were to not cause bug
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

test
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

fix bug with position of functions being changed (cant find linter rule to remove this?)
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

Backend sorting supported for submission_date only atm
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
Labels: 💻 Frontend

selector, not action creator
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

add sortField
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
Labels: 💻 Frontend

formatting
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

Create V2020.05.14.10.41__alter_application_document.sql
  migrations/sql/V2020.05.14.10.41__alter_application_document.sql
Labels: none

Formatting/comment
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

Update V2020.05.14.10.41__alter_application_document.sql
  migrations/sql/V2020.05.14.10.41__alter_application_document.sql
Labels: none

updated linting
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/actions/applicationActions.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
  services/dsrp-web/src/constants/actionTypes.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/constants/routes.js
  services/dsrp-web/src/reducers/applicationReducer.js
  services/dsrp-web/src/routes/Routes.js
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💾 Backend, 💻 Frontend

form
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
  services/dsrp-web/src/constants/forms.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

form file
  services/dsrp-web/src/components/forms/ViewApplicationStatusForm.js
Labels: 💻 Frontend
