Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

FIx for flyway migration
  migrations/Dockerfile
  openshift/templates/flyway.bc.json
Labels: 🏭 CI/CD

Update IS name
  openshift/templates/flyway.bc.json
Labels: 🏭 CI/CD

Update redis.dc.yaml
  openshift4/templates/redis.dc.yaml
Labels: none

Add oc login to build job
  .github/workflows/build.yaml
Labels: none

Use tag parameter instead of version in build worfklow
  .github/workflows/build.yaml
Labels: none

Cleanup of BC files
  openshift4/templates/_nodejs.bc.yaml
  openshift4/templates/_python36.bc.yaml
  openshift4/templates/flyway.bc.yaml
  openshift4/templates/postgresql.bc.yaml
  openshift4/templates/tusd.bc.yaml
Labels: none

Remove leading _ on configs
  .github/workflows/build.yaml
  openshift4/templates/nginx.bc.yaml
  openshift4/templates/nginx.dc.yaml
  openshift4/templates/nodejs.bc.yaml
  openshift4/templates/nodejs.dc.yaml
  openshift4/templates/python36.bc.yaml
  openshift4/templates/python36.dc.yaml
Labels: none

Prepopulating tag parameter with 'dev'
  openshift4/templates/docgen.bc.yaml
  openshift4/templates/nodejs.bc.yaml
  openshift4/templates/postgresql.bc.yaml
  openshift4/templates/python36.bc.yaml
  openshift4/templates/tusd.bc.yaml
Labels: none

Remove dev tag from is selectors
  .github/workflows/build.yaml
Labels: none

Add other matrix jobs (commented)
  .github/workflows/build.yaml
Labels: none

Use project imagestream for postgres src
  openshift4/templates/postgresql.bc.yaml
Labels: none

Add tusd and postgres to workflow and allow unused params
  .github/workflows/build.yaml
Labels: none

Add frontend, backend, flyway, dbbackup, docgen to build workflow
  .github/workflows/build.yaml
  openshift4/templates/dbbackup.bc.yaml
  openshift4/templates/docgen.bc.yaml
  openshift4/templates/flyway.bc.yaml
  openshift4/templates/nodejs.bc.yaml
Labels: none

Add build triggers for new services
  .github/workflows/build.yaml
Labels: none

Fix template comment
  .github/workflows/build.yaml
Labels: none

Update tusd deployment config
  openshift4/templates/tusd.dc.yaml
Labels: none

Implement workflow to manage deployment configs
  .github/workflows/deploy-dev.yaml
Labels: none

Update wording
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
  services/dsrp-web/src/components/pages/ApplicationSuccessPage.js
Labels: 💻 Frontend

Remove unnecessary waits in build
  .github/workflows/build.yaml
Labels: none

Update redis dc
  openshift4/templates/redis.dc.yaml
  openshift4/templates/tusd.dc.yaml
Labels: none

Add redis to dev deploy
  .github/workflows/deploy-dev.yaml
Labels: none

Update beforeMigrate__0__add_extensions.sql
  migrations/sql/beforeMigrate__0__add_extensions.sql
Labels: none

Ignore temporary Microsoft files (e.g. Word docs)
  .gitignore
Labels: none

Upgrade docgen api
  docker-compose.yml
  openshift/templates/docgen.bc.json
Labels: 🏭 CI/CD

New conditionally rendered block in SCA for estimated cost overrides
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/templates/shared_cost_agreement.docx
Labels: 💾 Backend

Add proxy definition
  .actrc
  .gitignore
  openshift4/templates/jenkins.is.yaml
  openshift4/templates/proxy.yaml
Labels: none

Add network policies
  openshift4/templates/internal.np.yaml
Labels: none

Update nginx and postgres deploys
  openshift4/templates/nginx.dc.yaml
  openshift4/templates/postgresql.dc.yaml
Labels: none

Add nginx and postgres to dev deploy
  .github/workflows/deploy-dev.yaml
Labels: none

Hard code nginx domain for now
  .github/workflows/deploy-dev.yaml
  openshift4/templates/nginx.dc.yaml
  openshift4/templates/proxy.yaml
Labels: none

Add trailing slash
  .github/workflows/deploy-dev.yaml
Labels: none

Update nginx conf
  openshift4/templates/nginx.dc.yaml
  openshift4/templates/python36.dc.yaml
Labels: none

Cleanup docgen template
  openshift4/templates/docgen.dc.yaml
  openshift4/templates/postgresql.dc.yaml
  openshift4/templates/tusd.dc.yaml
Labels: none

Add docgen to dev deploy
  .github/workflows/deploy-dev.yaml
Labels: none

Cleanup flyway and dbbackup deploy config
  openshift4/templates/dbbackup.dc.yaml
  openshift4/templates/flyway.bc.yaml
Labels: none

Add dbbackup to dev deploy
  .github/workflows/deploy-dev.yaml
Labels: none

Updates to API dc
  .github/workflows/deploy-dev.yaml
  openshift4/templates/python36.dc.yaml
Labels: none

Updates to FE dc
  .github/workflows/deploy-dev.yaml
  openshift4/templates/nodejs.dc.yaml
Labels: none

Cleanup deployment templates
  openshift4/templates/dbbackup.dc.yaml
  openshift4/templates/docgen.dc.yaml
  openshift4/templates/nodejs.dc.yaml
  openshift4/templates/python36.dc.yaml
Labels: none

Add FE, BE to dev deploy
  .github/workflows/deploy-dev.yaml
Labels: none

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*
