Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

downloads need tokens as dict
  services/dsrp-api/app/api/application/resources/application_document.py
  services/dsrp-api/app/api/documents/resources/download.py
Labels: 💾 Backend

can"t concat dict
  services/dsrp-api/app/api/documents/resources/download.py
Labels: 💾 Backend

reivew_json safety, token data usage
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/documents/resources/download.py
Labels: 💾 Backend

Add work_id;
  migrations/sql/V2020.07.02.14.23__add_json_backup_column.sql
  migrations/sql/V2020.07.06.19.56__inject_work_id_into_json.sql
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💻 Frontend

Update ApplicationTable.js
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

Update V2020.07.06.19.56__inject_work_id_into_json.sql
  migrations/sql/V2020.07.06.19.56__inject_work_id_into_json.sql
Labels: none

Create V2020.07.07.15.44__create_trigger_after_application_insert.sql
  migrations/sql/V2020.07.07.15.44__create_trigger_after_application_insert.sql
Labels: none

handle duplicate well numbers
  migrations/sql/V2020.07.06.19.56__inject_work_id_into_json.sql
  migrations/sql/V2020.07.07.15.44__create_trigger_after_application_insert.sql
Labels: none

Create V2020.07.08.15.14__update_trigger_and_work_id.sql
  migrations/sql/V2020.07.08.15.14__update_trigger_and_work_id.sql
Labels: none

Create V2020.07.09.15.14__update_trigger_and_work_id_again.sql
  migrations/sql/V2020.07.09.15.14__update_trigger_and_work_id_again.sql
Labels: none

Update application.py
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Update application.py
  services/dsrp-api/app/api/application/resources/application.py
Labels: 💾 Backend

Update applicationSelectors.js
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💻 Frontend

Bug: Shared Cost Agreement (#114)
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/pages/ApplicationStatusCard.js
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💾 Backend, 💻 Frontend

We cannot spell
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
Labels: 💻 Frontend

formatting fixes and adding company name to the shared cost agreement
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/templates/shared_cost_agreement.docx
Labels: 💾 Backend

Change metadata title from "SAMPLE AGREEMENTS" to "DSRP - Shared Cost Agreement"
  services/dsrp-api/app/templates/shared_cost_agreement.docx
Labels: 💾 Backend

Revert "Change metadata title from "SAMPLE AGREEMENTS" to "DSRP - Shared Cost Agreement""
  services/dsrp-api/app/templates/shared_cost_agreement.docx
Labels: 💾 Backend

Change metadata title from "SAMPLE AGREEMENTS" to "DSRP - Shared Cost Agreement"
  services/dsrp-api/app/templates/shared_cost_agreement.docx
Labels: 💾 Backend

MDS-2946: added edit_notes to application table
  migrations/sql/V2020.07.27.14.25__adde_edit_notes_column_to_application.sql
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/response_models.py
Labels: 💾 Backend

Allow admins to edit contact + planned start/end dates for contracted work items on applications (WIP)
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/ViewOnlyApplicationForm.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
Labels: 💻 Frontend

MDS-2946: added application_history table
  migrations/sql/V2020.07.27.14.56__added_application_history_table.sql
Labels: none

Only render the empty contracted work sections if the applicant is filling out their application
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Support "loading effect" for submitting the application & disable the previous button while it is
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
Labels: 💻 Frontend

Update migration files
  migrations/sql/V2020.07.27.14.25__add_edit_note_column_to_application.sql
  migrations/sql/V2020.07.27.14.25__adde_edit_notes_column_to_application.sql
  migrations/sql/V2020.07.27.14.56__added_application_history_table.sql
  migrations/sql/V2020.07.27.14.56__create_application_history_table.sql
Labels: none

Update ModalWrapper to allow for "after close" functionality
  services/dsrp-web/src/components/common/wrappers/ModalWrapper.js
Labels: 💻 Frontend

Create admin modal for finishing edits on the application (WIP)
  services/dsrp-web/src/components/forms/AdminEditApplicationForm.js
  services/dsrp-web/src/components/modalContent/AdminEditApplicationModal.js
  services/dsrp-web/src/components/modalContent/config.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
  services/dsrp-web/src/constants/forms.js
Labels: 💻 Frontend

Tidy other files
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/components/forms/ApplicationStatusForm.js
  services/dsrp-web/src/components/layout/Header.js
Labels: 💻 Frontend

Send proper payload to application PUT
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
Labels: 💻 Frontend

Text changes
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
Labels: 💻 Frontend

More text changes
  services/dsrp-web/src/components/forms/AdminEditApplicationForm.js
Labels: 💻 Frontend

MDS-2946: store application history record
  migrations/sql/V2020.07.27.14.56__create_application_history_table.sql
  services/dsrp-api/app/api/application/models/__init__.py
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/application_history.py
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-api/app/api/utils/setup_marshmallow.py
Labels: 💾 Backend

Add Resume Editing button, implement proper resume/discard/submit flow, add success toast
  migrations/sql/V2020.07.27.14.56__create_application_history_table.sql
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/components/forms/AdminEditApplicationForm.js
  services/dsrp-web/src/components/modalContent/AdminEditApplicationModal.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
Labels: 💻 Frontend

MDS-2946: WIP, updates company_contact
  services/dsrp-api/app/api/application/resources/application.py
Labels: 💾 Backend

Don't reset Admin Edit Application form on resume editing
  services/dsrp-web/src/components/forms/AdminEditApplicationForm.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
Labels: 💻 Frontend

This is not used anywhere
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

Create V2020.07.29.10.24__create_company_table.sql
  migrations/sql/V2020.07.29.10.24__create_company_table.sql
Labels: none

Fix bug with application model hybrid property company_name
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

MDS-2946: backend: update start_date, end_date of work item in application
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-api/requirements.txt
Labels: 💾 Backend

Update dsrp-api uwsgi.ini to include "lazy-apps = true"
  services/dsrp-api/uwsgi.ini
Labels: 💾 Backend
