Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

Fix memoization bug
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
Labels: 💻 Frontend

Make stateful component to use componentShouldUpdate to use special validate function
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
Labels: 💻 Frontend

DSRP-2993: logout user on session end
  services/dsrp-web/src/actionCreators/authorizationActionCreator.js
  services/dsrp-web/src/components/common/AuthorizationTimer.js
  services/dsrp-web/src/components/pages/RequestAccessPage.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

Address some feedback
  services/dsrp-web/src/components/common/FileUpload.js
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
Labels: 💻 Frontend

Address more feedback (form labels and help text)
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
Labels: 💻 Frontend

Address more feedback (open most relevant tab in modal, etc)
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/components/forms/InterimReportForm.js
  services/dsrp-web/src/components/modalContent/ContractedWorkPaymentModal.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
Labels: 💻 Frontend

WIP table styling
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

Table styling
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

Table styling
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

Add interim/final submitter name fields, have check boxes be selected if submitted
  migrations/sql/V2020.09.01.20.17__update_contracted_work_payment_table.sql
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/response_models.py
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/components/forms/AdminEditApplicationForm.js
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/components/modalContent/ContractedWorkPaymentModal.js
Labels: 💾 Backend, 💻 Frontend

DSRP-2993: authorization timer, automatic logout, code clean up
  services/dsrp-web/package.json
  services/dsrp-web/src/App.js
  services/dsrp-web/src/actionCreators/authorizationActionCreator.js
  services/dsrp-web/src/actions/authorizationActions.js
  services/dsrp-web/src/components/common/AuthorizationTimer.js
  services/dsrp-web/src/components/layout/Header.js
  services/dsrp-web/src/components/pages/RequestAccessPage.js
  services/dsrp-web/src/constants/actionTypes.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/reducers.js
  services/dsrp-web/src/reducers/authorizationReducer.js
  services/dsrp-web/src/reducers/rootReducer.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

Filter/sort approved work by company name
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/admin/ReviewApprovedContractedWorkInfo.js
Labels: 💾 Backend, 💻 Frontend

Change "info required" icon colour to warning colour, change triggers to click only, add "has generated PRF" tooltips
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
Labels: 💻 Frontend

Create index on json company_name
  migrations/sql/V2020.09.02.11.36__create_some_indexes.sql
Labels: none

Use JumpToApplicationForm component/filter for guid in review approved work view
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/components/admin/ReviewApprovedContractedWorkInfo.js
Labels: 💻 Frontend

Right-align dollar columns in admin approved work view
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
Labels: 💻 Frontend

Break Approved form into seperate component
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusApprovedForm.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
Labels: 💻 Frontend

Wording, icon
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
Labels: 💻 Frontend

Ready-only version of approve work form for admins to view at any time, other
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusApprovedForm.js
  services/dsrp-web/src/components/modalContent/AdminContractedWorkPaymentModal.js
  services/dsrp-web/src/components/modalContent/config.js
Labels: 💻 Frontend

Add more info to approved work view modal
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusApprovedForm.js
Labels: 💻 Frontend

DSRP-2993: resets authorization on clicking on New Application; fix for infinite reload of /view-application-status
  services/dsrp-api/app/api/utils/access_decorators.py
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/actionCreators/authorizationActionCreator.js
  services/dsrp-web/src/components/common/AuthorizationTimer.js
  services/dsrp-web/src/components/pages/LandingPage.js
  services/dsrp-web/src/components/pages/RequestAccessPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💾 Backend, 💻 Frontend

Update Final Report template
  services/dsrp-web/src/assets/downloads/Dormant Sites Reclamation Program - Final Report.docx
  services/dsrp-web/src/assets/downloads/~$rmant Sites Reclamation Program - Final Report.docx
Labels: 💻 Frontend

Final Report is a PDF
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/constants/fileTypes.js
Labels: 💾 Backend, 💻 Frontend

Add requried reporting fields to models
  migrations/sql/V2020.09.02.15.18__add_final_report_columns_to_contracted_work_payment.sql
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/response_models.py
Labels: 💾 Backend

Commas
  services/dsrp-api/app/api/contracted_work/response_models.py
Labels: 💾 Backend

DSRP-2993: wording, timer reset on specific actions
  services/dsrp-api/app/api/authorization/resources/authorization.py
  services/dsrp-web/src/components/common/AuthorizationTimer.js
  services/dsrp-web/src/components/forms/ViewApplicationStatusForm.js
  services/dsrp-web/src/components/layout/Header.js
  services/dsrp-web/src/components/layout/HeaderDropdown.js
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💾 Backend, 💻 Frontend

Final reporting questions
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/styles/generic/layout.scss
  services/dsrp-web/src/utils/helpers.js
Labels: 💾 Backend, 💻 Frontend

Delete ~$rmant Sites Reclamation Program - Final Report.docx
  services/dsrp-web/src/assets/downloads/~$rmant Sites Reclamation Program - Final Report.docx
Labels: 💻 Frontend

notZero validation
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/utils/validate.js
Labels: 💻 Frontend

Update Dormant Sites Reclamation Program - Evidence of Cost.xlsx
  services/dsrp-web/src/assets/downloads/Dormant Sites Reclamation Program - Evidence of Cost.xlsx
Labels: 💻 Frontend

Update Dormant Sites Reclamation Program - Evidence of Cost.xlsx
  services/dsrp-web/src/assets/downloads/Dormant Sites Reclamation Program - Evidence of Cost.xlsx
Labels: 💻 Frontend

Colour
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

DSRP-2993: protected api with otp; added timer on modals; athorization imer styling; improved error handking for OTL
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
  services/dsrp-api/app/api/application/resources/application_document.py
  services/dsrp-api/app/api/application/resources/application_summary.py
  services/dsrp-api/app/api/authorization/resources/authorization.py
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-api/app/api/utils/access_decorators.py
  services/dsrp-web/src/actionCreators/authorizationActionCreator.js
  services/dsrp-web/src/components/common/AuthorizationTimer.js
  services/dsrp-web/src/components/common/wrappers/ModalWrapper.js
  services/dsrp-web/src/styles/components/Header.scss
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💾 Backend, 💻 Frontend

Don't let admins approve final payments until the interim has been approved before
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
Labels: 💻 Frontend

DSRP-2993: leading zero for timer
  services/dsrp-web/src/components/common/AuthorizationTimer.js
Labels: 💻 Frontend

DSRP-2993: moved OTP timeout to env
  openshift/templates/_python36.dc.json
  services/dsrp-api/.env-example
  services/dsrp-api/app/api/authorization/resources/authorization.py
  services/dsrp-api/app/config.py
Labels: 💾 Backend, 🏭 CI/CD

Remove commented-out code
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
Labels: 💻 Frontend

DSRP-2993: reverted config.py
  services/dsrp-api/app/config.py
Labels: 💾 Backend

DSRP-2993: pr comments
  services/dsrp-api/app/api/utils/access_decorators.py
  services/dsrp-web/src/App.js
  services/dsrp-web/src/actionCreators/authorizationActionCreator.js
  services/dsrp-web/src/components/layout/Header.js
  services/dsrp-web/src/components/pages/RequestAccessPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
  services/dsrp-web/src/reducers/authorizationReducer.js
Labels: 💾 Backend, 💻 Frontend

meters --> metres
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend
