Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

Document upload success display
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

added warning banner when applications are disabled
  services/dsrp-web/src/components/common/WarningBanner.js
  services/dsrp-web/src/components/pages/ReviewApplicationsPage.js
Labels: 💻 Frontend

add upload on admin side
  services/dsrp-web/src/components/pages/ViewApplicationDocuments.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
Labels: 💻 Frontend

added a search component to review applications
  services/dsrp-web/src/components/forms/JumpToApplicationForm.js
  services/dsrp-web/src/components/pages/ReviewApplicationsPage.js
  services/dsrp-web/src/constants/forms.js
Labels: 💻 Frontend

id --> guid
  services/dsrp-api/app/api/application/resources/application.py
Labels: 💾 Backend

moved logic to a different component to use param state
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/components/pages/ReviewApplicationsPage.js
Labels: 💻 Frontend

add ip headers for auditing
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/resources/application.py
  services/nginx/conf.d/api.dsrp.conf.tmpl
Labels: 💾 Backend

small changes
  services/dsrp-api/app/api/dsrp_settings/resources/dsrp_settings.py
  services/dsrp-web/README.md
  services/dsrp-web/public/index.html
  services/dsrp-web/public/manifest.json
  services/dsrp-web/src/styles/overrides/antd-overrides.scss
Labels: 💾 Backend, 💻 Frontend

added clear functionality to application ref search
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/components/forms/JumpToApplicationForm.js
  services/dsrp-web/src/components/pages/ReviewApplicationsPage.js
Labels: 💻 Frontend

description
  services/dsrp-api/app/api/application/resources/application_document.py
Labels: 💾 Backend

missing sql file
  migrations/sql/V2020.05.22.11.50__submitter_ip.sql
Labels: none

added comment to Indigenous participation
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

add NR landing page link
  services/dsrp-web/src/components/pages/LandingPage.js
  services/dsrp-web/src/styles/overrides/antd-overrides.scss
Labels: 💻 Frontend

Missed dotslash
  services/tusd/Dockerfile
Labels: none

Tusd build config
  Makefile
  openshift/pipeline/config-build.groovy
  openshift/templates/tusd.bc.json
Labels: 🏭 CI/CD

Create unique identifiers for contracted work dollar amount fields
  services/dsrp-web/src/constants/contract_work_sections.js
Labels: 💻 Frontend

Create unique identifiers for site condition fields and move to seperate file
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/constants/site_conditions.js
Labels: 💻 Frontend

More deployment configs
  docker-compose.yml
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
  openshift/templates/_python36.dc.json
  openshift/templates/document-manager/docman.bc.json
  openshift/templates/document-manager/docman.dc.json
  openshift/templates/tusd.dc.json
  services/dsrp-api/.env-dev-local-keycloak
  services/dsrp-api/.env-example
  services/dsrp-api/app/config.py
Labels: 💾 Backend, 🏭 CI/CD

Disable readfiles
  Jenkinsfile
Labels: none

Missed comma
  openshift/pipeline/config-build.groovy
Labels: 🏭 CI/CD

Adding non-base image stream for tusd
  openshift/templates/tusd.bc.json
Labels: 🏭 CI/CD

Remove service account spec
  openshift/templates/tusd.dc.json
Labels: 🏭 CI/CD

Executable flag
  openshift/docker-images/tusd/init.sh
Labels: 🏭 CI/CD

Second executable bit
  services/tusd/init.sh
Labels: none

Tusd nginx conf loading
  services/nginx/conf.d/tusd.conf.tmpl
  services/nginx/nginx.conf
Labels: none

Liveness and readiness probe tusd
  openshift/templates/tusd.dc.json
Labels: 🏭 CI/CD

Updating nginx proxy vars
  openshift/pipeline/config-dev.groovy
  services/nginx/conf.d/tusd.conf.tmpl
Labels: 🏭 CI/CD

lAnGuAGe
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
Labels: 💻 Frontend

Update requirements.txt
  services/dsrp-api/requirements.txt
Labels: 💾 Backend

Remove backend suffix
  openshift/pipeline/config-dev.groovy
  openshift/templates/_nginx.dc.json
Labels: 🏭 CI/CD

Add process into try and except blocks
  services/dsrp-api/app/api/services/ogc_data_service.py
Labels: 💾 Backend

add new column, change timing to 1 hr
  services/dsrp-api/app/api/services/ogc_data_service.py
Labels: 💾 Backend

Updating nginx conf
  openshift/templates/_nginx.dc.json
  services/nginx/conf.d/frontend.dsrp.conf.tmpl
  services/nginx/nginx.conf
Labels: 🏭 CI/CD

Too many renames
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

Add business number field
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

add status email metho
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

wip push
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/resources/application.py
Labels: 💾 Backend

merge new documnet flow
  services/dsrp-api/app/api/application/resources/application_document.py
Labels: 💾 Backend

small changes
  services/dsrp-api/app/api/well/response_models.py
  services/dsrp-web/src/components/pages/ApplicationSuccessPage.js
Labels: 💾 Backend, 💻 Frontend

Location upload update
  openshift/pipeline/config-dev.groovy
  services/nginx/conf.d/tusd.conf.tmpl
Labels: 🏭 CI/CD
