Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

document listing and firing, wont download though
  services/dsrp-api/app/api/services/object_store_storage_service.py
  services/dsrp-web/src/components/common/DocumentTable.js
  services/dsrp-web/src/components/common/FileUpload.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/utils/actionlessNetworkCalls.js
Labels: 💾 Backend, 💻 Frontend

wip backend work
  services/dsrp-api/app/api/application/resources/application.py
Labels: 💾 Backend

Update ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

updated merge conflicts
  services/dsrp-api/app/api/application/resources/application.py
Labels: 💾 Backend

Adding document upload form
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
  services/dsrp-web/src/constants/forms.js
Labels: 💻 Frontend

Compile error
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
Labels: 💻 Frontend

missing files
  services/dsrp-web/src/components/pages/ViewApplicationDocuments.js
  services/dsrp-web/src/utils/actionlessNetworkCalls.js
Labels: 💻 Frontend

filename
  services/dsrp-web/src/utils/actionlessNetworkCalls.js
Labels: 💻 Frontend

add new condition
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

WIP document upload component
  services/dsrp-web/src/actionCreators/uploadDocumentsActionCreator.js
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
Labels: 💻 Frontend

Fix navbar jankiness due to increasing text values
  services/dsrp-web/src/components/layout/HeaderDropdown.js
Labels: 💻 Frontend

wip push
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/selectors/staticContentSelectors.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💾 Backend, 💻 Frontend

Add more wiggle room
  services/dsrp-web/src/components/layout/HeaderDropdown.js
Labels: 💻 Frontend

Add more wiggle room
  services/dsrp-web/src/components/layout/HeaderDropdown.js
Labels: 💻 Frontend

WIP upload component
  openshift/templates/tusd.dc.json
  services/dsrp-web/src/actionCreators/uploadDocumentsActionCreator.js
  services/dsrp-web/src/components/common/FileUpload.js
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
  services/dsrp-web/src/constants/api.js
Labels: 💻 Frontend, 🏭 CI/CD

Adding Matomo dep
  services/dsrp-web/package-lock.json
  services/dsrp-web/package.json
  services/dsrp-web/src/index.js
Labels: 💻 Frontend

filtering/sorting work, moved functions around
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
Labels: 💻 Frontend

download with core-like token
  services/dsrp-api/app/__init__.py
  services/dsrp-api/app/api/application/resources/application_document.py
  services/dsrp-api/app/api/constants.py
  services/dsrp-api/app/api/documents/namespace.py
  services/dsrp-api/app/api/documents/resources/download.py
  services/dsrp-api/app/api/documents/response_models.py
  services/dsrp-web/src/components/common/DocumentTable.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/utils/actionlessNetworkCalls.js
Labels: 💾 Backend, 💻 Frontend

Move stuff around to trigger re-rendering of column states, more sorting/filtering implementation, isLoaded state for table, JSONB type in DB
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
Labels: 💾 Backend, 💻 Frontend

tidy
  services/dsrp-api/app/api/application/resources/application.py
Labels: 💾 Backend

Update ReviewApplicationsPage.js
  services/dsrp-web/src/components/pages/ReviewApplicationsPage.js
Labels: 💻 Frontend

Update is loading logic
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

added length check to money input field, preventing users from adding in values over 99+ million
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

The two app form checkboxes start off deselected if in apply mode
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
Labels: 💻 Frontend

Removing document component from application
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

removed temporary auth from public views
  services/dsrp-web/src/components/layout/HeaderDropdown.js
  services/dsrp-web/src/components/pages/ApplicationSuccessPage.js
  services/dsrp-web/src/components/pages/LandingPage.js
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

Deal with undefined static content checker
  services/dsrp-web/src/App.js
Labels: 💻 Frontend

Set default upload url prop to docman
  services/dsrp-web/src/components/common/FileUpload.js
Labels: 💻 Frontend

Document upload on status check page
  services/dsrp-web/src/actionCreators/uploadDocumentsActionCreator.js
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/reducerTypes.js
Labels: 💻 Frontend

Fix logic for checkbox resetting due to un-predictable order of events for loading saved form data
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
Labels: 💻 Frontend

Removing console.logs and fileupload param
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/common/FileUpload.js
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

tidy render auto field, render field, query selector for scroll to element logic
  services/dsrp-web/src/components/common/RenderAutoSizeField.js
  services/dsrp-web/src/components/common/RenderField.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

Remove console.logs
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

This undefined validate function was causing some issues
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

removed view_all permissions
  services/dsrp-api/app/api/dsrp_settings/resources/dsrp_settings.py
  services/dsrp-api/app/api/exports/static_content/resources/static_content_resource.py
  services/dsrp-api/app/api/liability/resources/liability.py
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
Labels: 💾 Backend, 💻 Frontend

Woops...
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

Update API
  services/dsrp-api/app/api/application/resources/application_document.py
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
Labels: 💾 Backend, 💻 Frontend

Undo reset checkboxes
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
Labels: 💻 Frontend

updated pagination to only show if there are applications
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

show guids instead of integers, remove from table
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
Labels: 💻 Frontend
