Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

Raise an internal server error if static content failed to generate (instead of assert message)
  services/dsrp-api/app/api/exports/static_content/resources/static_content_resource.py
Labels: 💾 Backend

Add better logging to our OrgBook resource
  services/dsrp-api/app/api/orgbook/resources/orgbook_resources.py
Labels: 💾 Backend

Increase OrgBook search debounce time to 2 seconds
  services/dsrp-web/src/components/common/OrgBookSearch.js
Labels: 💻 Frontend

swagger doc and increase logging on errors
  services/dsrp-api/app/__init__.py
  services/dsrp-api/app/api/exports/static_content/resources/static_content_resource.py
Labels: 💾 Backend

Check for falsy instead of null
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

updated logic of shared cost to not include rejected or withdrawn contracted work types
  migrations/sql/V2020.05.25.13.32__add_new_contracted_work_status.sql
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💻 Frontend

removed checkbox to change status to documents submitted from the admin view
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
  services/dsrp-web/src/components/pages/ViewApplicationDocuments.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
Labels: 💻 Frontend

Removing regression
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

Returned LMR values from OGC can be null (add safety for that)
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

Don't display the LMR value if it's falsey except 0
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

Maintenance mode
  services/nginx/conf.d/server.params
  services/nginx/html/maintenance-assets/logo.029f.svg
  services/nginx/html/maintenance-assets/main.08a7.css
  services/nginx/html/maintenance-assets/vendor.36b9.css
  services/nginx/html/maintenance_on.html
Labels: none

Remove maintenance files
  services/nginx/html/maintenance-assets/logo.029f.svg
  services/nginx/html/maintenance-assets/main.08a7.css
  services/nginx/html/maintenance-assets/vendor.36b9.css
Labels: none

Remove maintenance mode
  services/nginx/html/maintenance_on.html
Labels: none

first with real template, still waiting on some details
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/exports/response_models.py
  services/dsrp-api/app/templates/shared_cost_agreement_template.docx
Labels: 💾 Backend

more fields and data
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/resources/gen_application_docs.py
  services/dsrp-api/app/templates/shared_cost_agreement_template.docx
Labels: 💾 Backend

lock down endpoint for now
  services/dsrp-api/app/api/application/resources/gen_application_docs.py
Labels: 💾 Backend

force two decimals
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

room for guid as aggrement numbe
  services/dsrp-api/app/templates/shared_cost_agreement_template.docx
Labels: 💾 Backend

more room
  services/dsrp-api/app/templates/shared_cost_agreement_template.docx
Labels: 💾 Backend

token redepemtion
  services/dsrp-api/app/api/application/resources/gen_application_docs.py
  services/dsrp-api/app/api/documents/resources/download.py
Labels: 💾 Backend

FE hookup and file name
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/resources/gen_application_docs.py
  services/dsrp-api/app/api/documents/resources/download.py
  services/dsrp-web/src/components/pages/ViewApplicationDocuments.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/utils/actionlessNetworkCalls.js
Labels: 💾 Backend, 💻 Frontend

small changes with docgen
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/documents/resources/download.py
  services/dsrp-web/src/components/pages/ViewApplicationDocuments.js
Labels: 💾 Backend, 💻 Frontend

template file dynamic from instance path
  services/dsrp-api/app/api/application/resources/gen_application_docs.py
Labels: 💾 Backend

use root_path
  services/dsrp-api/app/api/application/resources/gen_application_docs.py
Labels: 💾 Backend

Deploy docgen for DSRP
  openshift/pipeline/config-build.groovy
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
  openshift/templates/docgen.bc.json
  openshift/templates/docgen.dc.json
Labels: 🏭 CI/CD

Create V2020.05.28.15.37__remove_reference_number_column_from_application.sql
  migrations/sql/V2020.05.28.15.37__remove_reference_number_column_from_application.sql
Labels: none

pass through env var
  openshift/templates/_python36.dc.json
Labels: 🏭 CI/CD

Create R__applications_view.sql
  migrations/sql/R__applications_view.sql
Labels: none

add views
  migrations/sql/R__applications_view.sql
  migrations/sql/R__work_info_view.sql
Labels: none

update shared cost agreement template
  migrations/sql/R__well_sites_view.sql
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-api/app/api/application/resources/gen_application_docs.py
  services/dsrp-api/app/templates/shared_cost_agreement_template.docx
Labels: 💾 Backend

update template
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-api/app/api/application/resources/gen_application_docs.py
  services/dsrp-api/app/api/documents/resources/download.py
  services/dsrp-api/app/api/services/document_generator_service.py
  services/dsrp-api/app/templates/shared_cost_agreement_template.docx
  services/dsrp-api/app/templates/~$ared_cost_agreement_template.docx
Labels: 💾 Backend

send attachment when docs are requested
  services/dsrp-api/app/api/application/models/application_status_change.py
  services/dsrp-api/app/api/application/resources/gen_application_docs.py
  services/dsrp-api/app/api/documents/resources/download.py
  services/dsrp-api/app/api/services/document_generator_service.py
  services/dsrp-api/app/api/services/email_service.py
  services/dsrp-api/app/templates/shared_cost_agreement.docx
Labels: 💾 Backend

padd id for agreement#
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

removed debuging
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

only approved work types
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/templates/shared_cost_agreement.docx
Labels: 💾 Backend

wan compare
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Create V2020.06.19.12.46__rename_application_status_code_rejected.sql
  migrations/sql/V2020.06.19.12.46__rename_application_status_code_rejected.sql
Labels: none

agreement number formatting
  services/dsrp-api/app/templates/shared_cost_agreement.docx
Labels: 💾 Backend

this was moved to another file
  migrations/sql/R__applications_view.sql
Labels: none

missing import
  services/dsrp-api/app/templates/.~lock.shared_cost_agreement.docx#
  services/dsrp-web/src/utils/actionlessNetworkCalls.js
Labels: 💾 Backend, 💻 Frontend

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*
