Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

More performant to do the relationship once
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
Labels: 💾 Backend

Fix typo, adjust for status structure changes
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
Labels: 💾 Backend

Batch method for getting all approved contracted work is much faster
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
  services/dsrp-api/app/api/contracted_work/response_models.py
Labels: 💾 Backend

Create V2020.08.21.11.42__create_some_indexes.sql
  migrations/sql/V2020.08.21.11.42__create_some_indexes.sql
Labels: none

This wasn't set up correctly for the new structure
  services/dsrp-api/app/api/application/models/payment_document.py
Labels: 💾 Backend

Remove unneeded Badge styling code
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/styles/overrides/antd-overrides.scss
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

Upgrade some reqs (tested working)
  services/dsrp-api/requirements.txt
Labels: 💾 Backend

Rename vars, validate pagination sizes, fix bug with pagination displays
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
  services/dsrp-api/app/api/constants.py
  services/dsrp-api/app/api/utils/helpers.py
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/components/admin/ReviewApprovedContractedWorkInfo.js
  services/dsrp-web/src/constants/strings.js
Labels: 💾 Backend, 💻 Frontend

Fix bug in endpoint (wrong var)
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
Labels: 💾 Backend

Tidy, new review_deadlines field for sorting, apps must be approved for contracted work endpoints,
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/response_models.py
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/admin/ReviewApprovedContractedWorkInfo.js
Labels: 💾 Backend, 💻 Frontend

Application IDs are links in table, change "go back" message
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
Labels: 💻 Frontend

Fix broken application status sorting and filtering for application resource, provide search by app id and clear filters button
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
Labels: 💾 Backend, 💻 Frontend

Improve responsiveness of Application table onExpand by using Promise.all
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

Improve endpoint performance (marshal individually and create lookup to use)
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
  services/dsrp-api/app/api/contracted_work/response_models.py
Labels: 💾 Backend

Fix bug with endpoint where "note" was not optional
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
Labels: 💾 Backend

Make default sort field review_deadlines
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
  services/dsrp-web/src/components/common/wrappers/LoadingWrapper.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
Labels: 💾 Backend, 💻 Frontend

Combine two resource files (payment document), use association table for payment documents m:m with contracted work, fix issue with PRF template,
  migrations/sql/V2020.08.12.14.17__create_contracted_work_payment_info_and_payment_status_tables.sql
  services/dsrp-api/app/api/application/models/__init__.py
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/application/models/payment_document_contracted_work_payment_xref.py
  services/dsrp-api/app/api/application/namespace.py
  services/dsrp-api/app/api/application/resources/application_payment_document.py
  services/dsrp-api/app/api/application/resources/payment_document.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/response_models.py
  services/dsrp-api/app/api/services/application_status_change_actions.py
  services/dsrp-api/app/templates/payment_request_form.xlsx
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/admin/ReviewApprovedContractedWorkInfo.js
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/styles/generic/layout.scss
  services/dsrp-web/src/utils/actionlessNetworkCalls.js
Labels: 💾 Backend, 💻 Frontend

yyy-mm-dd --> yyyy-mm-dd
  services/dsrp-web/src/assets/downloads/Dormant Sites Reclamation Program - Evidence of Cost.xlsx
Labels: 💻 Frontend

Limit dollar amount for EoC
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
Labels: 💻 Frontend

Re-allow static content caching
  services/dsrp-api/app/api/exports/static_content/resources/static_content_resource.py
Labels: 💾 Backend

Display applicant name in applicant payment info submissions
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/components/modalContent/ContractedWorkPaymentModal.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
  services/dsrp-web/src/customPropTypes/application.js
Labels: 💾 Backend, 💻 Frontend

Rough work to indicate that a work item has already been used to generate PRFs
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

Make attestation/confirmation checkbox two separate ones, placeholder Final Report template
  services/dsrp-web/src/assets/downloads/Dormant Sites Reclamation Program - Final Report.docx
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/constants/assets.js
Labels: 💻 Frontend

Updates .first() to .one() in al cases where it makes sense throughout the app
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/application_document.py
  services/dsrp-api/app/api/application/models/application_document_type.py
  services/dsrp-api/app/api/application/models/application_status.py
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/application/models/payment_document_type.py
  services/dsrp-api/app/api/company_payment_info/models/company_payment_info.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/documents/resources/download.py
  services/dsrp-api/app/api/dsrp_settings/models/dsrp_settings.py
Labels: 💾 Backend

Revert some first() to one() changes
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/application_document.py
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/company_payment_info/models/company_payment_info.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/documents/resources/download.py
  services/dsrp-api/app/api/dsrp_settings/models/dsrp_settings.py
Labels: 💾 Backend

Use one_or_none() instead of first() where it makes sense
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/application_document.py
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/company_payment_info/models/company_payment_info.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/documents/resources/download.py
  services/dsrp-api/app/api/dsrp_settings/models/dsrp_settings.py
Labels: 💾 Backend

The interim progress report must be provided before you can Approve the final payment
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
Labels: 💾 Backend

Use constants for values used to sort review deadlines
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
  services/dsrp-api/app/api/constants.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/constants/strings.js
Labels: 💾 Backend, 💻 Frontend

Typo
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
Labels: 💻 Frontend

More readable calculation of date diff
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
Labels: 💻 Frontend

Language changes, use help email constant where it should be
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

Fix migration issue that couldn't go to Test
  migrations/sql/V2020.08.11.16.45__create_application_document_type_table.sql
  migrations/sql/V2020.08.25.15.07__create_some_application_document_constraints.sql
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
Labels: 💻 Frontend

Rename file
  migrations/sql/V2020.08.11.16.49__create_some_application_document_constraints.sql
Labels: none

Update V2020.08.12.14.17__create_contracted_work_payment_info_and_payment_status_tables.sql
  migrations/sql/V2020.08.12.14.17__create_contracted_work_payment_info_and_payment_status_tables.sql
Labels: none

Update V2020.08.11.16.45__create_application_document_type_table.sql
  migrations/sql/V2020.08.11.16.45__create_application_document_type_table.sql
Labels: none

Fix bug where creating FIRST_PRF which does not have contracted work payments associated with it (those are for interim/final only)
  services/dsrp-api/app/api/application/models/payment_document.py
Labels: 💾 Backend

Lots of admin view work for changing statuses (WIP)
  services/dsrp-api/app/api/application/namespace.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment_status.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment_type.py
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/admin/ReviewApprovedContractedWorkInfo.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/components/modalContent/AdminChangeContractedWorkPaymentStatusModal.js
  services/dsrp-web/src/components/modalContent/config.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/constants/forms.js
  services/dsrp-web/src/constants/strings.js
  services/dsrp-web/src/styles/generic/layout.scss
  services/dsrp-web/src/utils/helpers.js
Labels: 💾 Backend, 💻 Frontend

Improve approved payment status table styling to have summary area, tidy
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

Right-align styling for dollar amount columns
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

Ready for review status doesn't open modal, remove loading effect delays, send email on Information Required status
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment_status_change.py
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/admin/ReviewApprovedContractedWorkInfo.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/components/forms/InterimReportForm.js
  services/dsrp-web/src/components/modalContent/ContractedWorkPaymentModal.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/selectors/staticContentSelectors.js
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💾 Backend, 💻 Frontend
