Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

Display final reporting field info in "approve payment" view
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusApprovedForm.js
Labels: 💻 Frontend

Address feedback (checkboxes become yes/no dropdowns, extra field), other
  migrations/sql/V2020.09.02.15.18__add_final_report_columns_to_contracted_work_payment.sql
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/response_models.py
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusApprovedForm.js
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
Labels: 💾 Backend, 💻 Frontend

Address feedback (rename columns, date validation not in future, interim report can optionally be submitted at interim submission, tooltip text size), other
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
Labels: 💾 Backend, 💻 Frontend

Improve button display
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
Labels: 💻 Frontend

Update V2020.09.02.15.18__add_final_report_columns_to_contracted_work_payment.sql
  migrations/sql/V2020.09.02.15.18__add_final_report_columns_to_contracted_work_payment.sql
Labels: none

This is supposed to be optional here
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
Labels: 💻 Frontend

local gmail smtp cpnfig
  services/dsrp-api/.env-example
  services/dsrp-api/app/api/services/email_service.py
  services/dsrp-api/app/config.py
Labels: 💾 Backend

Create V2020.09.08.09.58__update_company_payment_info_record.sql
  migrations/sql/V2020.09.08.09.58__update_company_payment_info_record.sql
Labels: none

MDS-3041: updated link flow in application confirmation email
  services/dsrp-web/src/components/forms/ViewApplicationStatusForm.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

WIP open up modal with table
  services/dsrp-web/src/components/admin/ReviewApprovedContractedWorkInfo.js
  services/dsrp-web/src/components/modalContent/AdminCreatePaymentRequestModal.js
  services/dsrp-web/src/components/modalContent/config.js
Labels: 💻 Frontend

EoCs are now PDFS (and not XLSX)
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
Labels: 💾 Backend, 💻 Frontend

"Has interim/final PRFs" attribute for PRFs accounts for soft-deleted documents
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
Labels: 💾 Backend

Rename file, more work on Admin Create PRF modal
  services/dsrp-web/src/components/admin/ReviewApprovedContractedWorkInfo.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusApprovedForm.js
  services/dsrp-web/src/components/modalContent/AdminCreatePaymentRequestFormModal.js
  services/dsrp-web/src/components/modalContent/AdminCreatePaymentRequestModal.js
  services/dsrp-web/src/components/modalContent/config.js
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

Disable remove button here when submitting
  services/dsrp-web/src/components/modalContent/AdminCreatePaymentRequestFormModal.js
Labels: 💻 Frontend

Label column
  services/dsrp-web/src/components/modalContent/AdminCreatePaymentRequestFormModal.js
Labels: 💻 Frontend

Fix column styling
  services/dsrp-web/src/components/modalContent/AdminCreatePaymentRequestFormModal.js
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

Update Dormant Sites Reclamation Program - Evidence of Cost.xlsx
  services/dsrp-web/src/assets/downloads/Dormant Sites Reclamation Program - Evidence of Cost.xlsx
Labels: 💻 Frontend

Create V2020.09.09.13.02__update_company_payment_info_record.sql
  migrations/sql/V2020.09.09.13.02__update_company_payment_info_record.sql
Labels: none

Remove status dropdown from inside table, fix issue with displaying values for never-submitted items
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusApprovedForm.js
Labels: 💻 Frontend

Review Deadlines column now shoes duedate instead of days left to review
  services/dsrp-api/app/api/constants.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/response_models.py
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/constants/strings.js
Labels: 💾 Backend, 💻 Frontend

Create V2020.09.10.14.34__update_company_payment_info_record.sql
  migrations/sql/V2020.09.10.14.34__update_company_payment_info_record.sql
Labels: none

More WIP work
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/admin/ReviewApprovedContractedWorkInfo.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusApprovedForm.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/components/modalContent/AdminContractedWorkPaymentModal.js
  services/dsrp-web/src/components/modalContent/AdminReviewContractedWorkPaymentModal.js
  services/dsrp-web/src/components/modalContent/config.js
  services/dsrp-web/src/constants/forms.js
Labels: 💻 Frontend

MDS-3033: applicant ux improvements
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/components/forms/InterimReportForm.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/constants/strings.js
  services/dsrp-web/src/styles/generic/helpers.scss
Labels: 💻 Frontend

fix imports after the merge, tooltip alignment
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
Labels: 💻 Frontend

More WIP work
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/components/modalContent/AdminReviewContractedWorkPaymentModal.js
Labels: 💻 Frontend

MDS-3033: Estimated financial cost contribution calculation
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/constants/payments.js
Labels: 💻 Frontend

MDS-3033: missing .
  services/dsrp-web/src/components/forms/InterimReportForm.js
Labels: 💻 Frontend

MDS-3033: pr changes
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/constants/strings.js
Labels: 💻 Frontend

More WIP work
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/admin/ReviewApprovedContractedWorkInfo.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/components/modalContent/AdminReviewContractedWorkPaymentModal.js
Labels: 💻 Frontend

DSRP: fix host URL configuration
  openshift/templates/_python36.dc.json
Labels: 🏭 CI/CD

DSRP: fix host URL configuration
  openshift/templates/_python36.dc.json
Labels: 🏭 CI/CD

Tidy, fix endpoint
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/admin/ReviewApprovedContractedWorkInfo.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/components/modalContent/AdminReviewContractedWorkPaymentModal.js
Labels: 💾 Backend, 💻 Frontend

DSRP: fix host URL configuration
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

DSRP: fix host URL configuration
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-test.groovy
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/authorization/constants.py
Labels: 💾 Backend, 🏭 CI/CD

Increase modal width, adjust columns in Financial Contribution table, modify descriptions for Final Report items and fix incorrect labels in form
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
Labels: 💻 Frontend

Fix incorrect changes to Final Report form fields
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
Labels: 💻 Frontend

Disable "Final" tabs when no final submission, create General tab to house auditing options, improve Review column styling
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
Labels: 💻 Frontend

Adjust styling
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
Labels: 💻 Frontend

Adjust styling
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

Fix text
  services/dsrp-web/src/components/forms/InterimReportForm.js
Labels: 💻 Frontend
