Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

wip push 2
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

WIP upload
  docker-compose.yml
  openshift/docker-images/tusd/Dockerfile
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/constants/environment.js
Labels: 💻 Frontend, 🏭 CI/CD

OpenSSL ignore short key
  services/dsrp-api/.env-example
  services/dsrp-api/openssl.cnf
Labels: 💾 Backend

formatting and response model
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-api/app/api/services/object_store_storage_service.py
Labels: 💾 Backend

replace initalization endpoint with append new doc to existing application
  services/dsrp-api/app/api/application/namespace.py
  services/dsrp-api/app/api/application/resources/application_document.py
Labels: 💾 Backend

todo filestreaming
  services/dsrp-api/app/api/services/object_store_storage_service.py
Labels: 💾 Backend

Fixed port references
  docker-compose.yml
  services/dsrp-web/.env-example
  services/dsrp-web/src/components/common/FileUpload.js
  services/dsrp-web/src/constants/environment.js
Labels: 💻 Frontend

improve the fuck out of OGC data caching
  services/document-manager/backend/app/constants.py
  services/dsrp-api/app/__init__.py
  services/dsrp-api/app/api/constants.py
  services/dsrp-api/app/api/services/ogc_data_service.py
Labels: 💾 Backend

update email address
  services/dsrp-api/app/api/services/email_service.py
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/constants/strings.js
Labels: 💾 Backend, 💻 Frontend

updated wells/liabilites state, updated permit holder in table
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/reducers/OGCReducer.js
  services/dsrp-web/src/selectors/OGCSelectors.js
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💻 Frontend

removed commented code
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💻 Frontend

Fix issue in "scroll to first error" helper where it incorrectly made some paths to leaves (".." in some instances)
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

Fix additional issues
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

Slippin slide errors form!
  services/dsrp-web/src/components/common/RenderDate.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

Rename func
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

Didn't mean to delete
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

Remove unneeded prop, add todos
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

updated content on review page
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

auth on doc retrieval
  services/dsrp-api/app/api/application/resources/application_document.py
Labels: 💾 Backend

updated wording on application page
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
Labels: 💻 Frontend

Environment variable changes
  services/dsrp-web/.env-example
  services/dsrp-web/src/constants/environment.js
  services/tusd/.env-template
Labels: 💻 Frontend

Change confirmation num to reference num
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Regexes are just too cool for FireFox, use string fun instead
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

New & modified site conditions
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

updated
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
Labels: 💻 Frontend

updated
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
Labels: 💻 Frontend

Update program end date
  services/dsrp-web/src/constants/strings.js
Labels: 💻 Frontend

updated selected wells
  services/dsrp-web/src/reducers/OGCReducer.js
Labels: 💻 Frontend

Remove CORS headers on FilePond request
  services/dsrp-web/src/components/common/FileUpload.js
Labels: 💻 Frontend

updated pagination to persist, and use the url
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/constants/routes.js
  services/dsrp-web/src/styles/overrides/antd-overrides.scss
Labels: 💻 Frontend

Document ID in FileUpload component
  docker-compose.yml
  services/dsrp-web/src/components/common/FileUpload.js
Labels: 💻 Frontend

Change document ID reference for API
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/customPropTypes/documents.js
Labels: 💻 Frontend

require object_store_path
  services/dsrp-api/app/api/application/models/application_document.py
  services/dsrp-api/app/api/services/object_store_storage_service.py
  services/tusd/.env-template
Labels: 💾 Backend

ogc data service bug fix; phone and postal code validation
  services/dsrp-api/app/api/services/ogc_data_service.py
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💾 Backend, 💻 Frontend

updated landing page
  services/dsrp-web/src/components/pages/LandingPage.js
Labels: 💻 Frontend

Fix weird dimensions on IE image, fix issues with dropdowns (incl. navbar menu) not working on mobile devices
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/layout/Header.js
  services/dsrp-web/src/components/layout/HeaderDropdown.js
  services/dsrp-web/src/styles/components/Header.scss
Labels: 💻 Frontend

Fix prop
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

application form updates
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationFormReset.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/layout/HeaderDropdown.js
Labels: 💻 Frontend

Update ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

DSR-69 admin toggle applications (#62)
  migrations/sql/V2020.05.14.13.42__create_application_settings.sql
  services/dsrp-api/app/__init__.py
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-api/app/api/constants.py
  services/dsrp-api/app/api/dsrp_settings/models/__init__.py
  services/dsrp-api/app/api/dsrp_settings/models/dsrp_settings.py
  services/dsrp-api/app/api/dsrp_settings/namespace.py
  services/dsrp-api/app/api/dsrp_settings/resources/__init__.py
  services/dsrp-api/app/api/dsrp_settings/resources/dsrp_settings.py
  services/dsrp-api/app/api/dsrp_settings/response_models.py
  services/dsrp-web/src/actionCreators/appSettingsActionCreator.js
  services/dsrp-web/src/actions/appSettingActions.js
  services/dsrp-web/src/components/pages/ReviewApplicationsPage.js
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
  services/dsrp-web/src/constants/actionTypes.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/constants/strings.js
  services/dsrp-web/src/reducers.js
  services/dsrp-web/src/reducers/appSettingsReducer.js
  services/dsrp-web/src/reducers/rootReducer.js
  services/dsrp-web/src/selectors/appSettingsSelectors.js
Labels: 💾 Backend, 💻 Frontend
