Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

Fix inconsistencies and errors with prining class name in __repr__ functions
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/application_history.py
  services/dsrp-api/app/api/application/models/application_status.py
  services/dsrp-api/app/api/application/models/application_status_change.py
  services/dsrp-api/app/api/application/models/payment_document_type.py
  services/dsrp-api/app/api/company_payment_info/models/company_payment_info.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_status.py
  services/dsrp-api/app/api/services/application_status_change_actions.py
Labels: 💾 Backend

Implement loading effect for Update Status modal
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/components/forms/ApplicationStatusForm.js
Labels: 💻 Frontend

Fix visual glitch with loading effect on buttons
  services/dsrp-web/src/styles/overrides/antd-overrides.scss
Labels: 💻 Frontend

Tidy "send email to applicant" logic
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/application_status_change.py
  services/dsrp-api/app/api/services/email_service.py
  services/dsrp-api/app/config.py
Labels: 💾 Backend

Generate PRF content work, tidy
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/application_document.py
  services/dsrp-api/app/api/application/models/application_status_change.py
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-api/app/api/application/resources/application_document.py
  services/dsrp-api/app/api/application/resources/application_status.py
  services/dsrp-api/app/api/services/application_status_change_actions.py
  services/dsrp-api/app/api/services/email_service.py
  services/dsrp-api/app/config.py
Labels: 💾 Backend

Show PRF doc count in tab title like Documents does
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
Labels: 💻 Frontend

Move logic, tidy, prep for interim + final phase PRFs
  migrations/sql/V2020.07.30.10.44__create_payment_document_structure_and_seed_data.sql
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/services/application_status_change_actions.py
Labels: 💾 Backend

Rename function, WIP work for interim & final PRF calculations
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/payment_document.py
Labels: 💾 Backend

Enhancements to Application Table (sort work by Work ID, fix tooltip)
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💻 Frontend

Move upload logic, tidy
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/services/application_status_change_actions.py
Labels: 💾 Backend

Move code, put constraints back in place
  migrations/sql/V2020.07.30.10.44__create_payment_document_structure_and_seed_data.sql
  services/dsrp-api/app/api/application/models/payment_document.py
Labels: 💾 Backend

Rename var
  migrations/sql/V2020.07.30.10.44__create_payment_document_structure_and_seed_data.sql
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-api/app/api/services/application_status_change_actions.py
  services/dsrp-web/src/components/pages/ViewPaymentDocuments.js
  services/dsrp-web/src/customPropTypes/paymentDocuments.js
Labels: 💾 Backend, 💻 Frontend

Add secrets/config for PRF email addresses
  openshift/templates/_python36.dc.json
  services/dsrp-api/app/config.py
Labels: 💾 Backend, 🏭 CI/CD

Config file formatting
  services/dsrp-api/app/config.py
Labels: 💾 Backend

Send PRF document email to finance, make PRF payment details a hybrid property so it's reusable, tidy
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

Unwanted param
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Send the email to finance after PRF record created
  services/dsrp-api/app/api/services/application_status_change_actions.py
Labels: 💾 Backend

Incorrect property name
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

Add important text to PRF email body, add PRF type to email subject, tidy
  migrations/sql/V2020.07.30.10.44__create_payment_document_structure_and_seed_data.sql
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/application_status_change.py
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/application/models/payment_document_type.py
  services/dsrp-api/app/api/application/namespace.py
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

Modify PRF table title text
  services/dsrp-web/src/components/pages/ViewPaymentDocuments.js
Labels: 💻 Frontend

Fix incorrect var type in response model for upload_dates
  services/dsrp-api/app/api/application/response_models.py
Labels: 💾 Backend

Show the time of day as well (date and time) for payment documents and application documents
  services/dsrp-web/src/components/common/DocumentTable.js
  services/dsrp-web/src/components/pages/PaymentDocumentTable.js
Labels: 💻 Frontend

Delete the PRF record if emailing it to finance fails
  services/dsrp-api/app/api/services/application_status_change_actions.py
Labels: 💾 Backend

Save PRF outside of constructor
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/services/application_status_change_actions.py
Labels: 💾 Backend

Sorting for DocumentsTable
  services/dsrp-web/src/components/common/DocumentTable.js
Labels: 💻 Frontend

Fix issues with custom prop types, formatting/linter, sorting for PRF and Applications document table
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-web/src/components/pages/PaymentDocumentTable.js
  services/dsrp-web/src/components/pages/ViewApplicationDocuments.js
  services/dsrp-web/src/components/pages/ViewPaymentDocuments.js
  services/dsrp-web/src/customPropTypes/documents.js
  services/dsrp-web/src/customPropTypes/paymentDocuments.js
Labels: 💾 Backend, 💻 Frontend

For better testing purposes (Dev & Test) use the current user and the finance recipient email, formatting
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

Fix issue where application status changes are considered successful and saved even if an exception occurs
  services/dsrp-api/app/api/application/models/application_status.py
  services/dsrp-api/app/api/application/models/application_status_change.py
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/application/models/payment_document_type.py
  services/dsrp-api/app/api/application/resources/application_document.py
  services/dsrp-api/app/api/application/resources/application_status.py
  services/dsrp-api/app/api/services/application_status_change_actions.py
Labels: 💾 Backend

Manage "active tab" in state for admin application page (this improve UX of deleting PRFs, e.g.)
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
Labels: 💻 Frontend

Remove unrequired check
  services/dsrp-api/app/api/application/models/payment_document.py
Labels: 💾 Backend

Show company name on view application status page
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-web/src/components/pages/ApplicationStatusCard.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💾 Backend, 💻 Frontend

Add methods for getting PRF content in text format, and use those for file upload and finance email attachment
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

Insert the updated "correct" company payment info from Finance
  migrations/sql/V2020.07.29.10.24__create_company_table.sql
Labels: none

Special function for emailing PRF to finance
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

Use PRF finance email func for body text
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

Replace newlines with breaks for HTML email
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

Turn tabs to 4 spaces in HTML
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

These tmp files aren't needed
  services/dsrp-api/app/templates/.~lock.shared_cost_agreement.docx#
  services/dsrp-api/app/templates/~$ared_cost_agreement_template.docx
Labels: 💾 Backend

Store PRF content at creation as JSONB content field, switch PRF file to simple Excel file using Carbone, make PRF creation dependant on email success
  migrations/sql/V2020.07.30.10.44__create_payment_document_structure_and_seed_data.sql
  services/dsrp-api/app/api/application/models/application_status_change.py
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/documents/resources/download.py
  services/dsrp-api/app/api/services/application_status_change_actions.py
  services/dsrp-api/app/api/services/document_generator_service.py
  services/dsrp-api/app/api/services/email_service.py
  services/dsrp-api/app/api/services/object_store_storage_service.py
  services/dsrp-api/app/templates/payment_request_form.xlsx
Labels: 💾 Backend

Update payment_document.py
  services/dsrp-api/app/api/application/models/payment_document.py
Labels: 💾 Backend
