Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

Note is required in Information Required status
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
Labels: 💾 Backend

Fix bug with formatMoney function
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

Fix bug with getting work id in email
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment_status_change.py
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
Labels: 💾 Backend

Update Dormant Sites Reclamation Program - Evidence of Cost.xlsx
  services/dsrp-web/src/assets/downloads/Dormant Sites Reclamation Program - Evidence of Cost.xlsx
Labels: 💻 Frontend

DSRP-2993: authorization endpoint
  services/dsrp-api/app/__init__.py
  services/dsrp-api/app/api/application/resources/application_summary.py
  services/dsrp-api/app/api/authorization/constants.py
  services/dsrp-api/app/api/authorization/namespace.py
  services/dsrp-api/app/api/authorization/resources/authorization.py
  services/dsrp-api/app/api/constants.py
  services/dsrp-api/app/api/utils/access_decorators.py
Labels: 💾 Backend

DSRP-2993-OTP endpoints
  services/dsrp-api/app/api/authorization/resources/authorization.py
Labels: 💾 Backend

Create function to use for consistent Interim/Final EoC and Final Report document names, remove unused code
  services/dsrp-api/app/api/application/models/application_document.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/response_models.py
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/constants/fileTypes.js
Labels: 💾 Backend, 💻 Frontend

DSRP-2993: json response
  services/dsrp-api/app/api/authorization/constants.py
  services/dsrp-api/app/api/authorization/resources/authorization.py
Labels: 💾 Backend

Tidy, add quote() func to filename (we did this as a fix for the same issue in one of our document endpoints in Core, NROS)
  services/dsrp-api/app/api/documents/resources/download.py
Labels: 💾 Backend

truncateFilename isn't really needed
  services/dsrp-web/src/components/common/DocumentTable.js
  services/dsrp-web/src/components/pages/PaymentDocumentTable.js
Labels: 💻 Frontend

wip
  services/dsrp-web/src/actionCreators/authorizationActionCreator.js
  services/dsrp-web/src/components/forms/ViewApplicationStatusForm.js
  services/dsrp-web/src/components/pages/RequestAccessPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/constants/routes.js
  services/dsrp-web/src/routes/Routes.js
Labels: 💻 Frontend

updateding flow
  services/dsrp-web/src/actionCreators/authorizationActionCreator.js
  services/dsrp-web/src/components/pages/RequestAccessPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

updated link
  services/dsrp-web/src/actionCreators/authorizationActionCreator.js
Labels: 💻 Frontend

DSRP-2993: updated email template and OTL
  services/dsrp-api/app/api/authorization/constants.py
  services/dsrp-api/app/api/authorization/resources/authorization.py
Labels: 💾 Backend

DSRP-2993: email subject and link
  services/dsrp-api/app/api/authorization/constants.py
  services/dsrp-api/app/api/authorization/resources/authorization.py
Labels: 💾 Backend

DSRP-2993:enforce admin permission
  services/dsrp-api/app/api/utils/access_decorators.py
Labels: 💾 Backend

DSRP-2993: changes otp and otl keys
  services/dsrp-api/app/api/authorization/constants.py
  services/dsrp-api/app/api/authorization/resources/authorization.py
  services/dsrp-api/app/api/utils/access_decorators.py
Labels: 💾 Backend

DSRP-2993: removed redundant code
  services/dsrp-api/app/api/utils/access_decorators.py
Labels: 💾 Backend

updated wording on OTL
  services/dsrp-web/src/components/forms/ViewApplicationStatusForm.js
  services/dsrp-web/src/components/pages/RequestAccessPage.js
Labels: 💻 Frontend

Create V2020.08.31.08.15__update_company_payment_info_record.sql
  migrations/sql/V2020.08.31.08.15__update_company_payment_info_record.sql
Labels: none

Smaller response models for CWP model
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-api/app/api/contracted_work/response_models.py
Labels: 💾 Backend

updated OTL/OTP logic, connected PUT
  services/dsrp-web/src/actionCreators/authorizationActionCreator.js
  services/dsrp-web/src/components/forms/ViewApplicationStatusForm.js
  services/dsrp-web/src/components/pages/RequestAccessPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

removed unused variable
  services/dsrp-web/src/actionCreators/authorizationActionCreator.js
  services/dsrp-web/src/components/forms/ViewApplicationStatusForm.js
Labels: 💻 Frontend

updated PUT redux state
  services/dsrp-web/src/actionCreators/authorizationActionCreator.js
Labels: 💻 Frontend

updated how to access the JSON
  services/dsrp-web/src/actionCreators/authorizationActionCreator.js
Labels: 💻 Frontend

updated localStorage
  services/dsrp-web/src/actionCreators/authorizationActionCreator.js
Labels: 💻 Frontend

DSRP-2993: application_guid in headers
  services/dsrp-web/src/actionCreators/authorizationActionCreator.js
  services/dsrp-web/src/utils/requestHeaders.js
Labels: 💻 Frontend

updated
  services/dsrp-web/src/components/pages/RequestAccessPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

updated redirect to application status page once OTP is granted
  services/dsrp-web/src/actionCreators/authorizationActionCreator.js
  services/dsrp-web/src/components/pages/RequestAccessPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

Validation to not all approving amounts that go over half EoC total and over eligible funds, WIP table redesign
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

updated linting
  services/dsrp-web/src/actionCreators/authorizationActionCreator.js
  services/dsrp-web/src/components/pages/RequestAccessPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

updated linting
  services/dsrp-web/src/actionCreators/authorizationActionCreator.js
  services/dsrp-web/src/components/forms/ViewApplicationStatusForm.js
  services/dsrp-web/src/components/pages/RequestAccessPage.js
Labels: 💻 Frontend

DSRP-2993: authorization timer
  services/dsrp-api/app/api/authorization/resources/authorization.py
  services/dsrp-web/src/actionCreators/authorizationActionCreator.js
  services/dsrp-web/src/components/common/AuthorizationTimer.js
  services/dsrp-web/src/components/layout/Header.js
  services/dsrp-web/src/styles/components/Header.scss
Labels: 💾 Backend, 💻 Frontend

Populate approved amount with highest possible eligible value
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/components/modalContent/AdminChangeContractedWorkPaymentStatusModal.js
Labels: 💻 Frontend

removed timer fro localstorage on new get
  services/dsrp-web/src/actionCreators/authorizationActionCreator.js
Labels: 💻 Frontend

updated request additional information on application
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

DSRP-2993: updated email subject
  services/dsrp-api/app/api/authorization/resources/authorization.py
Labels: 💾 Backend

DSRP-2993: authorization timer layout
  services/dsrp-web/src/components/common/AuthorizationTimer.js
  services/dsrp-web/src/components/layout/Header.js
Labels: 💻 Frontend

EoC and Final Report docs only need to be uploaded if they haven't been provided yet (in case of re-request for info), label styling
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/components/forms/InterimReportForm.js
  services/dsrp-web/src/styles/overrides/antd-overrides.scss
Labels: 💾 Backend, 💻 Frontend

Debug
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
Labels: 💻 Frontend

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*
