Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

email styling
  services/dsrp-api/app/api/application/models/application_status_change.py
Labels: 💾 Backend

updated styling of status view, updating documet requirements on application view, success view, and document upload view
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
  services/dsrp-web/src/components/pages/ApplicationStatusCard.js
  services/dsrp-web/src/components/pages/ApplicationSuccessPage.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

add application summary endpoint
  services/dsrp-api/app/api/application/namespace.py
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-api/app/api/application/resources/application_summary.py
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💾 Backend, 💻 Frontend

Update application.py
  services/dsrp-api/app/api/application/resources/application.py
Labels: 💾 Backend

done with uwsgi variable
  services/dsrp-api/app/api/documents/resources/download.py
Labels: 💾 Backend

function to remove badd fields from the JSON of the application.
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

switch to summary
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/reducerTypes.js
Labels: 💻 Frontend

add check another application button
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

Update ViewApplicationStatusPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

Super extra special sorting for application status code since it's in a 1:* relationship
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/application_status_change.py
  services/dsrp-api/app/api/application/resources/application.py
Labels: 💾 Backend

Tracker functionality
  openshift/pipeline/config-prod.groovy
  openshift/templates/_nodejs.dc.json
  services/dsrp-web/server.js
  services/dsrp-web/src/App.js
  services/dsrp-web/src/components/pages/ApplicationSuccessPage.js
  services/dsrp-web/src/components/pages/LandingPage.js
  services/dsrp-web/src/components/pages/ReviewApplicationsPage.js
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
  services/dsrp-web/src/constants/environment.js
  services/dsrp-web/src/customAxios.js
  services/dsrp-web/src/fetchEnv.js
  services/dsrp-web/src/index.js
  services/dsrp-web/src/utils/trackers.js
Labels: 💻 Frontend, 🏭 CI/CD

Removing Auth Guard for Submit Application
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
Labels: 💻 Frontend

Remove extra comment and import
  openshift/pipeline/config-prod.groovy
  services/dsrp-web/src/customAxios.js
Labels: 💻 Frontend, 🏭 CI/CD

Add files and api bypass for prod
  services/nginx/conf.d/redirect.conf.tmpl
Labels: none

Fix Search/Clear button formatting on Review Apps page, and "invsible" filter issue
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/components/forms/JumpToApplicationForm.js
Labels: 💻 Frontend

reference code --> reference number
  services/dsrp-web/src/components/pages/ApplicationSuccessPage.js
Labels: 💻 Frontend

wording
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-api/app/api/application/resources/application_summary.py
Labels: 💾 Backend

Upload document jwt role check in array rather than single value
  services/dsrp-api/app/api/application/resources/application_document.py
Labels: 💾 Backend

Refresh button for Review Applications page
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
Labels: 💻 Frontend

Update grammar in status change email
  services/dsrp-api/app/api/application/models/application_status_change.py
Labels: 💾 Backend

missed comma in python constant
  services/dsrp-api/app/api/constants.py
Labels: 💾 Backend

status description formatting
  services/dsrp-web/src/components/pages/ApplicationStatusCard.js
Labels: 💻 Frontend

updated authentication logic to prevent infinate loading when logging into admin view
  services/dsrp-web/src/hoc/AuthenticationGuard.js
  services/dsrp-web/src/hoc/AuthorizationGuard.js
Labels: 💻 Frontend

added document count
  services/dsrp-web/src/components/pages/ViewApplicationDocuments.js
Labels: 💻 Frontend

download pdf tac step 1
  services/dsrp-web/src/assets/downloads/TEST_PDF_123.pdf
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/constants/assets.js
Labels: 💻 Frontend

Date validation for start and end date
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

put connect after redux form
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

extra safety on prop checks
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

formatting email wording
  services/dsrp-api/app/api/application/resources/application_document.py
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
  services/dsrp-web/src/components/pages/ApplicationStatusCard.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💾 Backend, 💻 Frontend

updated pagination issue
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
Labels: 💻 Frontend

list of docs match upload screen
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
  services/dsrp-web/src/components/pages/ApplicationSuccessPage.js
Labels: 💻 Frontend

Validate invalid date values
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

updated fetch of application when documents are uploaded
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
Labels: 💻 Frontend

renderwells is a constant
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

wip push
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Update ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Update ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Fix date validator logic
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Add selected wells to get well name function
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Do date validation in well sites field array validation (NOT inline), and disable disabled dates for pickers
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend
