Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

Set invoice_number in content
  services/dsrp-api/app/api/application/models/payment_document.py
Labels: 💾 Backend

Improve table appearance in email, pad amounts to 2 trailing zeroes
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

Move value in string
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

Improve PRF email HTML, tidy, tidy PRF template
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/services/email_service.py
  services/dsrp-api/app/templates/payment_request_form.xlsx
Labels: 💾 Backend

Edit PRF HTML table styling
  services/dsrp-api/app/api/services/email_service.py
Labels: 💾 Backend

Move "Total Amount" in PRF template, edit PRF HTML email styling
  services/dsrp-api/app/api/services/email_service.py
  services/dsrp-api/app/templates/payment_request_form.xlsx
Labels: 💾 Backend

Add backend validation on provided work IDs (must be approved)
  services/dsrp-api/app/api/application/models/payment_document.py
Labels: 💾 Backend

Add Invoice Date field to PRF
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/services/email_service.py
  services/dsrp-api/app/templates/payment_request_form.xlsx
Labels: 💾 Backend

Company payment info changes
  migrations/sql/V2020.07.29.10.24__create_company_table.sql
Labels: none

MDS-2986: indicate on Landing Page when apps are closed & hide the Apply Now button
  services/dsrp-web/src/components/pages/LandingPage.js
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
Labels: 💻 Frontend

Grammar, linter
  services/dsrp-web/src/components/pages/ApplicationStatusCard.js
Labels: 💻 Frontend

Invoice number creation needs to account for soft-deleted payment documents as well
  services/dsrp-api/app/api/application/models/payment_document.py
Labels: 💾 Backend

Create V2020.08.11.16.11__insert_application_statuses_for_payment_processing_and_completion.sql
  migrations/sql/V2020.08.11.16.11__insert_application_statuses_for_payment_processing_and_completion.sql
Labels: none

Change position of Est. Cost LMR warning tooltip to be on the left
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

Update layout.scss
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

Create WIP application status text for 2 new application statuses
  services/dsrp-web/src/components/pages/ApplicationStatusCard.js
Labels: 💻 Frontend

Create V2020.08.12.14.17__create_contracted_work_payment_info_and_payment_status_tables.sql
  migrations/sql/V2020.08.12.14.17__create_contracted_work_payment_info_and_payment_status_tables.sql
Labels: none

Create V2020.08.12.19.27__fix_company_payment_info_company_name.sql
  migrations/sql/V2020.08.12.19.27__fix_company_payment_info_company_name.sql
Labels: none

Update FIRST_PAY_APPROVED status to be a catch-all APPROVED status for all payment processing
  migrations/sql/V2020.08.11.16.11__insert_application_statuses_for_payment_processing_and_completion.sql
  migrations/sql/V2020.08.11.16.11__update_application_status_record.sql
Labels: none

Update V2020.08.11.16.11__update_application_status_record.sql
  migrations/sql/V2020.08.11.16.11__update_application_status_record.sql
Labels: none

Create V2020.08.11.16.45__create_application_document_type_table.sql
  migrations/sql/V2020.08.11.16.45__create_application_document_type_table.sql
Labels: none

Update V2020.08.12.14.17__create_contracted_work_payment_info_and_payment_status_tables.sql
  migrations/sql/V2020.08.12.14.17__create_contracted_work_payment_info_and_payment_status_tables.sql
Labels: none

Set up ApplicationDocumentType models
  services/dsrp-api/app/api/application/models/__init__.py
  services/dsrp-api/app/api/application/models/application_document.py
  services/dsrp-api/app/api/application/models/application_document_type.py
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-api/app/api/exports/static_content/resources/static_content_resource.py
Labels: 💾 Backend

Remove uneeded UI for non-existent statuses
  services/dsrp-web/src/components/pages/ApplicationStatusCard.js
Labels: 💻 Frontend

Update company payment info QR name, update PRF email subject line
  migrations/sql/V2020.08.12.19.27__update_company_payment_info_qualified_receiver_name.sql
  services/dsrp-api/app/api/services/email_service.py
  services/dsrp-api/app/templates/payment_request_form.xlsx
Labels: 💾 Backend

Change filename
  migrations/sql/V2020.08.13.11.40__update_company_payment_info_qualified_receiver_name.sql
Labels: none

Fix syntax issues in SQL, give application_document a primary key, unique constraint on contracted work payment EoC docs
  migrations/sql/V2020.08.12.14.17__create_contracted_work_payment_info_and_payment_status_tables.sql
Labels: none

application_guid is a fkey
  migrations/sql/V2020.08.12.14.17__create_contracted_work_payment_info_and_payment_status_tables.sql
Labels: none

Create/update required models, update static content, quote consistency, tidy
  migrations/sql/V2020.08.12.14.17__create_contracted_work_payment_info_and_payment_status_tables.sql
  services/dsrp-api/app/api/application/models/application_document.py
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment_status.py
  services/dsrp-api/app/api/contracted_work/response_models.py
  services/dsrp-api/app/api/exports/response_models.py
Labels: 💾 Backend

FE/BE code for getting an application's approved contracted work items, formatting, create ContractedWorkPayment response model
  migrations/sql/V2020.08.12.14.17__create_contracted_work_payment_info_and_payment_status_tables.sql
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/namespace.py
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-api/app/api/contracted_work/response_models.py
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/actions/applicationActions.js
  services/dsrp-web/src/constants/actionTypes.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/reducers/applicationReducer.js
Labels: 💾 Backend, 💻 Frontend

Include existing contracted work payment data in approved contracted work items
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
Labels: 💾 Backend

WIP applicant-side EoC work
  services/dsrp-api/app/api/exports/static_content/resources/static_content_resource.py
  services/dsrp-web/src/components/forms/ViewApplicationStatusForm.js
  services/dsrp-web/src/components/pages/ApplicationApplicantApprovedContractedWorkView.js
  services/dsrp-web/src/components/pages/ApplicationStatusCard.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
  services/dsrp-web/src/reducers/applicationReducer.js
  services/dsrp-web/src/reducers/staticContentReducer.js
  services/dsrp-web/src/selectors/applicationSelectors.js
  services/dsrp-web/src/selectors/staticContentSelectors.js
Labels: 💾 Backend, 💻 Frontend

WIP applicant-side EoC work
  services/dsrp-web/src/components/pages/ApplicationApplicantApprovedContractedWorkView.js
Labels: 💻 Frontend

Mo fields mo problems
  migrations/sql/V2020.08.12.14.17__create_contracted_work_payment_info_and_payment_status_tables.sql
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/response_models.py
Labels: 💾 Backend

Update File Pond
  services/dsrp-web/package-lock.json
  services/dsrp-web/package.json
Labels: 💻 Frontend

Fix wonky FilePond visuals when in single-file mode
  services/dsrp-web/src/styles/overrides/filepond-overrides.scss
Labels: 💻 Frontend

Improve FilePond styling
  services/dsrp-web/src/styles/overrides/filepond-overrides.scss
Labels: 💻 Frontend

WIP Contracted Work Payment modal/forms, rename vars, host EoC template, improve File Upload component,
  migrations/sql/V2020.08.12.14.17__create_contracted_work_payment_info_and_payment_status_tables.sql
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/response_models.py
  services/dsrp-web/src/assets/downloads/Dormant Sites Reclamation Program - Evidence of Cost.xlsx
  services/dsrp-web/src/components/common/FileUpload.js
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
  services/dsrp-web/src/components/forms/InterimContractedWorkPaymentForm.js
  services/dsrp-web/src/components/modalContent/ContractedWorkPaymentModal.js
  services/dsrp-web/src/components/modalContent/config.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
  services/dsrp-web/src/constants/assets.js
  services/dsrp-web/src/constants/forms.js
  services/dsrp-web/src/styles/overrides/antd-overrides.scss
  services/dsrp-web/webpack.parts.js
Labels: 💾 Backend, 💻 Frontend

WIP Contracted Work Payment modal/forms, rename vars, host EoC template, improve File Upload component,
  services/dsrp-web/src/components/modalContent/ContractedWorkPaymentModal.js
Labels: 💻 Frontend

Make FILE_UPLOAD a legit Field component that doesn't need to manage state to get its value
  services/dsrp-web/src/components/common/FileUpload.js
  services/dsrp-web/src/styles/overrides/filepond-overrides.scss
Labels: 💻 Frontend
