Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

remove debug
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

Print actual error message
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Better date range validation error messages
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Update ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Update ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

wip fix for debounce well auth input
  services/dsrp-web/src/components/forms/WellField.js
Labels: 💻 Frontend

removing z-index on buttons
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
  services/dsrp-web/src/components/pages/ReviewApplicationsPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

Revert "wip fix for debounce well auth input"
  services/dsrp-web/src/components/forms/WellField.js
Labels: 💻 Frontend

Grammer fix
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Well sites can be removed
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

debounce
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/WellField.js
Labels: 💻 Frontend

Fix for start/end date being after/before each other
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Re-introduce disabled date ranges (doesn't appear to re-introduce bad performance)
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

can be submitted with just flag, do not return docuents list
  services/dsrp-api/app/api/application/resources/application_document.py
Labels: 💾 Backend

upload date didnt work, not sure why, use flask datetime
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/application_status_change.py
Labels: 💾 Backend

Update ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

silly me
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

updated disabled logic on submitting documents for applications
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

updated application refresh when updateing nested table status
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
Labels: 💻 Frontend

added document li to application page
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

fix for work type status
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💻 Frontend

updated application form
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

removed nested loading state
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

Restrict href of matomo
  services/dsrp-web/src/utils/trackers.js
Labels: 💻 Frontend

No more force render of well panels but retain some scroll to error functionality
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

go to on blur
  services/dsrp-web/src/actionCreators/OGCActionCreator.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/WellField.js
Labels: 💻 Frontend

Debounce totals and add warning
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Adding Word document
  services/dsrp-web/src/assets/downloads/Dormant Sites Reclamation Program - General Terms.pdf
  services/dsrp-web/src/assets/downloads/TEST_PDF_123.pdf
  services/dsrp-web/src/constants/assets.js
Labels: 💻 Frontend

Remove redirect on Prod
  services/nginx/conf.d/redirect.conf.tmpl
  services/nginx/nginx.conf
Labels: none

Update Dormant Sites Reclamation Program - General Terms.pdf
  services/dsrp-web/src/assets/downloads/Dormant Sites Reclamation Program - General Terms.pdf
Labels: 💻 Frontend

Update Dormant Sites Reclamation Program - General Terms.pdf
  services/dsrp-web/src/assets/downloads/Dormant Sites Reclamation Program - General Terms.pdf
Labels: 💻 Frontend

Fix Apply Now button on IE
  services/dsrp-web/src/components/pages/LandingPage.js
Labels: 💻 Frontend

Increase auto-save interval to 10 seconds (instead of 1 sec), and don't do deep equals comparison in order to save form
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

Red tooltip beside Est. Cost work values when they exceed the LMR for that category by 15% or more
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

less words
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

Use the start date as the end date's default picker value if it exists and is valid
  services/dsrp-web/src/components/common/RenderDate.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

tidy: additional date conversion not needed
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Fix an issue where well sites weren't having their actual name visible in their header anymore (if their name is available in the selected wells prop)
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

Update static_content_resource.py
  services/dsrp-api/app/api/exports/static_content/resources/static_content_resource.py
Labels: 💾 Backend

Add helpful assert failure message to generating static content
  services/dsrp-api/app/api/exports/static_content/resources/static_content_resource.py
Labels: 💾 Backend
