Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

updates
  services/dsrp-web/Dockerfile
  services/dsrp-web/package-lock.json
  services/dsrp-web/package.json
  services/dsrp-web/server.js
  services/dsrp-web/src/index.js
  services/dsrp-web/webpack.config.js
Labels: 💻 Frontend

Metabase deployment dockerfile
  openshift/docker-images/metabase/Dockerfile
  openshift/templates/tools/metabase.bc.json
Labels: 🏭 CI/CD

Deploy metabase to dev
  openshift/pipeline/config-dev.groovy
Labels: 🏭 CI/CD

add packagelock
  services/dsrp-web/package-lock.json
  services/dsrp-web/package.json
Labels: 💻 Frontend

test
  services/dsrp-web/package-lock.json
  services/dsrp-web/package.json
  services/dsrp-web/src/index.js
Labels: 💻 Frontend

Update package-lock.json
  services/dsrp-web/package-lock.json
Labels: 💻 Frontend

casing changes
  services/dsrp-web/src/App.js
  services/dsrp-web/src/constants/assets.js
  services/dsrp-web/src/routes/Routes.js
Labels: 💻 Frontend

add jenkins config
  bin/build-jenkins.sh
  openshift/templates/tools/jenkins/Dockerfile
  openshift/templates/tools/jenkins/README.md
  openshift/templates/tools/jenkins/_jenkins.bc.json
  openshift/templates/tools/jenkins/_jenkins.dc.json
  openshift/templates/tools/jenkins/_jenkins.role.json
  openshift/templates/tools/jenkins/build.sh
  openshift/templates/tools/jenkins/config.groovy
  openshift/templates/tools/jenkins/configuration/init.groovy.d/00-init.groovy
  openshift/templates/tools/jenkins/configuration/jobs/SYS/config.xml
  openshift/templates/tools/jenkins/configuration/jobs/SYS/jobs/ON_PR_CLOSE/config.xml
  openshift/templates/tools/jenkins/configuration/jobs/SYS/jobs/ON_STARTUP/config.xml
  openshift/templates/tools/jenkins/deploy.sh
  openshift/templates/tools/jenkins/plugins.txt
Labels: 🏭 CI/CD

casing
  services/dsrp-web/package.json
  services/dsrp-web/sonar-project.properties
  services/dsrp-web/src/assets/images/menu.svg
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/hoc/AuthenticationGuard.js
  services/dsrp-web/src/hoc/AuthorizationGuard.js
  services/dsrp-web/src/index.js
  services/dsrp-web/src/tests/hoc/__snapshots__/authenticationGuard.spec.js.snap
  services/dsrp-web/src/tests/hoc/authenticationGuard.spec.js
  services/dsrp-web/src/utils/requestHeaders.js
  services/dsrp-web/src/utils/validate.js
  tmp/core-web-src/index.js
Labels: 💻 Frontend

casing
  services/dsrp-web/src/App.js
  services/dsrp-web/src/constants/assets.js
  services/dsrp-web/src/routes/Routes.js
Labels: 💻 Frontend

First cut at KC changes for web
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
  services/dsrp-web/.env-example
  services/dsrp-web/src/constants/environment.js
  services/dsrp-web/src/fetchEnv.js
  settings/keycloak/keycloak-local-realm.json
  settings/keycloak/keycloak-prod-realm-export.json
  settings/keycloak/keycloak-test-realm-export.json
Labels: 💻 Frontend, 🏭 CI/CD

wip
  openshift/templates/tools/jenkins/_jenkins.dc.json
  openshift/templates/tools/jenkins/build.sh
Labels: 🏭 CI/CD

Update Dockerfile
  openshift/templates/tools/jenkins/Dockerfile
Labels: 🏭 CI/CD

Update gradlew
  openshift/pipeline/gradlew
Labels: 🏭 CI/CD

test
  Jenkinsfile
  openshift/pipeline/config-build.groovy
  openshift/pipeline/config-dev.groovy
Labels: 🏭 CI/CD

change gradlew permission
  openshift/pipeline/gradlew
Labels: 🏭 CI/CD

new routes and pages
  services/dsrp-web/src/components/pages/ReviewApplicationsPage.js
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
  services/dsrp-web/src/constants/routes.js
  services/dsrp-web/src/routes/Routes.js
Labels: 💻 Frontend

Dormant Site Reclamation Project --> Dormant Site Reclamation Program
  services/dsrp-web/README.md
  services/dsrp-web/src/HOC/AuthenticationGuard.js
  services/dsrp-web/src/components/common/wrappers/AuthorizationWrapper.js
  services/dsrp-web/src/components/layout/Header.js
  services/dsrp-web/src/components/pages/LandingPage.js
  services/dsrp-web/src/hoc/AuthenticationGuard.js
  services/dsrp-web/src/tests/components/landingPage/__snapshots__/LandingPage.spec.js.snap
Labels: 💻 Frontend

navbar work wip
  services/dsrp-web/src/HOC/AuthenticationGuard.js
  services/dsrp-web/src/components/layout/HeaderDropdown.js
  services/dsrp-web/src/hoc/AuthenticationGuard.js
Labels: 💻 Frontend

stuff
  services/dsrp-web/src/components/layout/HeaderDropdown.js
  services/dsrp-web/src/routes/Routes.js
Labels: 💻 Frontend

Revert MS auth code to type before isProponent/automatic logout stuff was implemented
  services/dsrp-web/src/HOC/AuthenticationGuard.js
  services/dsrp-web/src/actionCreators/authenticationActionCreator.js
  services/dsrp-web/src/actions/authenticationActions.js
  services/dsrp-web/src/components/common/wrappers/AuthorizationWrapper.js
  services/dsrp-web/src/components/pages/ReturnPage.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/hoc/AuthenticationGuard.js
  services/dsrp-web/src/reducers.js
  services/dsrp-web/src/reducers/authenticationReducer.js
  services/dsrp-web/src/reducers/networkReducer.js
  services/dsrp-web/src/reducers/rootReducer.js
  services/dsrp-web/src/routes/Routes.js
  services/dsrp-web/src/selectors/authenticationSelectors.js
  services/dsrp-web/src/utils/environmentUtils.js
Labels: 💻 Frontend

tidy
  services/dsrp-web/src/components/layout/HeaderDropdown.js
  services/dsrp-web/src/constants/actionTypes.js
  services/dsrp-web/src/reducers/authenticationReducer.js
Labels: 💻 Frontend

tidy
  services/dsrp-web/src/utils/authenticationHelpers.js
Labels: 💻 Frontend

more wip good but needs tidy
  services/dsrp-web/src/components/layout/HeaderDropdown.js
  services/dsrp-web/src/reducers/authenticationReducer.js
Labels: 💻 Frontend

WIP Application
  docker-compose.yml
  migrations/sql/V2020.05.10.15.03__create_application_table.sql
  services/document-manager/backend/app/commands.py
  services/dsrp-api/app/__init__.py
  services/dsrp-api/app/api/application/models/__init__.py
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/namespace.py
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-api/app/api/utils/access_decorators.py
  services/dsrp-api/app/api/utils/models_mixins.py
  services/dsrp-api/app/api/utils/random.py
  services/dsrp-api/app/api/utils/search.py
  services/dsrp-api/app/api/utils/setup_marshmallow.py
  services/dsrp-api/app/api/utils/static_data.py
  services/dsrp-api/app/commands.py
  services/dsrp-api/tests/auth/test_user_auth.py
Labels: 💾 Backend

working application endpoint
  services/document-manager/backend/app/docman/resources/document.py
  services/document-manager/backend/app/utils/include/user_info.py
  services/dsrp-api/app/__init__.py
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/application_status.py
  services/dsrp-api/app/api/orgbook/resources/orgbook_resources.py
  services/dsrp-api/tests/auth/test_auth_decorators.py
Labels: 💾 Backend

dummy auth claims for public
  services/document-manager/backend/app/utils/include/user_info.py
  services/dsrp-api/app/api/utils/include/user_info.py
Labels: 💾 Backend

first pass at a basic form
  migrations/sql/V2020.05.09.11.56__create_submission.sql
  services/dsrp-api/app/api/submission/models/submission.py
  services/dsrp-api/app/api/submission/namespace.py
  services/dsrp-api/app/api/submission/resources/submission.py
  services/dsrp-web/src/actionCreators/submissionActionCreator.js
  services/dsrp-web/src/components/common/RenderCascader.js
  services/dsrp-web/src/components/common/RenderCheckbox.js
  services/dsrp-web/src/components/common/RenderField.js
  services/dsrp-web/src/components/common/RenderFieldWithDropdown.js
  services/dsrp-web/src/components/common/RenderGroupedSelect.js
  services/dsrp-web/src/components/common/RenderLargeSelect.js
  services/dsrp-web/src/components/common/RenderMultiSelect.js
  services/dsrp-web/src/components/common/RenderRadioButtons.js
  services/dsrp-web/src/components/common/RenderScrollField.js
  services/dsrp-web/src/components/common/RenderTime.js
  services/dsrp-web/src/components/common/config.js
  services/dsrp-web/src/components/pages/LandingPage.js
  services/dsrp-web/src/components/pages/SubmissionForm.js
  services/dsrp-web/src/constants/API.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/constants/routes.js
  services/dsrp-web/src/routes/Routes.js
Labels: 💾 Backend, 💻 Frontend

page ui, form step process skeleton
  services/dsrp-web/src/components/layout/HeaderDropdown.js
  services/dsrp-web/src/components/pages/LandingPage.js
  services/dsrp-web/src/components/pages/ReviewApplicationsPage.js
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
  services/dsrp-web/src/styles/components/Header.scss
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

logout of kc, not siteminder
  services/dsrp-web/src/components/layout/HeaderDropdown.js
Labels: 💻 Frontend

Strange artifact removal
  services/dsrp-web/src/HOC/AuthorizationGuard.js
  services/dsrp-web/src/assets/images/menu.svg
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/hoc/AuthenticationGuard.js
  services/dsrp-web/src/tests/HOC/authenticationGuard.spec.js
  services/dsrp-web/src/tests/hoc/__snapshots__/authenticationGuard.spec.js.snap
  services/dsrp-web/src/utils/requestHeaders.js
  services/dsrp-web/src/utils/validate.js
Labels: 💻 Frontend

merge justin pr, form is still obs a wip
  migrations/sql/V2020.05.09.11.56__create_submission.sql
  services/dsrp-web/src/actionCreators/submissionActionCreator.js
  services/dsrp-web/src/components/pages/LandingPage.js
  services/dsrp-web/src/components/pages/SubmissionForm.js
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
  services/dsrp-web/src/constants/API.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/forms.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/constants/routes.js
  services/dsrp-web/src/routes/Routes.js
Labels: 💻 Frontend

merge justin pr, form is still obs a wip 2
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/components/forms/ApplicationForm.js
Labels: 💻 Frontend

Use correct sm test url
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-test.groovy
Labels: 🏭 CI/CD

Update OCP version library
  openshift/pipeline/build.gradle
Labels: 🏭 CI/CD

Revert "Strange artifact removal"
  services/dsrp-web/src/assets/images/menu.svg
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/hoc/AuthenticationGuard.js
  services/dsrp-web/src/tests/hoc/__snapshots__/authenticationGuard.spec.js.snap
  services/dsrp-web/src/utils/requestHeaders.js
  services/dsrp-web/src/utils/validate.js
Labels: 💻 Frontend

Logout with SM
  openshift/templates/_nodejs.dc.json
  services/dsrp-web/.env-example
  services/dsrp-web/src/constants/environment.js
Labels: 💻 Frontend, 🏭 CI/CD

Update OCP library to version 0.0.7
  openshift/pipeline/build.gradle
Labels: 🏭 CI/CD

Back to SM logout
  services/dsrp-web/src/components/layout/HeaderDropdown.js
Labels: 💻 Frontend

get form working, fix application model, other
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
Labels: 💾 Backend, 💻 Frontend
