Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

Change structure of data, use helper sorter function
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/reducers/applicationReducer.js
  services/dsrp-web/src/selectors/applicationSelectors.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💾 Backend, 💻 Frontend

Fix rounding display of progress
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
Labels: 💻 Frontend

Provide application guid in contracted work obj
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Add another way to view previously uploaded EoC/Final Report in forms
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
Labels: 💻 Frontend

INTERIM_EOC should be FINAL_EOC in final endpoint
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
Labels: 💾 Backend

Consisent column name formatting, fix bug with rowKey property, applicationDocumentType selectors and use in Document Type column for application documents
  services/dsrp-web/src/components/common/DocumentTable.js
  services/dsrp-web/src/components/pages/PaymentDocumentTable.js
  services/dsrp-web/src/components/pages/ViewApplicationDocuments.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
  services/dsrp-web/src/reducers/staticContentReducer.js
  services/dsrp-web/src/selectors/staticContentSelectors.js
Labels: 💻 Frontend

Rename func, get interim/final payment amounts from the new data structure
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/payment_document.py
Labels: 💾 Backend

Potential badge status colours to demonstrate, as requested
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

Hide EoC docs in table for now, badge styling for statuses, other
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-web/src/components/modalContent/ContractedWorkPaymentModal.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/styles/overrides/antd-overrides.scss
Labels: 💾 Backend, 💻 Frontend

Hide badges for now
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
Labels: 💻 Frontend

Change var name to be more appropriate
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-web/src/components/common/FileUpload.js
Labels: 💾 Backend, 💻 Frontend

Put badge styling back to normal
  services/dsrp-web/src/styles/overrides/antd-overrides.scss
Labels: 💻 Frontend

Fix bug with custom pagination function
  services/dsrp-api/app/api/utils/helpers.py
Labels: 💾 Backend

Fix sorting for well auth and work id
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
Labels: 💾 Backend

FE code for fetching all approved contracted work items
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/actions/applicationActions.js
  services/dsrp-web/src/constants/actionTypes.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/reducerTypes.js
  services/dsrp-web/src/reducers/applicationReducer.js
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💻 Frontend

Route/menu setup for approved contracted work admin page
  services/dsrp-web/src/components/layout/HeaderDropdown.js
  services/dsrp-web/src/constants/routes.js
  services/dsrp-web/src/routes/Routes.js
Labels: 💻 Frontend

WIP page/table for admin approved contracted work view
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/admin/ReviewApprovedContractedWorkInfo.js
  services/dsrp-web/src/components/pages/ReviewApprovedContractedWorkPage.js
Labels: 💻 Frontend

Popover is not defined
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
Labels: 💻 Frontend

Allow interim/final status codes to be or'd if both provided, fix typo
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
Labels: 💾 Backend

Tidy function & styling in application table
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

Remove wording for status that doesn't exist
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
Labels: 💻 Frontend

Add static content selectors for contracted work types
  services/dsrp-web/src/constants/contract_work_sections.js
  services/dsrp-web/src/reducers/staticContentReducer.js
  services/dsrp-web/src/selectors/staticContentSelectors.js
Labels: 💻 Frontend

More WIP filtering/sorting work
  services/dsrp-web/src/components/admin/ReviewApprovedContractedWorkInfo.js
  services/dsrp-web/src/components/pages/ReviewApprovedContractedWorkPage.js
Labels: 💻 Frontend

More WIP filtering/sorting work
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
Labels: 💻 Frontend

Improve performance of hybrid property/method
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Remove unneeded code
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment_status_change.py
Labels: 💾 Backend

Increase performance of endpoint (do filtering if necessary, use better hybrid property)
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
Labels: 💾 Backend

Tidy pagination function
  services/dsrp-api/app/api/utils/helpers.py
Labels: 💾 Backend

Increase performance HUGELY... holy smokes.
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Increase performance for model
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
Labels: 💾 Backend

Improve performance when filtering by application ID
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
Labels: 💾 Backend

This is faster
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/application_document.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
Labels: 💾 Backend

selectin is better here/performance increase
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
Labels: 💾 Backend

Upgrade some reqs
  services/dsrp-api/requirements.txt
Labels: 💾 Backend

Remove unrequired model relationships, change lazy loading types, remove unneeded code
  services/dsrp-api/app/api/application/models/application_document.py
  services/dsrp-api/app/api/application/models/application_status.py
  services/dsrp-api/app/api/application/models/application_status_change.py
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment_status_change.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment_type.py
Labels: 💾 Backend

Fix wrong name
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
Labels: 💾 Backend

Reinstate deleted function
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
Labels: 💾 Backend

Can select pagesize for pages with tables, tidy constants
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/constants/strings.js
Labels: 💻 Frontend

Use proper constants
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/components/pages/PaymentDocumentTable.js
Labels: 💻 Frontend

application_id filter check is not needed here as it's done above
  services/dsrp-api/app/api/application/resources/application_approved_contracted_work.py
Labels: 💾 Backend

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*
