Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

Ref repository variable update
  openshift4/templates/metabase.bc.yaml
Labels: none

Update metabase psql name
  openshift4/templates/metabase-postgres.bc.yaml
Labels: none

Database backup volume
  openshift4/templates/dbbackup.dc.yaml
Labels: none

Update backend dc
  openshift4/templates/backend.dc.yaml
Labels: none

Correct yaml format in backup dc
  openshift4/templates/dbbackup.dc.yaml
Labels: none

Adjust params of metabase dcs
  openshift4/templates/metabase-postgres.dc.yaml
  openshift4/templates/metabase.dc.yaml
Labels: none

Fix key value error in secret
  openshift4/templates/dbbackup.dc.yaml
Labels: none

Remove metabase postgres is in dev
  openshift4/templates/metabase-postgres.dc.yaml
Labels: none

Metabase postgres point to image namespace
  openshift4/templates/metabase-postgres.dc.yaml
Labels: none

Remove mb psql from start build list
  .github/workflows/build.yaml
Labels: none

Congeal base and assetpath
  openshift4/templates/frontend.bc.yaml
Labels: none

Change to basepath/assetpath
  openshift4/templates/frontend.bc.yaml
Labels: none

Remove suffix from metabase db hostname
  openshift4/templates/metabase.dc.yaml
Labels: none

Update environment variables
  .github/workflows/deploy-dev.yaml
  .github/workflows/deploy-prod.yaml
  .github/workflows/deploy-test.yaml
  openshift4/templates/frontend.dc.yaml
Labels: none

Add tusd url
  .github/workflows/deploy-dev.yaml
  .github/workflows/deploy-prod.yaml
  .github/workflows/deploy-test.yaml
Labels: none

Updates to backend dc
  openshift4/templates/backend.dc.yaml
  openshift4/templates/nginx.dc.yaml
Labels: none

Update docgen image
  openshift4/templates/docgen.bc.yaml
  openshift4/templates/tusd.bc.yaml
Labels: none

Silly errors
  .github/workflows/deploy-prod.yaml
  .github/workflows/deploy-test.yaml
Labels: none

Add metabase to image promotion workflows
  .github/workflows/promote-to-prod.yaml
  .github/workflows/promote-to-test.yaml
Labels: none

Match postgres and backend db secret
  openshift4/templates/postgresql.dc.yaml
Labels: none

Fix docgen port
  openshift4/templates/docgen.dc.yaml
Labels: none

Use new test api values
  .github/workflows/deploy-test.yaml
Labels: none

Change app domain
  .github/workflows/deploy-dev.yaml
  .github/workflows/deploy-prod.yaml
  .github/workflows/deploy-test.yaml
Labels: none

Update prod values
  .github/workflows/deploy-prod.yaml
Labels: none

Add bc build history limits
  openshift4/templates/backend.bc.yaml
  openshift4/templates/dbbackup.bc.yaml
  openshift4/templates/flyway.bc.yaml
  openshift4/templates/frontend.bc.yaml
  openshift4/templates/metabase.bc.yaml
  openshift4/templates/nginx.bc.yaml
  openshift4/templates/tusd.bc.yaml
Labels: none

Do not call rollouts for data stores in deploys
  .github/workflows/build.yaml
  .github/workflows/promote-to-prod.yaml
  .github/workflows/promote-to-test.yaml
Labels: none

Update R__work_info_view.sql
  migrations/sql/R__work_info_view.sql
Labels: none

Update workflows for default branch
  .github/workflows/build.yaml
  .github/workflows/promote-to-prod.yaml
  .github/workflows/promote-to-test.yaml
  .github/workflows/simple.yaml
Labels: none

Update branch triggers
  .github/workflows/build.yaml
  .github/workflows/deploy-dev.yaml
  .github/workflows/deploy-prod.yaml
Labels: none

Add path conditionals to workflows
  .github/workflows/build.yaml
  .github/workflows/deploy-prod.yaml
Labels: none

Create V2021.07.28.11.18__add_po_number_2_to_company_payment_info.sql
  migrations/sql/V2021.07.28.11.18__add_po_number_2_to_company_payment_info.sql
Labels: none

Add PO Number 2 column/property to model and forms etc. + tidy imports/formatting
  services/dsrp-api/app/api/application/models/payment_document.py
  services/dsrp-api/app/api/company_payment_info/models/company_payment_info.py
  services/dsrp-api/app/api/company_payment_info/resources/company_payment_info.py
  services/dsrp-web/src/components/admin/CompanyPaymentInfoTable.js
  services/dsrp-web/src/components/admin/ManageCompanyPaymentInfo.js
  services/dsrp-web/src/components/forms/AdminEditCompanyPaymentInfoForm.js
Labels: 💾 Backend, 💻 Frontend

Update response_models.py
  services/dsrp-api/app/api/company_payment_info/response_models.py
Labels: 💾 Backend

Tidy
  services/dsrp-web/src/components/admin/CompanyPaymentInfoTable.js
  services/dsrp-web/src/components/admin/ManageCompanyPaymentInfo.js
Labels: 💻 Frontend

Tidy
  services/dsrp-web/src/components/admin/ManageCompanyPaymentInfo.js
Labels: 💻 Frontend

Remove sonarqube
  openshift/docker-images/nodejs-10/Dockerfile
  openshift/docker-images/python-36/Dockerfile
Labels: 🏭 CI/CD

Remove sonarqube tests and deploy
  openshift/templates/sonar.pod.json
  openshift/templates/tools/sonarqube/Sonar-Readme.md
  openshift/templates/tools/sonarqube/build.sh
  openshift/templates/tools/sonarqube/config.groovy
  openshift/templates/tools/sonarqube/deploy.sh
  openshift/templates/tools/sonarqube/postgresql.bc.json
  openshift/templates/tools/sonarqube/sonarqube.bc.json
  openshift/templates/tools/sonarqube/sonarqube.dc.json
  openshift4/templates/sonar.pod.yaml
  services/dsrp-api/run_tests.sh
  services/dsrp-api/sonar-project.properties
  services/dsrp-web/run_tests.sh
  services/dsrp-web/sonar-project.properties
Labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

Remove sonarqube in base builds (#73)
  openshift/docker-images/nodejs-10/Dockerfile
  openshift/docker-images/python-36/Dockerfile
  openshift/templates/sonar.pod.json
  openshift/templates/tools/sonarqube/Sonar-Readme.md
  openshift/templates/tools/sonarqube/build.sh
  openshift/templates/tools/sonarqube/config.groovy
  openshift/templates/tools/sonarqube/deploy.sh
  openshift/templates/tools/sonarqube/postgresql.bc.json
  openshift/templates/tools/sonarqube/sonarqube.bc.json
  openshift/templates/tools/sonarqube/sonarqube.dc.json
  openshift4/templates/sonar.pod.yaml
  services/dsrp-api/run_tests.sh
  services/dsrp-api/sonar-project.properties
  services/dsrp-web/run_tests.sh
  services/dsrp-web/sonar-project.properties
Labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

Implement account coding for nomination phase
  services/dsrp-api/app/api/application/models/payment_document.py
Labels: 💾 Backend

WIP push + add hosts files
  AddHosts.ps1
  AddHosts.sh
  USAGE.md
Labels: none

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*
