Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

Update account coding
  services/dsrp-api/app/api/application/models/payment_document.py
Labels: 💾 Backend

Shrink Prod PVC sizes
  openshift/pipeline/config-prod.groovy
Labels: 🏭 CI/CD

Update shared_cost_agreement.docx
  services/dsrp-api/app/templates/shared_cost_agreement.docx
Labels: 💾 Backend

Update shared_cost_agreement.docx
  services/dsrp-api/app/templates/shared_cost_agreement.docx
Labels: 💾 Backend

Create V2021.04.23.14.53__add_estimated_cost_overrides_to_application.sql
  migrations/sql/V2021.04.23.14.53__add_estimated_cost_overrides_to_application.sql
Labels: none

Add estimated_cost_overrides to models
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/response_models.py
Labels: 💾 Backend

WIP work
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💻 Frontend

WIP work
  services/dsrp-api/app/api/application/namespace.py
  services/dsrp-api/app/api/application/resources/application_estimated_cost_override.py
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/admin/ReviewApplicationInfo.js
  services/dsrp-web/src/components/forms/AdminOverrideEstimatedCostForm.js
  services/dsrp-web/src/components/forms/ApplicationStatusForm.js
  services/dsrp-web/src/components/modalContent/AdminOverrideEstimatedCostModal.js
  services/dsrp-web/src/components/modalContent/config.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/forms.js
  services/dsrp-web/src/constants/reducerTypes.js
Labels: 💾 Backend, 💻 Frontend

Change namespace
  bin/build-jenkins.sh
Labels: none

Change PR#
  openshift/templates/tools/jenkins/build.sh
Labels: 🏭 CI/CD

Point to forked pipeline
  openshift/templates/tools/jenkins/build.sh
  openshift/templates/tools/jenkins/deploy.sh
Labels: 🏭 CI/CD

Add executable to scripts
  openshift/templates/tools/jenkins/build.sh
  openshift/templates/tools/jenkins/deploy.sh
Labels: 🏭 CI/CD

Replace eazios with 269007
  bin/build-jenkins.sh
  bin/delete-pr.sh
  openshift/pipeline/config-build.groovy
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
  openshift/pipeline/src/groovy/Zap.groovy
  openshift/templates/_nodejs.dc.json
  openshift/templates/sonar.pod.json
  openshift/templates/tools/jenkins/_jenkins.role.json
  openshift/templates/tools/jenkins/config.groovy
  openshift/templates/tools/sonarqube/config.groovy
  openshift/templates/zap.pod.json
  services/dsrp-web/src/constants/environment.js
Labels: 💻 Frontend, 🏭 CI/CD

Fix null check
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💻 Frontend

Remove debug
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

Can set overrides to None properly
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-web/src/components/forms/AdminOverrideEstimatedCostForm.js
Labels: 💾 Backend, 💻 Frontend

$0 may be valid for override
  services/dsrp-web/src/selectors/applicationSelectors.js
Labels: 💻 Frontend

Fix overrides not being updated
  services/dsrp-api/app/api/application/resources/application_estimated_cost_override.py
Labels: 💾 Backend

Remove null overrides
  services/dsrp-api/app/api/application/resources/application_estimated_cost_override.py
Labels: 💾 Backend

Upgrade summing functions
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

Tidy function
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

More work
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/components/modalContent/AdminOverrideEstimatedCostModal.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
Labels: 💾 Backend, 💻 Frontend

Change tooltip position
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
Labels: 💻 Frontend

Update condition check
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

Remove debug
  services/dsrp-web/src/components/admin/ApplicationTable.js
Labels: 💻 Frontend

More info in override modal, other ux tweaks
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/components/forms/AdminOverrideEstimatedCostForm.js
  services/dsrp-web/src/components/modalContent/AdminOverrideEstimatedCostModal.js
Labels: 💻 Frontend

This is unused
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
Labels: 💻 Frontend

Show adjusted estimated cost on docs
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Remove todos
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Remove todo
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
Labels: 💻 Frontend

Remove docker-image file links in nodejs-10 folder
  openshift/docker-images/nodejs-10/package-lock.json
  openshift/docker-images/nodejs-10/package.json
Labels: 🏭 CI/CD

Remove fs links for dependency files in build
  openshift/docker-images/nodejs-10/package-lock.json
  openshift/docker-images/nodejs-10/package.json
  openshift/docker-images/python-36/requirements.txt
Labels: 🏭 CI/CD

Update column label
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
Labels: 💻 Frontend

Change to DNF
  migrations/Dockerfile
Labels: none

Implement basic IaC through github actions
  .github/workflows/build.yaml
  openshift/templates/nginx.bc.yaml
Labels: 🏭 CI/CD

Move to openshift4 root folder
  .github/workflows/build.yaml
  openshift4/templates/nginx.bc.yaml
Labels: none

Adding converted templates
  openshift4/templates/_nginx.bc.yaml
  openshift4/templates/_nginx.dc.yaml
  openshift4/templates/_nodejs.bc.yaml
  openshift4/templates/_nodejs.dc.yaml
  openshift4/templates/_python36.bc.yaml
  openshift4/templates/_python36.dc.yaml
  openshift4/templates/config/object-store-credentials.yaml
  openshift4/templates/config/smtp-credentials.yaml
  openshift4/templates/config/template.dsrp-metabase-key.yaml
  openshift4/templates/config/template.dsrp-postgresql-secret.yaml
  openshift4/templates/config/template.dsrp-redis-secret.yaml
  openshift4/templates/config/template.dsrp-rocket-chat-integrations.yaml
  openshift4/templates/dbbackup.bc.yaml
  openshift4/templates/dbbackup.dc.yaml
  openshift4/templates/docgen.bc.yaml
  openshift4/templates/docgen.dc.yaml
  openshift4/templates/flyway.bc.yaml
  openshift4/templates/postgresql.bc.yaml
  openshift4/templates/postgresql.dc.yaml
  openshift4/templates/redis.dc.yaml
  openshift4/templates/sonar.pod.yaml
  openshift4/templates/tools/metabase-postgres.bc.yaml
  openshift4/templates/tools/metabase-postgres.dc.yaml
  openshift4/templates/tools/metabase.bc.yaml
  openshift4/templates/tools/metabase.dc.yaml
  openshift4/templates/tusd.bc.yaml
  openshift4/templates/tusd.dc.yaml
  openshift4/templates/zap.pod.yaml
Labels: none

Add actrc
  .actrc
  .gitignore
  openshift4/templates/_nginx.bc.yaml
Labels: none

Add ordered job for starting builds
  .github/workflows/build.yaml
Labels: none

Update nginx bc
  openshift4/templates/_nginx.bc.yaml
  openshift4/templates/nginx.bc.yaml
Labels: none
