Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*

Put secret reference in dc python
  openshift/templates/_python36.dc.json
Labels: 🏭 CI/CD

add jsonb index, minor changes
  migrations/sql/V2020.05.23.10.28__create_json_index.sql
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Get and display the permit holder's organization name in the name (or display the operator ID if an error occurs)
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/permit_holder/resources/permit_holder.py
Labels: 💾 Backend

only send email on confirm_final_documents
  services/dsrp-api/app/api/application/resources/application_document.py
Labels: 💾 Backend

Better conditional rendering of company contact info
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

added a checkbox to document upload form
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
Labels: 💻 Frontend

use real status code
  services/dsrp-api/app/api/application/resources/application_document.py
Labels: 💾 Backend

permissions
  services/dsrp-api/app/api/application/resources/application_document.py
Labels: 💾 Backend

Improved conditional rendering of optional fields
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Revert changes to render field...
  services/dsrp-web/src/components/common/RenderField.js
Labels: 💻 Frontend

updated documents
  services/dsrp-web/src/actionCreators/uploadDocumentsActionCreator.js
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
  services/dsrp-web/src/components/pages/ViewApplicationStatusPage.js
Labels: 💻 Frontend

updated
  services/dsrp-web/src/actionCreators/uploadDocumentsActionCreator.js
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
Labels: 💻 Frontend

Safe display of dates, dollar amounts
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Remove loggers
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

check status first
  services/dsrp-api/app/api/application/resources/application_document.py
Labels: 💾 Backend

bind new column
  services/dsrp-api/app/api/application/models/application_status.py
Labels: 💾 Backend

Formatting improved
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Remove first header
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

revert changes from testing
  services/dsrp-api/app/api/application/resources/application.py
Labels: 💾 Backend

Move some content to constants file
  services/dsrp-api/app/api/application/constants.py
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

remove unneeded imports
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

Add wording to email
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

should be dsrp-applications/
  openshift/templates/tusd.dc.json
Labels: 🏭 CI/CD

updated documents
  services/dsrp-web/src/actionCreators/uploadDocumentsActionCreator.js
  services/dsrp-web/src/components/forms/DocumentUploadForm.js
Labels: 💻 Frontend

simplify submitter email
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

DSR-117 api validates json (#88)
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-api/app/api/constants.py
  services/dsrp-api/app/extensions.py
Labels: 💾 Backend

merge conflicts
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

refresh object to bind parent application
  services/dsrp-api/app/api/application/resources/application_document.py
  services/dsrp-api/app/api/documents/resources/download.py
Labels: 💾 Backend

typo
  services/dsrp-api/app/api/application/resources/application_document.py
Labels: 💾 Backend

added descriptions to hover over status
  services/dsrp-web/src/components/admin/ApplicationTable.js
  services/dsrp-web/src/selectors/staticContentSelectors.js
  services/dsrp-web/src/utils/helpers.js
Labels: 💻 Frontend

turn off file optimization
  services/dsrp-api/uwsgi.ini
Labels: 💾 Backend

added tabs to application view to seperate documents and application
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
Labels: 💻 Frontend

updated loading, tabs padding
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
Labels: 💻 Frontend

Fix styling, fix closing tags, fix <br/> tag
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend

updated status view to include email
  services/dsrp-web/src/components/pages/ApplicationStatusCard.js
Labels: 💻 Frontend

move truncate to other file
  migrations/sql/V2020.05.22.16.50__application_status_change.sql
  migrations/sql/V2020.05.22.16.51__new_application_status.sql
Labels: none

content changes
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
Labels: 💻 Frontend

small fixes
  services/dsrp-web/src/components/forms/ApplicationForm.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/pages/ApplicationSuccessPage.js
  services/dsrp-web/src/components/pages/SubmitApplicationPage.js
Labels: 💻 Frontend

First well site always starts expanded, better display of well site errors, well site issues text in header
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/styles/generic/helpers.scss
Labels: 💻 Frontend

prevent status_change injection
  services/dsrp-api/app/api/application/models/application.py
Labels: 💾 Backend
