Repository bcgov/dormant-site-reclamation-program, changes with the labels that .github/labeler.yml gives for each.
All labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

Remove General tab for now
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
Labels: 💻 Frontend

Remove unneeded code
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
Labels: 💻 Frontend

Create V2020.09.16.08.26__add_auditing_columns_to_contracted_work_payment.sql
  migrations/sql/V2020.09.16.08.26__add_auditing_columns_to_contracted_work_payment.sql
Labels: none

CWP audit resource + model attributes
  services/dsrp-api/app/api/application/namespace.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
Labels: 💾 Backend

Remove unneeded code, fix bug with not updating Create PRF dropdown when changes have been made
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/admin/ReviewApprovedContractedWorkInfo.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

Remove middle border from table header
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

MDS-3018: DSRP - Indicate overall payment/EoC submission progress to applicant
  services/dsrp-web/src/components/pages/ApplicationStatusCard.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/styles/components/Tables.scss
  services/dsrp-web/src/styles/generic/layout.scss
Labels: 💻 Frontend

Administrative tab for auditing purposes
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-api/app/api/contracted_work/response_models.py
  services/dsrp-web/src/actionCreators/applicationActionCreator.js
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/admin/ReviewApprovedContractedWorkInfo.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/constants/api.js
  services/dsrp-web/src/constants/reducerTypes.js
Labels: 💾 Backend, 💻 Frontend

MDS-3018: refactoring
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/constants/payments.js
  services/dsrp-web/src/utils/paymentHelper.js
Labels: 💻 Frontend

Spaces
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
Labels: 💻 Frontend

Change audit text
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
Labels: 💻 Frontend

MDS-3018: added parseFloat to calculations
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
  services/dsrp-web/src/utils/paymentHelper.js
Labels: 💻 Frontend

MDS-3018: wording updates
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
Labels: 💻 Frontend

Remove "Selected for Audit"
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
Labels: 💻 Frontend

Update ContractedWorkPaymentView.js
  services/dsrp-web/src/components/pages/ContractedWorkPaymentView.js
Labels: 💻 Frontend

DSRP: fixed document type
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
Labels: 💻 Frontend

Fix session timer in header layout issues, change wording
  services/dsrp-web/src/actionCreators/authorizationActionCreator.js
  services/dsrp-web/src/components/common/AuthorizationTimer.js
  services/dsrp-web/src/components/layout/Header.js
  services/dsrp-web/src/styles/components/Header.scss
Labels: 💻 Frontend

Allow applicant to edit their Interim Report in the Interim Submission tab when status is set back to Information Required
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
Labels: 💻 Frontend

Improve tooltip position (middle)
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
Labels: 💻 Frontend

Show due date in review modal, fix issue with showing incorrect days left to review
  services/dsrp-web/src/components/admin/ApprovedContractedWorkPaymentTable.js
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
Labels: 💻 Frontend

Create V2020.09.22.08.17__update_company_payment_info_record.sql
  migrations/sql/V2020.09.22.08.17__update_company_payment_info_record.sql
Labels: none

Fix bug with reclamation_was_achieved value
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
Labels: 💾 Backend

Fix issue with parseBool function
  services/dsrp-api/app/api/contracted_work/resources/contracted_work_payment.py
  services/dsrp-web/package-lock.json
Labels: 💾 Backend, 💻 Frontend

fix bug with submit booleans
  services/dsrp-web/src/components/forms/ContractedWorkPaymentForm.js
  services/dsrp-web/src/utils/validate.js
Labels: 💻 Frontend

Don't enforce validation on fields when the admin isn't even on that tab
  services/dsrp-web/src/components/forms/AdminChangeContractedWorkPaymentStatusForm.js
Labels: 💻 Frontend

Create V2020.10.09.15.10__update_company_payment_info_record.sql
  migrations/sql/V2020.10.09.15.10__update_company_payment_info_record.sql
Labels: none

swap keycloak url
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-prod.groovy
  openshift/pipeline/config-test.groovy
  openshift/templates/_nodejs.dc.json
  services/dsrp-api/.env-dev-local-keycloak
  services/dsrp-api/.env-example
  services/dsrp-api/app/config.py
  services/dsrp-web/.env-example
  services/dsrp-web/src/constants/environment.js
  settings/keycloak/keycloak-test-realm-export.json
Labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

typo in url
  openshift/pipeline/config-dev.groovy
  openshift/pipeline/config-test.groovy
  openshift/templates/_nodejs.dc.json
  services/dsrp-api/.env-dev-local-keycloak
  services/dsrp-api/.env-example
  services/dsrp-api/app/config.py
  services/dsrp-web/.env-example
  services/dsrp-web/src/constants/environment.js
  settings/keycloak/keycloak-test-realm-export.json
Labels: 💾 Backend, 💻 Frontend, 🏭 CI/CD

Create "application phase type" and set it up for existing and new applications
  migrations/sql/V2021.01.20.08.10__create_application_phase_type_table.sql
  migrations/sql/V2021.01.20.08.20__alter_application_table_add_column_application_phase_code.sql
  services/dsrp-api/app/api/application/models/__init__.py
  services/dsrp-api/app/api/application/models/application.py
  services/dsrp-api/app/api/application/models/application_document_type.py
  services/dsrp-api/app/api/application/models/application_phase_type.py
  services/dsrp-api/app/api/application/models/application_status.py
  services/dsrp-api/app/api/application/models/payment_document_type.py
  services/dsrp-api/app/api/application/resources/application.py
  services/dsrp-api/app/api/application/response_models.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment_status.py
  services/dsrp-api/app/api/contracted_work/models/contracted_work_payment_type.py
  services/dsrp-api/app/api/dsrp_settings/models/dsrp_settings.py
  services/dsrp-api/app/api/exports/response_models.py
  services/dsrp-api/app/api/exports/static_content/resources/static_content_resource.py
Labels: 💾 Backend

Add tooltip to email field
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

Remove unneeded fragment
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

Pass application phase prop through to necessary components
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/ViewOnlyApplicationForm.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
Labels: 💻 Frontend

Revert "Pass application phase prop through to necessary components"
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/ViewOnlyApplicationForm.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
Labels: 💻 Frontend

MDS-3265: initial set up
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/constants/strings.js
Labels: 💻 Frontend

Pass application through properly
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
  services/dsrp-web/src/components/forms/ViewOnlyApplicationForm.js
  services/dsrp-web/src/components/pages/ViewApplicationPage.js
Labels: 💻 Frontend

application is not required prop
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
  services/dsrp-web/src/components/forms/ApplicationSectionThree.js
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

MDS-3265: disable validation of eligibility criteria on application creation
  services/dsrp-web/src/components/forms/ApplicationSectionTwo.js
Labels: 💻 Frontend

wip
  services/dsrp-web/src/components/common/OrgBookSearch.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

WIP work
  services/dsrp-web/src/components/common/RenderMultiSelect.js
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

Adjust values
  services/dsrp-web/src/components/forms/ApplicationSectionOne.js
Labels: 💻 Frontend

.github/labeler.yml:

💾 Backend:
  - services/dsrp-api/**/*

💻 Frontend:
  - services/dsrp-web/**/*

🏭 CI/CD:
  - openshift/**/*
